<template id="precision">
    {% include "app/score/precision.html" %}
</template>

<template id="recall">
    {% include "app/score/recall.html" %}
</template>

<template id="f1">
    {% include "app/score/f1.html" %}
</template>

<template id="appr-precision">
    {% include "app/score/a_precision.html" %}
</template>

<template id="appr-recall">
    {% include "app/score/a_recall.html" %}
</template>

<template id="appr-f1">
    {% include "app/score/a_f1.html" %}
</template>

<template id="ah">
    {% include "app/score/ah.html" %}
</template>

<template id="ap">
    {% include "app/score/ap.html" %}
</template>
