<div class="gs-settings">
    {% if  gs_availability == 'public' %}
        <div class="label">Public</div>
    {% else %}
        <div class="label">Private</div>
    {% endif %}

    {% if  gs_mode != 'score' %}
        <div class="label">Info Mode</div>
    {% else %}
        <div class="label">Score Mode</div>
    {% endif %}

</div>
