{% extends "app/base-dashboard.html" %}

{% block title %}
    Membership |  {{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}

    <div id="membership" class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                {% if request.user.is_superuser %}
                    <div>
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#users" aria-controls="users" role="tab" data-toggle="tab">Membership</a>
                            </li>
                            <li><a href="#uploads" aria-controls="uploads" role="tab" data-toggle="tab">Uploads</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="active tab-pane" id="users">
                                <ul class="list-group">
                                    {% if user_list %}
                                        {% for other in user_list %}
                                            <li class="list-group-item flex align-middle space-between">
                                                <div class="user-block flex align-middle">
                                                    <img class="img-circle img-bordered-sm" id="form-avatar"
                                                         src="{{ other.userprofile.avatar.url }}"
                                                         alt="User profile picture"/>
                                                    <span class="username">
                                                            {{ other.username }}
{#                                                                <a href="{% url 'profile' %}?user={{ other.username }}">{{ other.username }}</a>#}
                                                            </span>
                                                </div>

                                                <div class="is-staff-switch">

                                                    <label class="switch">
                                                        <input name="{{ other.username }}"
                                                               type="checkbox"
                                                               aria-label="Checkbox for following text input"
                                                                {% if other.is_staff %} checked {% endif %}/>

                                                        <span class="slider round"></span>

                                                    </label>
                                                    Staff

                                                </div>

                                            </li>
                                        {% endfor %}
                                    {% else %}
                                        <li class="list-group-item">There are no users</li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="uploads">
                                <div class="table-responsive table-wrapper">
                                    {% if annotations %}
                                        <table class="table table-bordered sde-table">
                                            <tr>
                                                <th>ID</th>
                                                <th>User</th>
                                                <th>GS</th>
                                                <th>Task</th>
                                                <th>Load Date</th>
                                                <th>Status</th>
                                            </tr>
                                            {% for ann in annotations %}
                                                <tr>
                                                    <td class="text-center">{{ ann.id }}</td>
                                                    <td>{{ ann.user }}</td>
                                                    <td>{{ ann.gs }}</td>
                                                    <td class="text-center">{{ ann.task }}</td>
                                                    <td>{{ ann.added_date }}</td>
                                                    <td class="text-center">
                                                        {% if ann.todo %}
                                                            <div class="status-label pending">Pending</div>
                                                        {% else %}
                                                            <div class="status-label success">Loaded</div>
                                                        {% endif %}
                                                    </td>


                                                </tr>
                                            {% endfor %}
                                        </table>
                                    {% else %}
                                        <div class="align-to-tab bigger-text">
                                            There are no submissions to display
                                        </div>

                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>

      $(function () {
        var csrftoken = getCookie('csrftoken');

        $.ajaxSetup({
          beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader('X-CSRFToken', csrftoken);
            }
          }
        });
      });
    </script>
    <script>
      $('.is-staff-switch input').on('change', function () {
        const username = this.name;
        $.ajax({
          url: "{% url 'edit-user-status' %}",
          type: 'PUT',
          dataType: 'json',
          data: { username: username },
          success: function (response) {

          }
        });
      });
    </script>

{% endblock %}


