{% extends "app/base-dashboard.html" %}

{% block title %}
    Annotations List |  {{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}

    <div id="upload-list">

        {% if has_no_data %}

            <div class="no-data">

                <div class="main-text">
                    No annotations loaded
                </div>

                <a href="{% url 'load' %}" class="btn btn-outline-primary btn-lg">
                    Upload some annotations
                </a>


            </div>

        {% else %}

            <div class="gs-col">

                <div class="gs-item section-label">
                    Gold Standards
                </div>

                {% for gs_name in gs_list %}


                    {% if gs_name == request.GET.gs %}

                        <div>

                            <div class="gs-item link active">
                                {{ gs_name }}
                            </div>

                            <div class="tasks">

                                {% for task_key, task_value in tasks.items %}

                                    <a href="{% url 'leaderboard' %}?gs={{ request.GET.gs }}&task={{ task_key }}"
                                       class="task-item link
                                    {% if task_key == request.GET.task %}
                                        active
                                    {% endif %}"
                                    >

                                        {{ task_key }}

                                    </a>

                                {% endfor %}

                            </div>

                        </div>


                    {% else %}
                        <a href="{% url 'leaderboard' %}?gs={{ gs_name }}"
                           class="gs-item link ">
                            {{ gs_name }}
                        </a>
                    {% endif %}
                {% endfor %}

            </div>


            <div class="upload-col">

                <div class="section-label">
                    My Annotations
                </div>

                <canvas id="history-chart"></canvas>

                <div class="table-responsive">

                    <table class="table table-bordered sde-table">

                        <thead>
                        <tr>
                            <th>Upload date</th>
                            <th>Score</th>
                            <th>Actions</th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for gs_key, value in data.items %}

                            {% for task, uploads in value.tasks.items %}

                                {% for id, ann in uploads.items %}

                                    <tr id="{{ gs_key }}-{{ task }}-{{ forloop.counter0 }}" data-gs="{{ gs_key }}"
                                        data-task="{{ task }}" data-ann-id="{{ id }}">

                                        <td class="upload-item">
                                            {{ ann.added_date }}
                                        </td>

                                        <td class="upload-item">
                                            {% for sname, svalue in ann.score.items %}
                                                <span>
                                                    {{ sname|title }} {{ svalue | floatformat:3 }}
                                                </span>
                                            {% endfor %}
                                        </td>

                                        <td>
                                            {% if value.gs_settings.mode == 'info' %}
                                                <a href="{% url 'evaluation' id %}"
                                                   class="btn btn-secondary btn-xs">
                                                    <i class="fas fa-cogs"></i>
                                                    <span>View evaluation</span>
                                                </a>
                                            {% endif %}

                                            <button type="button"
                                                    data-toggle="modal" data-target="#deleteConfirm"
                                                    data-item="{{ gs_key }}-{{ task }}-{{ forloop.counter0 }}"
                                                    class="btn btn-outline-danger btn-xs ">
                                                <i class="fas fa-trash"></i>
                                                <span>Delete</span>
                                            </button>
                                        </td>

                                    </tr>

                                {% endfor %}

                            {% endfor %}

                        {% endfor %}

                        </tbody>

                    </table>

                </div>

            </div>

        {% endif %}

    </div>

{% endblock %}

{% block modal %}
    {{ block.super }}
    <div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="deleteConfirm"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title">Delete upload?</h5>
                </div>
                <div class="modal-body">
                    <p>Permanently delete this upload? You can't undo this.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Don't delete</button>
                    <button type="button" class="btn btn-danger delete-uploads" data-dismiss="modal">Yes, delete
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ block.super }}

    <script>
        $(function () {
            setSlimScrollGsCol();
        });
    </script>

{% endblock %}