{% extends "app/base-dashboard.html" %}
{% load static %}
{% load tags %}

{% block title %}
    Annotations List  - {{ request.GET.gs }} {{ request.GET.task }} |  {{ block.super }}
{% endblock %}

{% block table_info %}
    {{ block.super }}

    {% if not has_no_data %}
        <ul class="tableInfo">

            <li class="stats">
                <span class="number">{{ request.GET.gs }}</span>
                <span class="description">GS</span>
            </li>

            <li class="stats">
                <span class="number">{{ request.GET.task }}</span>
                <span class="description">Task</span>
            </li>

        </ul>
    {% endif %}

{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="gsCol-layout" id="upload-list">

        {% if has_no_data %}

            <div class="no-data">

                <div class="main-text">
                    No annotations loaded
                </div>

                <a href="{% url 'load' %}" class="btn btn-outline-primary btn-lg">
                    Upload some annotations
                </a>


            </div>

        {% else %}

            <div class="gs-col">

                <div class="gs-item section-label">
                    Gold Standards
                </div>

                <div class="gs-content has-sublevel">
                    <div class="inner-flex">
                        {% for gs_name, gs_settings in gs_list.items %}

                            {% if gs_name == request.GET.gs %}

                                <div class="gs-item-wrapper">

                                    <div class="gs-item active" title="{{ gs_name }}">
                                        {% include "app/common/gs_settings.html" with gs_availability=gs_settings.availability gs_mode=gs_settings.mode %}
                                        {{ gs_name }}
                                    </div>

                                    <div class="tasks">

                                        {% for task_key, task_value in tasks.items %}

                                            <a href="{% url 'annotations' %}?gs={{ request.GET.gs }}&task={{ task_key }}"
                                               class="task-item link
                                                {% if task_key == request.GET.task %}
                                                    active
                                                {% endif %}"
                                            >
                                                {{ task_key }}
                                            </a>

                                        {% endfor %}

                                    </div>

                                </div>

                            {% else %}

                                <a href="{% url 'annotations' %}?gs={{ gs_name }}"
                                   class="gs-item-wrapper gs-item link" title="{{ gs_name }}">

                                    {% include "app/common/gs_settings.html" with gs_availability=gs_settings.availability gs_mode=gs_settings.mode %}
                                    {{ gs_name }}

                                </a>
                            {% endif %}

                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="main-col padded-container">

                <ul class="nav nav-tabs section-label" role="tablist">
                    <li role="presentation" class="active ">
                        <a href="#annotations" aria-controls="annotations" role="tab" data-toggle="tab">
                            My Annotations
                            <i class="fas fa-info-circle section-info" data-toggle="popover"
                               data-placement="bottom"
                               title="About this section"
                               data-content="<p>In this section all your annotations for the
                        {{ request.GET.task }} task of {{ request.GET.gs }} are displayed</p>
                        <p>The chart shows your progresses over time</p>
"
                            >
                            </i></a>
                    </li>
                    <li role="presentation">
                        <a href="#pending" aria-controls="profile" role="tab" data-toggle="tab">Pending</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="annotations">
                        <div class="shift-content flex-container">

                            {% if not tasks|get_value_from_dict:request.GET.task|length == 0 %}
                                {% with task=tasks|get_value_from_dict:request.GET.task %}

                                    <div class="table-responsive table-wrapper">

                                        <table class="table table-bordered sde-table table-annotations">

                                            <thead>

                                            <tr>
                                                <th rowspan="2" class="empty check"></th>
                                                <th rowspan="2">#</th>
                                                <th rowspan="2">Load date</th>
                                                <th colspan="{{ score_header|length }}">Score</th>
                                                <th rowspan="2"># Annotations loaded</th>
                                                <th rowspan="2" class="actions">Actions</th>
                                            </tr>

                                            <tr>
                                                {% for score_name in score_header %}
                                                    <th>

                                                    {{ score_name }}
                                                    <i class="far fa-question-circle info"
                                                       tabindex="0"
                                                       data-toggle="popover"
                                                       data-trigger="focus"
                                                       data-placement="bottom"
                                                       data-scoreName="{{ score_name }}"
                                                    ></i>

                                                {% endfor %}
                                            </tr>

                                            </thead>

                                            <tbody>
                                            {% for ann in task %}
                                                <tr id="item-{{ ann.id }}">

                                                    <td class="check">
                                                        <div class="form-group material input-checkbox">
                                                            <label>
                                                                <input type="checkbox" checked
                                                                       data-id="{{ forloop.counter0 }}"/>
                                                            </label>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        {{ forloop.counter }}
                                                    </td>

                                                    <td class="upload-item">
                                                        {{ ann.added_date }}
                                                    </td>

                                                    {% for svalue in ann.score %}
                                                        <td class="score">
                                                            {{ svalue.value | floatformat:3 }}
                                                        </td>
                                                    {% endfor %}

                                                    <td class="progress-wrapper">
                                                        <div class="progress">

                                                            <div class="progress-bar" role="progressbar"
                                                                 aria-valuenow=" {{ ann.annotations.ann_loaded_percentage }}"
                                                                 aria-valuemin="0" aria-valuemax="100"
                                                                 style="width: {{ ann.annotations.ann_loaded_percentage }}%;">
                                                                {{ ann.annotations.ann_loaded.annotated }}
                                                                / {{ ann.annotations.ann_loaded.targets }}
                                                                ( {{ ann.annotations.ann_loaded_percentage|floatformat:"1" }}%)
                                                            </div>

                                                        </div>
                                                    </td>

                                                    <td class="actions">

                                                        {% if ann.gs_mode == 'info' %}
                                                            <a href="{% url 'evaluation' ann.id %}"
                                                               class="btn btn-secondary btn-xxs">
                                                                <i class="fas fa-cogs"></i>
                                                                <span>view evaluation</span>
                                                            </a>
                                                        {% endif %}

                                                        <button type="button"
                                                                data-toggle="modal" data-target="#deleteConfirm"
                                                                data-annId="{{ ann.id }}"
                                                                class="btn btn-outline-danger btn-xxs ">
                                                            <i class="fas fa-trash"></i>
                                                            <span>delete</span>
                                                        </button>

                                                    </td>

                                                </tr>
                                            {% endfor %}
                                            </tbody>

                                        </table>

                                    </div>

                                    <div class="lineChart-wrapper">

                                        <div class="message">
                                            Load two or more datasets annotations to display a history chart
                                        </div>

                                        <canvas id="history-chart"></canvas>

                                    </div>

                                {% endwith %}

                            {% else %}
                                <div class="bigger-text align-to-tab">No annotations loaded yet</div>
                            {% endif %}
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="pending">
                        <div class="shift-content align-to-tab">

                            {% if not pending|get_value_from_dict:request.GET.task|length == 0 %}
                                {% with task=pending|get_value_from_dict:request.GET.task %}
                                    {% for ann in task %}
                                        <div class="pending-item ">
                                            <i class="far fa-clock"></i>
                                            {{ ann.added_date }}
                                        </div>

                                    {% endfor %}
                                {% endwith %}
                            {% else %}
                                <div class="align-to-tab bigger-text">No pending uploads</div>
                            {% endif %}
                        </div>
                    </div>
                </div>


            </div>

        {% endif %}

    </div>

    {% include "app/score/popover_template.html" %}

{% endblock %}

{% block modal %}
    {{ block.super }}
    <div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="deleteConfirm"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title">Delete upload?</h5>
                </div>
                <div class="modal-body">
                    <p>Permanently delete this upload? You can't undo this.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Don't delete</button>
                    <button type="button" class="btn btn-danger delete-uploads" data-dismiss="modal">Yes, delete
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static '/chart.js/dist/Chart.min.js' %}"></script>

    <script>

      $(function () {

        var csrftoken = getCookie('csrftoken');
        $.ajaxSetup({
          beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader('X-CSRFToken', csrftoken);
            }
          }
        });

      });

    </script>

    <script>

      $(document).ready(function () {

        setTooltipScore();

        $('[data-toggle="popover"]').popover({
          html: true,
          trigger: 'hover focus',
          container: 'body',
          {#template: '<div class=" popover" role="tooltip"><div class="arrow"></div><h3 class="popover-header"></h3><div class="popover-body"></div></div>'#}

        });

        if ($('#upload-list table.table-annotations tbody tr').length < 2) {

          $('#upload-list table.table-annotations tbody tr').find('.btn[data-toggle]').attr('data-toggle', '').addClass('disabled');
        }
        setSlimScrollGsCol();
        disableCheckboxIfTwo();

        //CHART
        const colors = ['#4bc0c0', '#aa6dff', '#f98d26', '#36a2eb'];
        let data = JSON.parse("{{ chart | escapejs }}");

        if (data) {

          const chartData = getDatasets(data);
          if (chartData) {
            $('.lineChart-wrapper .message').hide();
            $('.lineChart-wrapper canvas').show();
            var ctx = document.getElementById('history-chart').getContext('2d');
            var historyChart = new Chart(ctx, {
              // The type of chart we want to create
              type: 'line',

              // The data for our dataset
              data: chartData,

              // Configuration options go here
              options: {
                responsive: true,
                maintainAspectRatio: false,

                legend: {
                  onHover: function (event, legendItem) {

                    $.each(historyChart.data.datasets, function (index, value) {
                      if (value.label !== legendItem.text) {
                        const newColor = `rgba(${hex2rgb(colors[ index ])}, .2)`;
                        value.backgroundColor = newColor;
                        value.borderColor = newColor;
                      }

                    });
                    historyChart.update();
                  },
                  onLeave: function () {
                    $.each(historyChart.data.datasets, function (index, value) {
                      const newColor = colors[ index ];
                      value.backgroundColor = newColor;
                      value.borderColor = newColor;
                    });
                    historyChart.update();
                  }
                },

                tooltips: {
                  mode: 'index',
                  intersect: true,
                  titleFontFamily: 'Roboto, sans-serif',
                  titleFontSize: 16,
                  titleMarginBottom: 16,
                  bodyFontFamily: 'Roboto, sans-serif',
                  bodyFontSize: 14,
                  bodySpacing: 10,
                  yPadding: 10,
                },

                scales: {
                  xAxes: [{
                    ticks: {
                      // maxRotation: 60,
                      // minRotation: 60,
                    }
                  }],
                  yAxes: [{
                    ticks: {
                      beginAtZero: true,
                      suggestedMax: 1
                    }
                  }]
                },

                elements: {
                  line: {
                    fill: false,
                    tension: 0,
                    pointHitRadius: 8
                  }

                },

                onHover: function (evt, item) {
                  $(`.upload-col table tbody tr`).removeClass('highlight');
                  if (item.length) {
                    const checkbox = $(`.upload-col table tbody input[type="checkbox"]:checked`)[ item[ 0 ][ '_index' ] ];
                    $(checkbox).closest('tr').addClass('highlight');
                  }

                },
              }
            });

            $('#upload-list table input[type="checkbox"]').on('change', function () {

              updateChart();

            });

          }
        }

        //remove annotations

        $('#deleteConfirm').on('show.bs.modal', function (event) {
          const button = $(event.relatedTarget); // Button that triggered the modal
          const annId = button.attr('data-annId');// Extract info from data-* attributes
          const modal = $(this);

          //highlight row that triggered the modal
          $(`#item-${annId}`).addClass('highlight');
          modal.attr('data-itemToRemoveID', annId);
        });

        $('#deleteConfirm').on('hide.bs.modal', function () {
          $('.table tr').removeClass('highlight');

        });

        $('.delete-uploads').on('click', function () {
          const itemToRemoveID = $(this).closest('.modal').attr('data-itemToRemoveID');
          removeUploads(itemToRemoveID);
        });

        function disableCheckboxIfTwo () {

          const annCheckboxesChecked = $('#upload-list  table input[type="checkbox"]:checked');

          if ($(annCheckboxesChecked).length <= 2) {
            $(annCheckboxesChecked).prop('disabled', true);
            $(annCheckboxesChecked).closest('.form-group.material').addClass('disabled');
          }
        }

        function enableCheckboxIfMore () {
          const annCheckboxes = $('#upload-list  table input[type="checkbox"]');
          const annCheckboxesChecked = $('#upload-list  table input[type="checkbox"]:checked');
          if ($(annCheckboxesChecked).length >= 3) {
            $(annCheckboxes).prop('disabled', false);
            $(annCheckboxes).closest('.form-group.material').removeClass('disabled');
          }
        }

        function getDatasets (data) {
          let datasets = [];
          let chartDatasets = {};
          let xAxisLabels = [];

          $('#upload-list table tbody input[type="checkbox"]').each(function () {
            const currentCheckbox = $(this);

            if ($(currentCheckbox).prop('checked')) {
              let chartDataCurrentRowID = $(currentCheckbox).attr('data-id');
              xAxisLabels.push(data[ 'xAxisLabels' ][ chartDataCurrentRowID ].split('-'));

              $.each(data[ 'datasets' ], function (scoreName, scoreData) {
                if (scoreData.length < 2) {
                  return null;
                }
                if (!chartDatasets[ scoreName ]) {
                  chartDatasets[ scoreName ] = [];
                }
                chartDatasets[ scoreName ].push(scoreData[ chartDataCurrentRowID ].toFixed((3)));
              });

            }
          });

          if (Object.keys(chartDatasets).length) {
            let count = 0;
            $.each(chartDatasets, function (scoreName, scoreData) {
              datasets.push(
                {
                  label: scoreName,
                  data: scoreData,
                  backgroundColor: colors[ count ],
                  borderColor: colors[ count ],
                }
              );

              count++;
            });
            const output = {
              labels: xAxisLabels,
              datasets: datasets,
            };

            return output;
          }

          return null;
        }

        function updateChart () {
          disableCheckboxIfTwo();
          enableCheckboxIfMore();

          historyChart.data = getDatasets(data);
          historyChart.update(0);
        }

        function removeUploads (itemToRemoveID) {
          $.ajax({
            url: "{% url 'delete-annotation' %}",
            type: 'DELETE',
            dataType: 'json',
            data: {
              'annId': itemToRemoveID,
            },
            success: function (data, textStatus, xhr) {
              console.log(data);
              const item = $(`#item-${itemToRemoveID}`);
              item.fadeOut('slow', function () {
                item.remove();
                updateChart();

                if ($('#upload-list table tbody tr').length < 2) {
                  $('.lineChart-wrapper .message').show();
                  $('.lineChart-wrapper canvas').hide();
                  $('#upload-list table.table-annotations tbody tr').find('.btn[data-toggle]').attr('data-toggle', '').addClass('disabled');
                }
              });

            },
            error: function (xhr, textStatus, errorThrown) {
              console.log('Error in Operation');
            }
          });
        }

      });

    </script>

{% endblock %}
