{% extends "app/base.html" %}

{% block container %}
    {% load static %}
    <div class="wrapper">

        <header class="main-header">
            <a href="{% url 'index' %}" class="logo">
                <span class="logo-mini"><b>S</b>T</span>
                <span class="logo-lg"><b>STILT</b>ool</span>
            </a>

            <nav class="navbar navbar-static-top">

                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="panel-icon"> </span>
                </a>

                {% block table_info %}{% endblock %}

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                     {% if challenge and user.is_superuser  %}{#   or user.is_staff#}
                            <li>
                                <a href="{% url 'admin_console' %}">
                                    <i class="fas fa-cogs"></i>
                                </a>
                            </li>
                        {% endif %}
                        <li class="dropdown user user-menu">
                            <a href="#" class="profile-dropdown dropdown-toggle" data-toggle="dropdown">
                                {% if request.user.is_authenticated %}
                                    <span class="profile-user-img img-circle small">
                                    <img id="avatar" src="{{ request.user.userprofile.avatar.url }}"
                                         alt="User Image">
                                    </span>
                                    <span class="hidden-xs">{{ request.user.username }}<span
                                            class="caret"></span></span>
                                {% else %}
                                    <span class="profile-user-img img-circle small">
                                    <img id="avatar" src="/media/default_avatar.png"
                                         alt="User Image">
                                      </span>
                                    <span class="hidden-xs">Guest<span class="caret"></span></span>
                                {% endif %}
                            </a>
                            <ul class="dropdown-menu">
                                {% if request.user.is_authenticated %}
                                    <li class="user-header">
                                        <div class="profile-user-img img-circle">
                                            <img src="{{ request.user.userprofile.avatar.url }}" class="img-circle"
                                                 alt="User Image">
                                        </div>
                                        <p>
                                            {{ request.user.username }}
                                            <small>Member since {{ request.user.date_joined | date }}</small>
                                        </p>

                                    </li>
                                    <li class="user-footer">
                                        {#                                        <div class="pull-left">#}
                                        {#                                            <a href="{% url 'profile' %}" class="btn btn-default btn-flat">Profile</a>#}
                                        {#                                        </div>#}
                                        <div class="pull-right">
                                            <a href="{% url 'logout' %}" class="btn btn-default btn-flat">Sign out</a>
                                        </div>
                                    </li>
                                {% else %}
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="{% url 'login' %}" class="btn btn-default btn-flat">Login</a>
                                        </div>
                                        <div class="pull-right">
                                            <a href="{% url 'register' %}" class="btn btn-default btn-flat">Register</a>
                                        </div>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                </div>

            </nav>
        </header>

        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu" data-widget="tree">
                    {% with request.resolver_match.url_name as url_name %}

                        {% if challenge %}
                            <li {% if url_name == 'board' %}class="active"{% endif %}>
                                <a href="{% url 'board' %}">
                                    <i class="fa-fw fas fa-info"></i>
                                    <span>Board</span>
                                </a>
                            </li>
                        {% endif %}

                        {% if challenge %}
                            <li {% if url_name == 'leaderboard' %}class="active"{% endif %}>
                                <a href="{% url 'leaderboard' %}">
                                    <i class="fas fa-trophy"></i>
                                    <span>Leaderboard</span>
                                </a>
                            </li>
                        {% endif %}

                        <li {% if url_name == 'annotations' %}class="active"{% endif %}>
                            <a href="{% url 'annotations' %}">
                                <i class="fas fa-th-list"></i>
                                <span>Annotations</span>
                            </a>
                        </li>

                        <li {% if url_name == 'load' %}class="active"{% endif %}>
                            <a href="{% url 'load' %}">
                                <i class="fas fa-upload"></i>
                                <span>Upload annotations</span>
                            </a>
                        </li>

                        {% if not challenge or challenge and request.user.is_superuser or request.user.is_staff %}
                            <li {% if url_name == 'load-gs' %}class="active"{% endif %}>
                                <a href="{% url 'load-gs' %}">
                                    <i class="fas fa-plus"></i>
                                    <span>New Gold Standard</span>
                                </a>
                            </li>

                            <li {% if url_name == 'manage-gs' %}class="active"{% endif %}>
                                <a href="{% url 'manage-gs' %}">
                                    <i class="fas fa-wrench"></i>
                                    <span>Manage Gold Standards</span>
                                </a>
                            </li>
                        {% endif %}

                        {##}
                        {#                        <li {% if url_name == 'changelog' %}class="active"{% endif %}>#}
                        {#                            <a href="{% url 'changelog' %}">#}
                        {#                                <i class="fas fa-file-alt"></i>#}
                        {#                                <span>Changelog</span>#}
                        {#                            </a>#}
                        {#                        </li>#}



                        {#   add all menu items here. #}
                        {#   icon from font awesome https://fontawesome.com/icons #}

                        </ul>
                    {% endwith %}
                </ul>

            </section>
        </aside>

        <div class="content-wrapper">
            {% block process %}{% endblock %}

            <section class="content">
                {% block content %}{% endblock %}
                <div id="upload-success" class="snackbar">
                    <div class="text"></div>
                    <i class="dismiss fas fa-times"></i>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
