<!doctype html>
<html class="no-js" lang="">

{% load static %}
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    {% if gcode|length %}
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ gcode }}"></script>
        <script>
          window.dataLayer = window.dataLayer || [];

          function gtag () {dataLayer.push(arguments);}

          gtag('js', new Date());

          gtag('config', '{{ gcode }}');
        </script>
    {% endif %}

    <meta charset="utf-8">
    <title>{% block title %}STILTool{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block favicon %}
        <link rel="shortcut icon" href="{% static '/app/favicon.png' %}"/>
    {% endblock %}

    {% block css %}
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
              integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
              crossorigin="anonymous">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{% static '/bootstrap/dist/css/bootstrap.css' %}">

        <!-- AdminLTE -->
        <link rel="stylesheet" href="{% static '/admin-lte/dist/css/AdminLTE.css' %}">

        <!-- AdminLTE Skins -->
        <link rel="stylesheet" href="{% static '/admin-lte/dist/css/skins/_all-skins.css' %}">

        <link rel="stylesheet" href="{% static 'trix/dist/trix.css' %}">

        <!-- CSS -->
        <link rel="stylesheet" href="{% static '/app/css/style.css' %}">

    {% endblock %}

</head>

<body class="skin-blue sde-fixed sidebar-mini sidebar-collapse">

{% block container %}{% endblock %}

{% block modal %}{% endblock %}

{% block javascript %}
    <!-- jQuery -->
    <script src="{% static '/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static '/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- SlimScroll -->
    <script src="{% static '/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
    <!-- AdminLTE -->
    <script src="{% static '/admin-lte/dist/js/adminlte.min.js' %}"></script>
    <!--Trix - html editor-->
    <script src="{% static '/trix/dist/trix.js' %}"></script>
     <!-- MathJax -->
      <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>


    <!-- Custom JS -->
    <script src="{% static '/app/js/app.js' %}"></script>

    <script src="{% static '/app/js/eventsubscriber.js' %}"></script>

    <script>

      function getCookie (name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[ i ]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }

      function csrfSafeMethod (method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }

    </script>
{% endblock %}

</body>

</html>
