{% extends "app/base-dashboard.html" %}

{% block title %}
    Board |  {{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}

    <div id="board" class="container-fluid ">
        <div class="row">
            <div class="col col-md-7 col-lg-8">

                <div class="description box">

                    {% if main or request.user.is_superuser or request.user.is_staff %}

                        <div class="box-header ">
                            <h2 class="box-title">
                                <span id="main-title">
                                     {% if main %}
                                         {{ main.title }}
                                     {% else %}
                                         Placeholder title
                                     {% endif %}
                                </span>
                            </h2>

                            {% if request.user.is_superuser or request.user.is_staff %}
                                <div class="box-actions">
                                    <button id="edit-btn" type="button" class="btn btn-primary btn-xxs">
                                        <i class="fas fa-edit"></i>
                                        <span>edit</span>
                                    </button>
                                </div>
                            {% endif %}
                        </div>

                        <div id="main-message" class="box-body">
                            {% if main %}
                                {{ main.message|safe }}
                            {% else %}
                                {% autoescape on %}
                                    <h1>A placeholder heading</h1>
                                    <div>A placeholder description</div>
                                    <div>(if you don't want to insert some presentation text here, just leave it empty:
                                        this placeholder is invisible to normal users)
                                    </div>
                                {% endautoescape %}
                            {% endif %}
                        </div>

                    {% else %}
                        <div class="box-body">
                            No description has been provided yet
                        </div>
                    {% endif %}

                </div>

            </div>

            <div class="col col-md-5 col-lg-4">
                <div class="news">
                    <div class="box title">
                        <div class="box-header with-border">
                            <h4 class="box-title">
                                News
                            </h4>

                            {% if request.user.is_superuser or request.user.is_staff %}
                                <div class="box-actions">
                                    <button id="add-news-btn" type="button" class="btn btn-primary btn-xxs">
                                        <i class="fas fa-pen-nib"></i>
                                        <span>add</span>
                                    </button>
                                </div>
                            {% endif %}

                        </div>
                    </div>

                    <div id="news-wrapper">
                        {% for message in messages %}
                            <div id="item-{{ message.id }}" class="box ">
                                <div class="box-header">
                                    <div class="box-title">
                                        {{ message.title }}

                                        <div class="date">
                                            <i class="fa fa-clock"></i>
                                            {{ message.pub_date|date:"D d M Y" }} {{ message.pub_date|time:"H:i" }}
                                        </div>
                                    </div>
                                    {% if request.user.is_superuser or request.user.is_staff %}
                                        <div class="box-actions">
                                            <button type="button"
                                                    data-toggle="modal" data-target="#deleteConfirm"
                                                    data-msgId="{{ message.id }}"
                                                    class="delete btn btn-text-danger no-padding">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </div>
                                    {% endif %}

                                </div>
                                <div class="box-body">
                                    {{ message.message|safe }}
                                </div>
                            </div>
                        {% empty %}
                            <div class="box no-message">
                                <div class="box-body ">
                                    No news published yet!
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block modal %}
    {{ block.super }}
    <div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="deleteConfirm"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title">Delete message?</h5>
                </div>
                <div class="modal-body">
                    <p>Permanently delete this message? You can't undo this.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Don't delete</button>
                    <button type="button" class="btn btn-danger delete-uploads" data-dismiss="modal">Yes, delete
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>

      $(function () {

        var csrftoken = getCookie('csrftoken');
        $.ajaxSetup({
          beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader('X-CSRFToken', csrftoken);
            }
          }
        });

      });

    </script>

    <script>
      $(function () {

        //remove annotations
        $('#deleteConfirm').on('show.bs.modal', function (event) {
          const button = $(event.relatedTarget); // Button that triggered the modal
          const msgId = button.attr('data-msgId');// Extract info from data-* attributes
          const modal = $(this);

          //highlight row that triggered the modal
          $(`#item-${msgId}`).addClass('highlight');
          modal.attr('data-itemToRemoveID', msgId);
        });

        $('#deleteConfirm').on('hide.bs.modal', function () {
          $('.table tr').removeClass('highlight');
        });

        $('.delete-uploads').on('click', function () {
          const itemToRemoveID = $(this).closest('.modal').attr('data-itemToRemoveID');
          removeMessage(itemToRemoveID);
        });

        function removeMessage (itemToRemoveID) {
          $.ajax({
            url: "{% url 'board' %}",
            type: 'DELETE',
            dataType: 'json',
            data: {
              'id': itemToRemoveID,
            },
            success: function (data, textStatus, xhr) {
              console.log(data);
              const item = $(`#item-${itemToRemoveID}`);
              item.slideUp('slow', function () {
                item.remove();
              });

            },
            error: function (xhr, textStatus, errorThrown) {
              console.log('Error in Operation');
            }
          });
        }

        // ---------------------------------------------------
        $('#edit-btn').on('click', function (e) {
          const templatePublishBtn = $('#publish-btn-template')[ 0 ];
          const htmlPubBtn = templatePublishBtn.content.cloneNode(true);

          //$("#edit-btn").replaceWith(htmlPubBtn);
          $('#edit-btn').replaceWith(htmlPubBtn);

          const oldTitle = $('#main-title').first().text().trim();
          const oldMessage = $('#main-message').first().html();

          $('#main-title').text('Edit');

          const templateMain = $('#trix-editor-main-template')[ 0 ];
          const htmlMain = templateMain.content.cloneNode(true);

          $(htmlMain).find('#main-title').prop('value', oldTitle);
          $(htmlMain).find('#trix-content').prop('value', oldMessage);

          $('#main-message').replaceWith(htmlMain);
          $('.description .box-header ').addClass('with-border');
        });

        $('#add-news-btn').on('click', function (e) {
          const templatePublishBtn = $('#publish-btn-template')[ 0 ];
          const htmlPubBtn = templatePublishBtn.content.cloneNode(true);

          $('#add-news-btn').replaceWith(htmlPubBtn);

          const templateAddNews = $('#trix-add-news-template')[ 0 ];
          const htmlAddNews = templateAddNews.content.cloneNode(true);

          $('.news .box.title').append(htmlAddNews);
          $('.news .box.title .box-header').addClass('with-border');
        });

        $('#board').on('input focus', 'input', function (e) {
          MDForms();
        });

        $('#board').on('click', '.publish-btn', function (e) {
          const $form = $(this).closest('.col').find('form');
          $form.attr('novalidate', true);

          $form.on('submit', function (event) {
            const trixEditorIsValid = $form.find('.trix input[type=hidden]').val() !== '';
            if (!isValidForm(event) || !trixEditorIsValid) {
              event.preventDefault();
              if (!trixEditorIsValid) {
                setErrorMessage($form.find('trix-editor'), 'Required');
              }
            }
          });
          $form.submit();
        });

        $('#board').on('click', '.cancel-btn', function (e) {
          location.reload();
        });

        $('#board').on('trix-change', 'trix-editor', function () {
          removeErrorMessage($(this).closest('.form-group'));
        });

      });

      $(window).on('load resize', function () {
        setTimeout(function () {
          if ($(document).width() >= 992) {
            const contentWrapperHeight = $('.content-wrapper').height();
            const paddingTop = $('#board').css('padding-top');
            const paddingBottom = $('#board').css('padding-bottom');

            const scrollOption = {
              height: `calc(${contentWrapperHeight}px - ${paddingTop} - ${paddingBottom} - 10px)`,
              size: '3px',
              distance: 0,
              wheelStep: 10
            };

            $('.news').slimScroll(scrollOption);
            $('.description ').slimScroll(scrollOption);
          }

        }, 600);
      });

    </script>

    <template id="trix-editor-main-template">
        <div class="box-body">
            <form id="publish-main-form" enctype="multipart/form-data" method="post" action="{% url 'board' %}">
                {% csrf_token %}

                <input type="hidden" value="true" name="pinned"/>

                <div class="form-group material input-text">
                    <input id="main-title" required value="" name="main-title"/>
                    <label class="label-float" for="main-title">Main title</label>
                </div>
                <div class="form-group material trix">
                    <input id="trix-content" value="" type="hidden" name="main-msg">
                    <trix-editor input="trix-content"></trix-editor>
                </div>
                <button type="submit" class="btn btn-primary btn-xxs publish-btn">
                    <i class="fas fa-check"></i>
                    Publish
                </button>
            </form>
        </div>
    </template>

    <template id="trix-add-news-template">
        <div class="box-body">
            <form id="add-news" enctype="multipart/form-data" method="post" action="{% url 'board' %}">
                {% csrf_token %}

                <span class="box-title">Publish new message</span>
                <div class="form-group material input-text">
                    {{ message_form.title }}
                    {{ message_form.title.label_tag }}
                </div>

                <div class="form-group material trix">
                    {{ message_form.msg }}
                    <trix-editor input="{{ message_form.msg.auto_id }}"></trix-editor>
                </div>

                <button type="submit" class="btn btn-primary btn-xxs publish-btn">
                    <i class="fas fa-check"></i>
                    Publish
                </button>

            </form>
        </div>
    </template>

    <template id="publish-btn-template">
        <a class="btn btn-outline-secondary btn-xxs cancel-btn">
            <i class="fas fa-times"></i>
            <span>Cancel</span>
        </a>
        <a class="btn btn-primary btn-xxs publish-btn">
            <i class="fas fa-check"></i>
            <span>Publish</span>
        </a>
    </template>

{% endblock %}


