{% extends "app/base-dashboard.html" %}

{% block title %}
    Changelog | {{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}

    <div id="changelog">
        <h1>Changelog</h1>

        <div class="panel-group accordion" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#collapseOne"
                           aria-expanded="true" aria-controls="collapseOne">
                            v0.1 - 02-21-2019
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                     aria-labelledby="headingOne">
                    <div class="panel-body">
                        <ul>
                            <li>
                                Demo release
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}


{% block console %}
{% endblock %}
 
