{% extends "app/base-dashboard.html" %}

{% load static %}

{% block title %}
    Evaluation - {{ annotation.gs.name }} {{ task_type }} {{ request.resolver_match.kwargs.id }} |  {{ block.super }}
{% endblock %}

{% block table_info %}
    {{ block.super }}
    <ul class="tableInfo">

        <li class="name">
            {{ annotation.added_date }}
        </li>
        <li class="stats">
            <span class="number">{{ annotation.gs.name }}</span>
            <span class="description">GS</span>
        </li>

        <li class="stats">
            <span class="number">{{ task_type }}</span>
            <span class="description">Task</span>
        </li>
        {# <li class="stats">#}
        {#            <span class="number">{{ annotation.gs.owner.username }}</span>#}
        {#            <span class="description">Gs owner</span>#}
        {#        </li>#}
    </ul>

{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="evaluation">

        <h1>Evaluation</h1>

        <div class="container-fluid">
            <div class="row flex">
                <div class="col col-xs-12 col-sm-5">

                    <div class="box score">
                        <div class="box-header with-border">
                            <div class="box-title">
                                Score
                            </div>
                        </div>
                        <div class="box-body">
                            {% for s in score %}
                                <div class="score-wrapper">
                                    <div class="score-label">
                                        {{ s.label|title }}
                                        <i class="far fa-question-circle info"
                                                       tabindex="0"
                                                       data-toggle="popover"
                                                       data-trigger="focus"
                                                       data-placement="bottom"
                                                       data-scoreName="{{ s.label|title }}"
                                                    ></i>
                                    </div>
                                    <div class="score-value">
                                        {{ s.value | floatformat:3 }}
                                    </div>
                                </div>

                            {% endfor %}

                        </div>
                    </div>

                    <div class="box">
                        <div class="box-header with-border">
                            <div class="box-title">
                                # Annotations Loaded
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="progress">

                                <div class="progress-bar" role="progressbar"
                                     aria-valuenow=" {{ loaded_annotations.ann_loaded_percentage }}"
                                     aria-valuemin="0" aria-valuemax="100"
                                     style="width: {{ loaded_annotations.ann_loaded_percentage }}%;">
                                    {{ loaded_annotations.ann_loaded.annotated }}
                                    / {{ loaded_annotations.ann_loaded.targets }}
                                    ( {{ loaded_annotations.ann_loaded_percentage|floatformat:"1" }}%)
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="col col-xs-12 col-sm-7 flex">

                    <div class="box">
                        <div class="box-header with-border">
                            <div class="box-title">
                                Overview
                            </div>
                        </div>
                        <div class="box-body">

                            {% if type == "AHAP" %}

                                <div id="ctaChart"
                                     data-min="{{ main_chart.ah_min|floatformat:"3" }}"
                                     data-max="{{ main_chart.ah_max |floatformat:"3" }}"
                                     data-curr="{{ main_chart.ah_curr |floatformat:"3" }}">

                                    <div class="min">
                                        <i class="far fa-frown"></i>
                                        <div class="text">
                                            <div class="value">
                                                {{ main_chart.ah_min|floatformat:"3" }}
                                            </div>
                                            <div class="description">
                                                Score MIN <br/> provided only WRONG annotations
                                            </div>
                                        </div>
                                    </div>

                                    <div class="max">
                                        <i class="far fa-smile"></i>
                                        <div class="text">
                                            <div class="value">
                                                {{ main_chart.ah_max |floatformat:"3" }}
                                            </div>
                                            <div class="description">
                                                Score MAX
                                                <br/> provided all the GS PERFECT and OK annotations
                                                <br/> without errors
                                            </div>
                                        </div>
                                    </div>

                                    <div class="zero">
                                        <i class="far fa-meh"></i>
                                        <div class="value">
                                            0
                                        </div>
                                    </div>
                                    <div class="user-score">

                                        <div class="value">
                                            {{ main_chart.ah_curr |floatformat:"3" }}
                                        </div>
                                        <i class="fas fa-user-circle"></i>
                                    </div>

                                </div>

                            {% else %}
                                <div class="pieChart-wrapper">
                                    <canvas id="pieChart"></canvas>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                </div>

                {% if task_type != "CEA" %}
                    <div class="col col-xs-12">
                        <div class="box">
                            <div class="box-header with-border">
                                <div class="box-title">
                                    Top Most Frequent Errors
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="stackedBarChart-wrapper">
                                    <canvas id="stackedBarChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if has_table_data %}

                <div class="col col-xs-12">

                    <div class="box comparison">
                        <div class="box-header with-border">
                            <div class="box-title">
                                Errors Detail
                            </div>
                            <div class="box-tools ">

                                {% if type != "AHAP" %}
                                    <div class="filter-wrapper">
                                        <div class="filter wrong active">Wrong</div>
                                        <div class="filter missing active">Not Annotated</div>
                                    </div>
                                {% endif %}

                                <div class="form-group material condensed outline input-text trailing-icon">
                                    <input id="search" type="text"/>
                                    <i class="fas fa-times clear"></i>
                                    <label for="search">Search by table name or annotation</label>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <template id="comparison-template">
                                <div class="comparison-table-wrapper">
                                    <div class="table-identifier">
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered sde-table">
                                            <thead>
                                            <tr></tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </template>
                            <div class="progressive-loading">

                            </div>
                            <div class="loader">
                                <i class="fas fa-spinner fa-pulse "></i>
                            </div>
                        </div>
                    </div>


                </div>

                {% endif %}
            </div>
        </div>


    </div>

    {% include "app/score/popover_template.html" %}

{% endblock %}

{% block javascript %}
    {{ block.super }}

    <script src="{% static '/chart.js/dist/Chart.min.js' %}"></script>
    <script src="{% static '/chartjs-plugin-datalabels/dist/chartjs-plugin-datalabels.min.js' %}"></script>
    <script src="{% static '/app/js/chart.js' %}"></script>
    <script type="text/javascript">

        const colors = {
            'Right': '#229954',
            'Wrong': '#E74C3C',
            'Not Annotated': '#95A5A6',
            'Perfect': '#229954',
            'Okay': '#82E0AA',
            'Missing': '#95A5A6'
        };
        let isAjaxRun = false;

        $(document).ready(function () {

            setTooltipScore();

            let main_chart = {{ main_chart | safe }};
            let top10datatable = {{ secondary_chart | safe }};

            {% if type == "AHAP" %}

                const ahMin = $('#ctaChart').attr('data-min');
                const ahMax = $('#ctaChart').attr('data-max');
                const ahCurr = $('#ctaChart').attr('data-curr');
                const totalBarWidth = ahMax - ahMin;

                const zeroPos = Math.round(ahMax / totalBarWidth * 100);
                const userPos = Math.round((ahCurr - ahMin) / totalBarWidth * 100);
                $('#ctaChart .zero').css('right', `${zeroPos}%`);
                $('#ctaChart').css('background', `
                linear-gradient(to left,
                ${colors['Right']} 0,
                 ${colors['Right']} ${zeroPos - 5}%,
                 ${colors['Wrong']} ${zeroPos + 5}%,
                 ${colors['Wrong']} 100%)`);

                setTimeout(function () {
                    $('#ctaChart .user-score').css('left', `${userPos}%`);
                }, 500);



            {% else %}

                if (main_chart) {
                    buildPieChartJs(main_chart);
                }

            {% endif %}

            {% if task_type != "CEA" %}
                if (top10datatable) {
                    buildStackedChartJs(top10datatable);
                }
            {% endif %}

            {% if request.resolver_match.kwargs.id %}
                let paramID = {{ request.resolver_match.kwargs.id }};
                let totalTable = 1;
                let count = 0;
                const template = $('#comparison-template').html();

                function loadTables() {
                    if (count < totalTable) {
                        isAjaxRun = true;
                        let searchQuery = $('#search').val();
                        let filterMode;// "both", "wrongs" or "missings"

                        {% if type != "AHAP" %}
                            let filterWrongs = $('.filter.wrong').hasClass('active') ? "wrongs" : null;
                            let filterMissings = $('.filter.missing').hasClass('active') ? "missings" : null;
                            let filterGlobal = filterWrongs && filterMissings ? "both" : null;

                            if (filterGlobal) {
                                filterMode = filterGlobal;
                            } else {
                                filterMode = filterWrongs ? filterWrongs : filterMissings;
                            }
                        {% else %}

                            filterMode = 'both';
                        {% endif %}

                    console.log("data ajax", {idAnn: paramID, dataCount: count, search: searchQuery, filter: filterMode})
                        $.ajax({
                            url: '{% url 'get-table-stat' %}',
                            type: 'GET',
                            dataType: 'json',
                            data: {idAnn: paramID, dataCount: count, search: searchQuery, filter: filterMode},
                            success: function (response) {
                                console.log(response)
                                totalTable = response['total_tables'];

                                if (totalTable > 0) {
                                    let item = $(template).clone();
                                    //table name
                                    $(item).find('.table-identifier').text(response['table_name']);

                                    //table header
                                    $(response['header']).each(function (index, headerVal) {
                                        $(item).find('table thead tr').append(`<th>${headerVal}</th>`);
                                    });

                                    // table body
                                    $(response['rows']).each(function (index, row) {
                                        let tr = $('<tr>');

                                        $(response['header']).each(function (index, headerVal) {

                                            switch (headerVal) {
                                                case 'col':
                                                case 'row':
                                                case 'head':
                                                case 'tail': {
                                                    $("<td />", {
                                                        class: "numeric",
                                                        text: row[0][headerVal],
                                                    }).appendTo(tr);

                                                    break
                                                }
                                                case 'annotation': {
                                                    $("<td />", {
                                                        class: "my ann",
                                                        html: makeUrl(row[0][headerVal]['url']),
                                                    }).appendTo(tr);

                                                    $(tr).addClass(row[0][headerVal]['metadata']);

                                                    /* if (!$('.filter.na').hasClass('active') && row[0][headerVal]['metadata'] === 'na') {
                                                     $(tr).addClass('hide');
                                                 }

                                                 if (!$('.filter.wrong').hasClass('active') && row[0][headerVal]['metadata'] === 'wrong') {
                                                     $(tr).hide('hide');
                                                 }*/
                                                    break;
                                                }
                                                case 'gt': {

                                                    function buildHtml() {

                                                        let alternateGS = [];
                                                        row[0][headerVal].map((gsAlt) => {
                                                            alternateGS.push(gsAlt);
                                                        });
                                                        alternateGS.splice(0, 1);

                                                        let divWrapper = $('<div>');

                                                        // append first GS value
                                                        divWrapper.append(
                                                            $("<div />", {
                                                                html: makeUrl(row[0][headerVal][0]),
                                                                class: 'mainGsAnn'
                                                            })
                                                        );

                                                        // append other GS value
                                                        if (alternateGS.length) {
                                                            divWrapper.append(
                                                                $("<i />", {
                                                                    class: "showAlternatives fas fa-plus pull-right"
                                                                })
                                                            );

                                                            divWrapper.append(
                                                                $("<div />", {
                                                                    html: alternateGS.map((value) => {
                                                                        return makeUrl(value)
                                                                    }),
                                                                    class: 'gsAlt hide'
                                                                })
                                                            );
                                                        }

                                                        return divWrapper;

                                                    }

                                                    $("<td />", {
                                                        class: "ann ",
                                                        html: buildHtml
                                                    }).appendTo(tr);

                                                    break;
                                                }
                                                case 'perfect':
                                                    $("<td />", {
                                                        class: "ann small-col",
                                                        html: $("<div />", {
                                                            class: ["item", row[0][headerVal]['result']].join(' '),
                                                            html: makeUrl(row[0][headerVal]['ann']),
                                                        })
                                                    }).appendTo(tr);
                                                    break;
                                                case 'ok': {

                                                    $("<td />", {
                                                            class: "ann small-col",
                                                            html: row[0][headerVal].map(function (okayAnn) {
                                                                return $("<div />", {
                                                                    class: ["item", okayAnn['result']].join(' '),
                                                                    html: makeUrl(okayAnn['ann']),
                                                                })
                                                            })
                                                        }
                                                    ).appendTo(tr);

                                                    break;
                                                }
                                                case 'wrong': {
                                                    $("<td />", {
                                                        class: "ann small-col",
                                                        html: row[0][headerVal].map(function (wrongAnn) {
                                                            return $("<div />", {
                                                                class: "item wrong",
                                                                html: makeUrl(wrongAnn),
                                                            })
                                                        })
                                                    }).appendTo(tr);
                                                    break;
                                                }
                                                default: {
                                                    $("<td />", {
                                                        text: "",
                                                    }).appendTo(tr);
                                                    break;
                                                }
                                            }

                                        });

                                        $(item).find('table tbody').append(tr);


                                    });

                                    count++;
                                    isAjaxRun = false;

                                    $('.progressive-loading').append($(item));

                                    // Search by name or annotation
                                    if (totalTable > 0 && searchQuery && searchQuery !== "") {
                                        $(item).find('.table-identifier').html(highlightText(response['table_name'], searchQuery));
                                        $(item).find('td a').each(function () {
                                            if ($(this).text().toLowerCase().indexOf(searchQuery.toLowerCase()) > -1) {
                                                $(this).html(highlightText($(this).text(), searchQuery));

                                                if ($(this).parent().hasClass('gsAlt')) {
                                                    $(this).closest('td').find('.showAlternatives').trigger('click');
                                                }
                                            }
                                        });
                                    }


                                    if ($('.content').height() - 200 < $('.content-wrapper').height()) {
                                        loadTables();
                                    }

                                } else {
                                    $('.progressive-loading').append(`<div class="message">No tables found</div>`);
                                    $('.loader').hide();
                                }

                            },
                            error: function () {
                                console.log("error");
                                $('.loader').hide();
                                $('.progressive-loading').append(`<div class="error message">Request failed</div>`)
                            }
                        });

                    } else {
                        $('.loader').hide();
                    }
                }
                loadTables();

                $('.content-wrapper').on('scroll', function () {

                    if (!isAjaxRun && Math.round($(this).scrollTop() + 200 + $(this).innerHeight()) >= Math.round($(this)[0].scrollHeight)) {
                        // ajax call get data from server and append to the div
                        loadTables();
                    }

                });


                $('.progressive-loading').on('click', '.showAlternatives', function (evt) {
                    $(evt.target).parent().find('.gsAlt').toggleClass('hide');
                    $(evt.target).toggleClass('fa-plus fa-minus')

                });

                let timer = null;
                $('#search').on('keydown', function () {
                    clearTimeout(timer);
                    timer = setTimeout(search, 1000);
                });

                $('#search').parent().find($('.clear')).on('click', function () {
                    search();
                });

                function search() {

                    $('.progressive-loading').empty();
                    $('.loader').show();
                    count = 0;
                    totalTable = 1;
                    loadTables();
                }


                $('.filter').on('click', function () {

                    const filter = $(this);
                    $(filter).toggleClass('active');
                    $('.progressive-loading').empty();
                    $('.loader').show();
                    count = 0;
                    totalTable = 1;
                    loadTables();
                });




            {% endif %}


        })


        function buildPieChartJs(data) {

            chartData = {
                // These labels appear in the legend and in the tooltips when hovering different arcs
                labels: data["label"],

                datasets: [{
                    data: data["datatable"],
                    backgroundColor: $.map(data["label"], function (val) {
                        return colors[val];
                    })
                }],
            };


            var ctx = document.getElementById('pieChart').getContext('2d');


            var pieChart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'pie',

                // The data for our dataset
                data: chartData,

                // Configuration options go here
                options: {
                    responsive: true,
                    maintainAspectRatio: false,

                    legend: {
                        position: $(window).width() < 768 ? 'top' : 'right',
                        labels: {
                            usePointStyle: true
                        },
                        onClick: (e) => e.stopPropagation()
                    },

                    tooltips: {
                        callbacks: {

                            label: function (tooltipItem, data) {
                                const dataset = data['datasets'][0];
                                const labelIndex = tooltipItem['index'];
                                const percentage = Math.round((dataset['data'][labelIndex] / dataset["_meta"][0]['total']) * 100);
                                return `${data['labels'][labelIndex]}: ${percentage}% (${dataset['data'][labelIndex]})`;
                            }
                        }
                    },

                    plugins: {
                        datalabels: {
                            formatter: (value, ctx) => {
                                let sum = 0;
                                let dataArr = ctx.chart.data.datasets[0].data;
                                dataArr.map(data => {
                                    sum += data;
                                });
                                let percentage = Math.round((value * 100 / sum));
                                if (percentage > 1)
                                    return `${percentage}%`;
                                else
                                    return null;
                            },
                            color: '#fff',

                        }
                    }
                }

            });
        }

        function buildStackedChartJs(data) {

            $.each(data["datasets"], function (index, value) {
                this['backgroundColor'] = colors[value.label]
            });

            var ctx = document.getElementById('stackedBarChart').getContext('2d');
            var stackedBar = new Chart(ctx, {
                type: $(window).width() < 768 ? 'bar' : 'horizontalBar',
                data: {
                    labels: data["label"],
                    datasets: data['datasets']
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,

                    scales: {
                        xAxes: [{
                            stacked: true,
                            ticks: {
                                maxRotation: $(window).width() < 768 ? 90 : 0,
                                minRotation: $(window).width() < 768 ? 90 : 0,
                            }
                        }],
                        yAxes: [{
                            stacked: true,
                            gridLines: {
                                color: 'rgba(0, 0, 0, 0.5)',
                                {#lineWidth: 2#}
                            },
                        }],

                    },

                    elements: {

                        rectangle: {
                            maxBarThickness: 20,

                        }

                    },

                    plugins: {
                        datalabels: {
                            formatter: function (value, ctx) {
                                let sum = 0;
                                for (let dataset of ctx.chart.data.datasets) {
                                    sum += dataset.data[ctx.dataIndex]
                                }

                                let percentage = Math.round((value * 100 / sum));
                                if (percentage > 1) {
                                    return `${value} (${percentage}%)`;
                                } else {
                                    return null;
                                }

                            },
                            color: '#fff',
                            font: {
                                size: 10,
                            },
                            display: false // !($(window).width() < 768)
                        }
                    }
                }
            });


            $(window).on('resize', function () {
                if ($(window).width() < 768) {
                    stackedBar.update(0);
                }

            });
        }

        function highlightText(text, word) {

            if (!RegExp.escape) {
                RegExp.escape = function (value) {
                    return value.replace(/[\-\[\]{}()*+?.,\\\^$|#\s]/g, "\\$&")
                };
            }

            const result = text.replace(new RegExp('(' + RegExp.escape(word) + ')', 'ig'), '<span class="search-item"> $1 </span>')
            return result;
        }


    </script>


{% endblock %}
