{% extends "app/base-dashboard.html" %}
{% load static %}

{% block title %}
    Add a new Gold Standard |  {{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="uploading-page" class="twoSide-layout">
        <div class="container-fluid">
            <div class="row flex">

                <div class="col col-xs-12 col-md-7 col-lg-6">
                    <div class="container-form">

                        <h1>Add a new Gold Standard</h1>

                        <div>

                            <form id="gs-form-id" enctype="multipart/form-data" method="post"
                                  action="{% url 'load-gs' %}">
                                {% csrf_token %}
                                <div id="gs-option" class="row">
                                    <div class="col col-xs-6">
                                        <div class="form-group material input-radio horizontal">
                                            <div class="form-label">
                                                Availability
                                                <i class="far fa-question-circle info" data-toggle="tooltip"
                                                   data-placement="top"
                                                   title="<strong>Public</strong>: GS is accessible for all users <br/>
                                                   <strong>Private</strong>: GS is accessible only for the owner">
                                                </i>
                                            </div>
                                            {{ gs_form.scope_choice }}
                                            <div id="{{ gs_form.scope_choice.auto_id }}-error"
                                                 class="form-error-message"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group material input-radio horizontal">
                                            <div class="form-label">
                                                Mode
                                                <i class="far fa-question-circle info" data-toggle="tooltip"
                                                   data-placement="top"
                                                   title="<strong>Info</strong>: user get the score and some detailed info about the evaluation <br/>
                                                   <strong>Score</strong>: user get only the score from the evaluation">
                                                </i>
                                            </div>
                                            {{ gs_form.mode_choice }}
                                            <div id="{{ gs_form.mode_choice.auto_id }}-error"
                                                 class="form-error-message"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group material input-text {% if gs_form.gs_name.errors %}error{% endif %}">
                                    {{ gs_form.gs_name }}
                                    {{ gs_form.gs_name.label_tag }}

                                    <div id="{{ gs_form.gs_name.auto_id }}-error" class="form-error-message"></div>
                                </div>


                                <div class="form-group filepond input-file {% if gs_form.cta_file.errors %}error{% endif %}">
                                    <div class="form-label">CTA annotations</div>
                                    {{ gs_form.cta_file }}
                                    <div class="form-hint">{{ gs_form.cta_file.help_text }}</div>

                                    <div id="{{ gs_form.cta_file.auto_id }}-error" class="form-error-message"></div>
                                </div>

                                <div class="score-choice form-group material input-radio boxed horizontal disabled">
                                    <div class="form-label">
                                        Choose a score for CTA
                                        <i class="far fa-question-circle info" data-toggle="modal"
                                           data-target="#scoreExplanations">
                                        </i>
                                    </div>
                                    {{ gs_form.cta_score_choice }}
                                    <div id="{{ gs_form.cta_score_choice.auto_id }}-error"
                                         class="form-error-message"></div>
                                </div>

                                <div class="form-group filepond input-file hiding {% if gs_form.cta_ancestors_file.errors %}error{% endif %}">
                                    <div class="form-label">  {{ gs_form.cta_ancestors_file.label }}</div>
                                    {{ gs_form.cta_ancestors_file }}
                                    <div class="form-hint">{{ gs_form.cta_ancestors_file.help_text }}</div>
                                    <div id="{{ gs_form.cta_ancestors_file.auto_id }}-error"
                                         class="form-error-message"></div>
                                </div>

                                <div class="form-group filepond input-file hiding {% if gs_form.cta_descendents_file.errors %}error{% endif %}">
                                    <div class="form-label">  {{ gs_form.cta_descendents_file.label }}</div>
                                    {{ gs_form.cta_descendents_file }}
                                    <div class="form-hint">{{ gs_form.cta_descendents_file.help_text }}</div>
                                    <div id="{{ gs_form.cta_descendents_file.auto_id }}-error"
                                         class="form-error-message"></div>
                                </div>

                                <br/>

                                <div class="form-group filepond input-file {% if gs_form.cpa_file.errors %}error{% endif %}">
                                    <div class="form-label">CPA annotations</div>
                                    {{ gs_form.cpa_file }}
                                    <div class="form-hint">{{ gs_form.cpa_file.help_text }}</div>


                                    <div id="{{ gs_form.cpa_file.auto_id }}-error" class="form-error-message"></div>
                                </div>

                                <div class="form-group filepond input-file {% if gs_form.cea_file.errors %}error{% endif %}">
                                    <div class="form-label">CEA annotations</div>
                                    {{ gs_form.cea_file }}

                                    <div class="form-hint">{{ gs_form.cea_file.help_text }}</div>


                                    <div id="{{ gs_form.cea_file.auto_id }}-error" class="form-error-message"></div>
                                </div>

                                <div class="btn-wrapper flex align-right">
                                    <button type="submit" id="submit" class="btn btn-primary loading-animation">
                                        <span class="text">
                                            Submit
                                        </span>
                                        <div class="progress">
                                    </button>
                                </div>

                                <!-- With the ajax request this is probably useless... !-->
                                {% if gs_form.non_field_errors %}
                                    <div class="alert alert-error" role="alert">
                                        {% for error in gs_form.non_field_errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </form>

                        </div>

                    </div>
                </div>

                <div class="col col-xs-12 col-md-5 col-lg-6 background">

                    <h3>How to format your file</h3>

                    <p> Your file should be formatted as follow: </p>

                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#cta" aria-controls="cta" role="tab" data-toggle="tab">CTA</a>
                        </li>
                        <li role="presentation">
                            <a href="#cpa" aria-controls="cpa" role="tab" data-toggle="tab">CPA</a>
                        </li>
                        <li role="presentation">
                            <a href="#cea" aria-controls="cea" role="tab" data-toggle="tab">CEA</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="cta">

                            <p>The following guidelines should help you format your cta gs</p>

                            <div class="panel-group accordion" id="format-instructions"
                                 role="tablist" aria-multiselectable="true">

                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="prf-heading">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#format-instructions"
                                               href="#prf"
                                               aria-expanded="true" aria-controls="prf">
                                                Precision Recall F1
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="prf" class="panel-collapse collapse in" role="tabpanel"
                                         aria-labelledby="prf-heading">
                                        <div class="panel-body">
                                            <p>Each line of the submission file should include
                                                "table id", "column id", one "KB perfect class".
                                            </p>
                                            <pre><strong>Example:</strong>
"9206866_1_8114610355671172497","0","http://dbpedia.org/ontology/Country"
</pre>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="aprf-heading">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse"
                                               data-parent="#format-instructions"
                                               href="#aprf" aria-expanded="false" aria-controls="aprf">
                                                Approximate Precision Recall F1
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="aprf" class="panel-collapse collapse" role="tabpanel"
                                         aria-labelledby="aprf-heading">
                                        <div class="panel-body">
                                            <p>Each line of the submission file should include
                                                "table id", "column id", one "KB perfect class"
                                            </p>
                                            <pre><strong>Example:</strong>
"9206866_1_8114610355671172497","0","http://dbpedia.org/ontology/Country"
</pre>

                                            <p>Ancestors/Descendents file have to be a valid json file which comply to
                                                the
                                                following format</p>
                                            <pre><strong>Schema:</strong>
{
    "entity uri": {
        "ancestor/descendent uri": int
    }
}
</pre>

                                            <p>See the example below for more clarity</p>
                                            <pre><strong>Ancestors example:</strong>
{
  "http://dbpedia.org/ontology/Country": {
      "http://dbpedia.org/ontology/PopulatedPlace": 1,
      "http://dbpedia.org/ontology/Place": 2,
  }
}
</pre>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="ahap-heading">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse"
                                               data-parent="#format-instructions"
                                               href="#ahap" aria-expanded="false" aria-controls="ahap">
                                                Average Hierarchical Perfect Score
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="ahap" class="panel-collapse collapse" role="tabpanel"
                                         aria-labelledby="ahap-heading">
                                        <div class="panel-body">
                                            <p>Each line of the submission file should include
                                                "table id", "column id", one "KB perfect class", "KB OK classes"
                                            </p>
                                            <pre><strong>Examples:</strong>
"9206866_1_8114610355671172497","0","http://dbpedia.org/ontology/Country", ""
"9206866_1_8114610355671172497","0","http://dbpedia.org/ontology/Country", "http://dbpedia.org/ontology/Location"
</pre>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div role="tabpanel" class="tab-pane" id="cpa">
                            <p>Each line of the submission file should include
                                "table id", "head column id",
                                "tail column id", "KB property".
                            </p>

                            <pre><strong>Example:</strong>
"50245608_0_871275842592178099","0","1","http://dbpedia.org/ontology/releaseDate"
</pre>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="cea">
                            <p>Each line should include
                                "table id", "column id", "row id" and "KB entity [KB alias]*".
                            </p>

                            <pre><strong>Example:</strong>
"9206866_1_8114610355671172497","0","121","http://dbpedia.org/resource/Norway"
"9206866_1_8114610355671172497","0","121","http://dbpedia.org/resource/Norway http://dbpedia.org/resource/Noorwegen http://dbpedia.org/resource/Kongeriket_Norge"
</pre>
                        </div>

                    </div>

                </div>


            </div>

        </div>
    </div>

{% endblock %}

{% block modal %}
    <div id="scoreExplanations" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">About Scores</h4>
                </div>

                <div class="modal-body">

                    <div class="panel-group accordion" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingPRF">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePRF"
                                       aria-expanded="true" aria-controls="collapsePRF">
                                        Precision, Recall, F1 Score (PRF)
                                    </a>
                                </h4>
                            </div>
                            <div id="collapsePRF" class="panel-collapse collapse in" role="tabpanel"
                                 aria-labelledby="headingPRF">
                                <div class="panel-body">
                                    <p>This Evaluation Score fit well if the GS CTA provide a single correct annotation
                                        for each column.</p>

                                    {% include "app/score/precision.html" %}
                                    {% include "app/score/recall.html" %}
                                    {% include "app/score/f1.html" %}

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingAPARAF">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseAPARAF" aria-expanded="false" aria-controls="collapseAPARAF">
                                        Approximate Precision, Approximate Recall, Approximate F1 Score (AP-AR-AF)
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseAPARAF" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingAPARAF">
                                <div class="panel-body">
                                    <p>This Evaluation Score is for a multiple-annotations CTA GS.</p>
                                    {% include "app/score/a_precision.html" %}
                                    {% include "app/score/a_recall.html" %}
                                    {% include "app/score/a_f1.html" %}
                                    <p>where:</p>
                                    <ul>
                                        <li>
                                            \(g(a)\) returns the full score \(1.0\) if \(a\) is a perfect annotation,
                                            returns
                                            \(0.9^{d(a)}\) if \(a\) is an okay annotation (ancestor) where \(d(a)\) is
                                            the depth
                                            to the perfect annotation, and returns 0 otherwise.
                                        </li>
                                        <li>
                                            \(max\_annotation\_score(col)\) returns \(g(a)\) if \(col\) has an
                                            annotation \(a\),
                                            and 0 of \(col\) has no annotation.
                                        </li>
                                    </ul>

                                    <p>To use this score, an additional file for the ancestors and descendants with the
                                        distance will be required.</p>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingAHAP">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseAHAP" aria-expanded="false" aria-controls="collapseAHAP">
                                        Average Hierarchical Score, Average Perfect Score (AH-AP)
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseAHAP" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingAHAP">
                                <div class="panel-body">
                                    <p>This Evaluation Score is for a multiple-annotations CTA GS.</p>

                                    {% include "app/score/ah.html" %}
                                    {% include "app/score/ap.html" %}
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}

{% block css %}
    {{ block.super }}
    <!-- include FilePond library -->
    <link rel="stylesheet" href="{% static "/filepond/dist/filepond.min.css" %}">
{% endblock %}

{% block javascript %}
    {{ block.super }}

    <!-- include FilePond library -->
    <script src="{% static "/filepond/dist/filepond.min.js" %}"></script>

    <!-- include FilePond jQuery adapter -->
    <script src="{% static "/jquery-filepond/filepond.jquery.js" %}"></script>

    <script>
      $(document).ready(function () {

        $('[data-toggle="tooltip"]').tooltip({
          html: true
        });

        // transform file-input in pond input
        $('.form-group.filepond.input-file input').filepond({
          labelIdle: 'Drag & Drop your file or <span class="filepond--label-action"> Browse </span>',
        });

        // form fields
        const gsNameItem = $("#{{gs_form.gs_name.auto_id}}");
        const gsScopeChoiceItem = $("#{{gs_form.scope_choice.auto_id}}");
        const gsModeChoiceItem = $("#{{gs_form.mode_choice.auto_id}}");
        const ctaFileItem = $("#{{gs_form.cta_file.auto_id}}");
        const cpaFileItem = $("#{{gs_form.cpa_file.auto_id}}");
        const ceaFileItem = $("#{{gs_form.cea_file.auto_id}}");
        const tableFilesItem = $("#{{gs_form.table_files.auto_id}}");
        const ctaScoreItem = $("#{{gs_form.cta_score_choice.auto_id}}");
        const ctaAncestorsFilesItem = $("#{{gs_form.cta_ancestors_file.auto_id}}");
        const ctaDescendentsFilesItem = $("#{{gs_form.cta_descendents_file.auto_id}}");

        // listen to file pond changes
        const $filePondInstance = $('.filepond--root');
        $filePondInstance.on('FilePond:updatefiles', function (e) {

          $(e.target).closest('.form-group').removeClass('error');
          resetGlobalError($(this).closest('form'));

          //enable/disable CTA score selection
          if ($(e.target).attr('id') === "{{gs_form.cta_file.auto_id }}") {
            if (e.detail.items.length) {
              $('.score-choice').removeClass('disabled');
              enableAllRadioInput($('.score-choice'));
              if ($(ctaScoreItem).find('input:checked').val() === 'APRF') {
                ctaAncestorsFilesItem.closest('.form-group').show('fast');
                ctaDescendentsFilesItem.closest('.form-group').show('fast');
              }
            } else {
              $('.score-choice').addClass('disabled');
              disableAllRadioInput($('.score-choice'));
              ctaAncestorsFilesItem.closest('.form-group').hide('fast');
              ctaDescendentsFilesItem.closest('.form-group').hide('fast');
            }
          }
        });

        // show/hide Ancestor/descendants file
        $(ctaScoreItem).find('input').on('change', function () {
          console.log('trigger');
          if ($(this).val() === 'APRF') {
            ctaAncestorsFilesItem.closest('.form-group').show('fast');
            ctaDescendentsFilesItem.closest('.form-group').show('fast');
          } else {
            ctaAncestorsFilesItem.closest('.form-group').hide('fast');
            ctaDescendentsFilesItem.closest('.form-group').hide('fast');
          }

        });

        /* submit gs form */
        $('form#gs-form-id').submit(function (e) {

          e.preventDefault();

          const form = $(this);

          resetErrorsAndNotifications(form);

          // submit button styling
          const submitButton = $(this).find('.btn.loading-animation');
          $(submitButton).addClass('loading disabled').prop('disabled', true);

          // get form data
          let formData = new FormData(this);

          $.each($filePondInstance, function (index, item) {
            const uploadedFile = $(item).filepond('getFile');
            const formDataKey = $(item).attr('id').replace('id_', '');
            if (uploadedFile) {
              formData.set(formDataKey, uploadedFile.file, uploadedFile.filename);
            }
          });

          const onProgress = function (event) {
            let progress = 0;
            const curr = event.loaded || event.position;
            const total = event.total;
            if (event.lengthComputable) {
              progress = Math.ceil(100 * (curr / total));
            }
            $(submitButton).find('.progress').css('width', progress + '%');
          };

          $.ajax({
            url: form.attr('action'),
            type: 'POST',
            data: formData,
            xhr: function () {  // Cool stuff!!!
              const xhr = $.ajaxSettings.xhr();
              if (xhr.upload) {
                xhr.upload.addEventListener('progress', onProgress, false);
              }
              return xhr;
            },
            success: function (response) {
              const data = response[ 'message' ];

              if (data) {
                manageSnackbar(data);
              }

              //reset form
              $filePondInstance.filepond('removeFiles');
              clearAllRadioInput(form);
              form.trigger('reset');

              //button status
              $(submitButton).addClass('success');

              setTimeout(function () {
                $(submitButton).removeClass('success');
              }, 3000);

            },
            error: function (request) {
              const data = request[ 'responseJSON' ];

              if (data) {
                if ('gs_name' in data) {
                  setErrorMessage($(gsNameItem), data[ 'gs_name' ][ 0 ]);
                }

                if ('scope_choice' in data) {
                  setErrorMessage($(gsScopeChoiceItem), data[ 'scope_choice' ][ 0 ]);
                }

                if ('mode_choice' in data) {
                  setErrorMessage($(gsModeChoiceItem), data[ 'mode_choice' ][ 0 ]);
                }

                if ('cta_file' in data) {
                  setErrorMessage($(ctaFileItem), data[ 'cta_file' ][ 0 ]);
                }

                if ('cta_score_choice' in data) {
                  setErrorMessage($(ctaScoreItem), data[ 'cta_score_choice' ][ 0 ]);
                }

                if ('cpa_file' in data) {
                  setErrorMessage($(cpaFileItem), data[ 'cpa_file' ][ 0 ]);
                }

                if ('cea_file' in data) {
                  setErrorMessage($(ceaFileItem), data[ 'cea_file' ][ 0 ]);
                }

                if ('cta_ancestors_file' in data) {
                  setErrorMessage($(ctaAncestorsFilesItem), data[ 'cta_ancestors_file' ][ 0 ]);
                }

                if ('cta_descendents_file' in data) {
                  setErrorMessage($(ctaDescendentsFilesItem), data[ 'cta_descendents_file' ][ 0 ]);
                }

                if ('table_files' in data) {
                  setErrorMessage($(tableFilesItem), data[ 'table_files' ][ 0 ]);
                }
              }

              $(submitButton).addClass('error');
            },
            complete: function () {
              // submit button reset styling
              resetSubmitButton(submitButton);
            },
            cache: false,
            contentType: false,
            processData: false
          });
        });

        /* GS upload: disable Mode selection if PRIVATE
         auto select INFO Mode*/
        $('#id_gs_form-scope_choice input').on('change', function () {

          const formModeChoice = $('#id_gs_form-mode_choice');
          if ($(this).val() === 'private') {
            $(formModeChoice).find('input').prop('checked', false).prop('disabled', true);
            $(formModeChoice).find('input').prop('checked', false).closest('label').addClass('disabled');
            $(formModeChoice).find('input[value=info]').closest('label').removeClass('disabled');
            $(formModeChoice).find('input[value=info]').prop('checked', true).prop('disabled', false).trigger('change');
          } else {
            enableAllRadioInput($(formModeChoice));
          }
        });

      });
    </script>

{% endblock %}


