{% extends "app/base-dashboard.html" %}

{% block title %}
    GS management - {{ request.GET.gs }} |  {{ block.super }}
{% endblock %}

{% block table_info %}
    {{ block.super }}

    {% if not has_no_data %}
        <ul class="tableInfo">

            <li class="name">
                {{ data.gs_name }}
            </li>
            <li class="stats">
                <span class="number">{{ data.gs_settings.availability }}</span>
                <span class="description">Availability</span>
            </li>

            <li class="stats">
                <span class="number">{{ data.gs_settings.mode }}</span>
                <span class="description">Mode</span>
            </li>

        </ul>

    {% endif %}

{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="gsCol-layout" id="gs-management">

        {% if has_no_data %}

            <div class="no-data">

                <div class="main-text">
                    No Gold Standard loaded
                </div>

                <a href="{% url 'load-gs' %}" class="btn btn-outline-primary btn-lg">
                    Add a new Gold Standard
                </a>


            </div>

        {% else %}

            <div class="gs-col">

                <div class="gs-item section-label">
                    Gold Standards
                </div>

                <div class="gs-content">
                    <div class="inner-flex">
                        {% for gs_name, gs_settings in gs_list.items %}

                            {% if gs_name == request.GET.gs %}

                                <div class="gs-item-wrapper gs-item active" title="{{ gs_name }}">

                                    {% include "app/common/gs_settings.html" with gs_availability=gs_settings.availability gs_mode=gs_settings.mode %}
                                    {{ gs_name }}

                                </div>

                            {% else %}

                                <a href="{% url 'manage-gs' %}?gs={{ gs_name }}"
                                   class="gs-item-wrapper gs-item link" title="{{ gs_name }}">

                                    {% include "app/common/gs_settings.html" with gs_availability=gs_settings.availability gs_mode=gs_settings.mode %}
                                    {{ gs_name }}

                                </a>

                            {% endif %}

                        {% endfor %}
                    </div>
                </div>

            </div>

            <div class="main-col">
                <div class="section-label">
                    Settings
                </div>

                <div class="padded-container">

                    <form id="manage-gs-form-id" enctype="multipart/form-data" method="post"
                          action="{% url 'update-gs-mode' %}">
                        {% csrf_token %}

                        <div class="row flex">
                            <div class="col col-xs-6 col-md-4">
                                <div class="box">
                                    <div class="box-header with-border">
                                        <div class="box-title">
                                            Availability
                                            <i class="far fa-question-circle info" data-toggle="tooltip"
                                               data-placement="right"
                                               title="<strong>Private</strong>: GS is accessible only for the owner <br/>
                                                   <strong>Public</strong>: GS is accessible for all users">
                                            </i>

                                        </div>
                                    </div>
                                    <div class="box-body">


                                        <div class="form-group material input-radio disabled">
                                            {{ data.form.scope_choice }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col  col-xs-6 col-md-4">
                                <div class="box">
                                    <div class="box-header with-border">
                                        <div class="box-title">
                                            Mode
                                            <i class="far fa-question-circle info" data-toggle="tooltip"
                                               data-placement="right"
                                               title="<strong>Score</strong>: user get only the score from the evaluation  <br/>
                                                   <strong>Info</strong>: user get the score and some detailed info about the evaluation">
                                            </i>

                                        </div>
                                    </div>
                                    <div class="box-body">

                                        <div class="form-group material input-radio {% if data.gs_settings.availability == 'private' %}disabled{% endif %}">
                                            {{ data.form.mode_choice }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% if challenge %}

                                <div class="col col-xs-12 col-md-4">
                                    <div class="box  daily-uploads">
                                        <div class="box-header with-border">
                                            <div class="box-title">
                                                Submission/day
                                            </div>

                                            {% if data.gs_settings.availability == 'public' %}
                                                <div class="pull-right">
                                                    <label class="switch">
                                                        {{ data.form.max_daily_uploads_enabled }}
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>

                                            {% endif %}
                                        </div>
                                        <div class="box-body">
                                            <div class="form-group material input-number
                                                {% if data.gs_settings.availability == 'private' %}disabled{% endif %}
                                                {% if data.form.max_daily_uploads.value == -1 %}hide{% endif %}
                                            ">
                                                {{ data.form.max_daily_uploads }}
                                                {{ data.form.max_daily_uploads.label_tag }}

                                                <div id="{{ data.form.max_daily_uploads.auto_id }}-error"
                                                     class="form-error-message">
                                                </div>
                                            </div>

                                            <div class="no-daily-uploads  {% if data.form.max_daily_uploads.value != -1 %}hide{% endif %}">
                                                No daily uploads limits
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            {% endif %}


                        </div>


                        <div class="btn-wrapper flex align-right">
                            <button type="submit" id="submit" class="btn btn-primary loading-animation">
                                Save changes
                            </button>
                        </div>
                    </form>


                    <div class="alert alert-danger delete-gs">

                        <div class="box-title"><i class="icon fas fa-exclamation-triangle"></i>Delete {{ data.gs_name }}
                        </div>
                        {% if data.gs_settings.availability == 'public' %}
                            Deleting this Gold Standard, will remove all annotations associated, both other users
                            annotations
                            and yours.
                        {% else %}
                            Deleting this Gold Standard, will remove all annotations associated.
                        {% endif %}

                        <div class="btn-wrapper flex align-right">
                            <button type="button"
                                    data-toggle="modal" data-target="#deleteConfirm"
                                    class="btn btn-outline">
                                <i class="fas fa-trash"></i>
                                <span>delete</span>
                            </button>
                        </div>
                    </div>

                </div>

            </div>


        {% endif %}

    </div>

{% endblock %}

{% block modal %}
    {{ block.super }}
    <div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="deleteConfirm"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title">Delete {{ data.gs_name }}?</h5>
                </div>
                <div class="modal-body">
                    <p>Permanently delete this GS? You can't undo this.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Don't delete</button>
                    <button type="button" class="btn btn-danger delete-uploads" data-dismiss="modal">Yes, delete
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ block.super }}

    <script>

      $(function () {
        var csrftoken = getCookie('csrftoken');

        $.ajaxSetup({
          beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader('X-CSRFToken', csrftoken);
            }
          }
        });
      });
    </script>

    <script>
      $(function () {


        {% if not has_no_data %}
          setSlimScrollGsCol();

          $('[data-toggle="tooltip"]').tooltip({
            html: true
          });

          const submitButton = $(this).find('.btn.loading-animation');

          // prefill availability and mode
          let gsId = {{ data.gs_id }};
          let gsSMode = "{{ data.gs_settings.mode }}";
          let gsScope = "{{ data.gs_settings.availability }}";
          $(`input[value=${gsSMode}]`).prop('checked', true).trigger('change');
          $(`input[value=${gsScope}]`).prop('checked', true).trigger('change');

          {% if challenge %}
            // enable/disable set max/day upload
            const inputMaxUploads = $("#{{ data.form.max_daily_uploads.auto_id }}");
            let dailyUploads = inputMaxUploads.val();
            const inputMaxUploadsFormGroup = inputMaxUploads.closest('.form-group');
            const noDailyUploads = $('.no-daily-uploads');

            $('.switch input').on('change', function () {
              if ($(this).prop('checked')) {
                $(inputMaxUploads).prop('disabled', false);
                $(inputMaxUploads).closest('.form-group').removeClass('disabled');
                inputMaxUploadsFormGroup.removeClass('hide');
                noDailyUploads.addClass('hide');
                inputMaxUploads.val(dailyUploads != -1 ? dailyUploads : 0);
              } else {
                $(inputMaxUploads).prop('disabled', true);
                $(inputMaxUploads).closest('.form-group').addClass('disabled');
                inputMaxUploadsFormGroup.addClass('hide');
                noDailyUploads.removeClass('hide');
                inputMaxUploads.val(-1);
              }
            });

            $(inputMaxUploads).on('change', function () {
              dailyUploads = $(this).val();
            });
          {% endif %}

          /*submit gs form*/
          $('form#manage-gs-form-id').submit(function (e) {
            e.preventDefault();

            const form = $(this);

            resetErrorsAndNotifications(form);

            // submit button styling
            const submitButton = $(this).find('.btn.loading-animation');
            $(submitButton).addClass('loading disabled').prop('disabled', true);

            // get form data
            let newGsSMode = $(`#{{ data.form.mode_choice.auto_id }}`).find(`input:checked`).val();
            let max_daily_uploads = $(inputMaxUploads).val();

            const formData = {
              'gsId': gsId,
              'mode': newGsSMode,
              'max_daily_uploads': max_daily_uploads
            };

            $.ajax({
              url: form.attr('action'),
              type: 'PUT',
              dataType: 'json',
              data: formData,
              success: function (response) {
                //button status
                $(submitButton).addClass('success');
                setTimeout(function () {
                  $(submitButton).removeClass('success');
                }, 2000);

              },
              error: function (request) {
                console.log(request);
                $(submitButton).addClass('error');
              },
              complete: function () {
                // submit button reset styling
                resetSubmitButton(submitButton);
              },

            });
          });


          $('.delete-uploads').on('click', function () {
            $.ajax({
              url: "{% url 'delete-gs' %}",
              type: 'DELETE',
              dataType: 'json',
              data: {
                'gsId': {{ data.gs_id }},
              },
              success: function (data, textStatus, xhr) {
                location.reload();
              },
              error: function (xhr, textStatus, errorThrown) {
                console.log('Error in Operation');
              },
              complete: function () {
                // submit button reset styling
                resetSubmitButton(submitButton);
              },
            });
          });

        {% endif %}

      });

    </script>

{% endblock %}
