{% extends "app/base.html" %}
{% load static %}

{% block container %}

    <div id="home">
        <div class="pull-right">
            {% if request.user.is_authenticated %}
                <a href="{% if challenge %}{% url 'board' %}{% else %}{% url 'annotations' %}{% endif %}"
                   class="btn btn-text-white">
                    Enter</a>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-text-white">Login</a>
            {% endif %}
        </div>

        <div class="header">


            <div class="wrapper">
                <img src="{% static 'app/images/logo.png' %}" class="logo" alt="logo"/>
                <div>
                    {% if challenge %}
                        <div class="head">Challenge Edition</div>
                    {% endif %}

                    <h1 class="title">
                        <span class="bold">STILT</span>ool
                    </h1>
                </div>

                <div class="subhead">Semantic Table Interpretation Evaluation Tool</div>


            </div>
        </div>

        <div class="features-wrapper">


            <div class="container">
                <div class="row">
                    <div class="col-xs-12">

                        {% if challenge %}
                            <figure class="shadow-wrapper preview">
                                {# TODO: change preview#}
                                <img src="{% static 'app/images/preview-challenge.png' %}"/>
                            </figure>
                        {% else %}
                            <div id="slider-features" class="carousel slide" data-interval="false" data-ride="carousel">


                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <div class="shadow-wrapper">
                                            <img src="{% static 'app/images/step-1.png' %}"/>
                                        </div>
                                    </div>
                                    <div class="item ">
                                        <div class="shadow-wrapper">
                                            <img src="{% static 'app/images/step-2.png' %}"/>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="shadow-wrapper">
                                            <img src="{% static 'app/images/step-4.png' %}"/>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="shadow-wrapper">
                                            <img src="{% static 'app/images/step-3.png' %}"/>
                                        </div>
                                    </div>
                                </div>

                                <!-- Controls -->
                                <a class="left carousel-control" href="#slider-features" role="button"
                                   data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                </a>
                                <a class="right carousel-control" href="#slider-features" role="button"
                                   data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                </a>

                            </div>

                        {% endif %}


                    </div>
                    <div class="col-xs-12">
                        <div class="features">

                            {% if challenge %}
                                <p>
                                    Tabular data to Knowledge Graph (KG) matching is the process of assigning semantic
                                    tags from Knowledge Graphs (e.g., Wikidata or DBpedia) to the elements of a table.
                                    This task is often difficult in practice due to metadata (e.g., table and
                                    column names) being missing, incomplete or ambiguous.</p>

                                <p>This challenge aims at benchmarking systems dealing with the tabular data to KG
                                    matching problem, so as to facilitate their comparison on the same basis and the
                                    reproducibility of the results.</p>

                            {% else %}
                                <div class="grid-4">
                                    <div data-target="#slider-features" data-slide-to="0"
                                         class="feature active">
                                        <div class="feature-title">
                                            <div class="text">1</div>
                                        </div>

                                        <div class="feature-description">
                                            Upload a Gold Standard to compare your annotations
                                        </div>

                                    </div>

                                    <div data-target="#slider-features" data-slide-to="1" class="feature">
                                        <div class="feature-title">
                                            <div class="text">2</div>
                                        </div>

                                        <div class="feature-description">
                                            Upload your annotations in CSV format
                                        </div>

                                    </div>

                                    <div data-target="#slider-features" data-slide-to="2" class="feature">
                                        <div class="feature-title">
                                            <div class="text">3</div>
                                        </div>

                                        <div class="feature-description">
                                            Analyse the evaluation result and identify the most common error patterns
                                        </div>

                                    </div>

                                    <div data-target="#slider-features" data-slide-to="3" class="feature">
                                        <div class="feature-title">
                                            <div class="text">4</div>
                                        </div>

                                        <div class="feature-description"> Compare your performance over time
                                        </div>

                                    </div>
                                </div>
                            {% endif %}

                            <div class="center">
                                {% if challenge %}
                                    <a class="btn btn-outline-white" href="{% url 'board' %}">Join the
                                        challenge!</a>
                                {% else %}
                                    <a class="btn btn-outline-white" href="{% url 'annotations' %}">Evaluate your
                                        annotations</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="footer">
            <div class="container">

                <div class="row flex">
                    <div class="col-xs-12 col-sm-10 ">
                        <div class="unimib flex">

                            <div class="disco">
                                <a href="https://www.disco.unimib.it/it" target="_blank" title="Visit DISCo website">
                                    <img src="{% static 'app/images/disco.png' %}" alt="DISCo"/>
                                </a>
                            </div>

                            <div class="lab">
                                <a href="http://inside.disco.unimib.it/" target="_blank"
                                   title="Visit Insid&s LAB website">
                                    <span class="title">
                                        Insid&s<br/>
                                        LAB
                                    </span>
                                    <span class="text">
                                        Dipartimento di Informatica, Sistemistica e Comunicazione <br/>
                                        Università degli Studi di Milano-Bicocca <br/>
                                        Viale Sarca, 336 - 20126, Milano | tel. 02 6448 7801
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-2">
                        <div class="bitbucket">
                            <a href="https://bitbucket.org/disco_unimib/stiltool/" target="_blank"
                               title="Visit Bitbucket">
                            <span class="logo-sm">
                                <img src="{% static 'app/images/bitbucket.png' %}" alt="bitbucket"/>
                            </span>
                                <span class="text">
                                Bitbucket
                            </span>
                            </a>
                        </div>
                    </div>


                </div>

            </div>
        </div>

    </div>

{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $('body').removeClass('sde-fixed');

        {% if not challenge %}
            $('#slider-features').on('slide.bs.carousel', function (e) {
                const indexNextItem = $(e.relatedTarget).index();
                console.log(indexNextItem);
                $('.features [data-target="#slider-features"]').removeClass('active');
                $(`.features [data-target="#slider-features"][data-slide-to=${indexNextItem}]`).addClass('active');
            });
        {% endif %}
    </script>
{% endblock %}
