{% extends "app/base-dashboard.html" %}

{% load tags %}

{% block title %}
    Leaderboard  - {{ request.GET.gs }} {{ request.GET.task }} |  {{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="gsCol-layout" id="leaderboard">

        {% if has_no_data %}

            <div class="no-data">

                <div class="main-text">
                    No Gold Standard loaded
                </div>

                {% if request.user.is_staff %}
                    <a href="{% url 'load-gs' %}" class="btn btn-outline-primary btn-lg">
                        Add a new Gold Standard
                    </a>
                {% endif %}

            </div>

        {% else %}

            <div class="gs-col">
                <div class="gs-item section-label">
                    Gold Standards
                </div>
                <div class="gs-content has-sublevel">
                    <div class="inner-flex">
                        {% for gs_name in gs_list %}

                            {% if gs_name == request.GET.gs %}

                                <div class="gs-item-wrapper">

                                    <div class="gs-item active" title="{{ gs_name }}">
                                        {{ gs_name }}
                                    </div>

                                    <div class="tasks">

                                        {% for task_key, task_value in tasks.items %}

                                            <a href="{% url 'leaderboard' %}?gs={{ request.GET.gs }}&task={{ task_key }}"
                                               class="task-item link
                                                {% if task_key == request.GET.task %}
                                                    active
                                                {% endif %}"
                                            >

                                                {{ task_key }}

                                            </a>

                                        {% endfor %}

                                    </div>

                                </div>


                            {% else %}
                                <a href="{% url 'leaderboard' %}?gs={{ gs_name }}" title="{{ gs_name }}"
                                   class="gs-item-wrapper gs-item link" title="{{ gs_name }}">
                                    {{ gs_name }}
                                </a>
                            {% endif %}

                        {% endfor %}
                    </div>
                </div>
            </div>


            <div class="main-col">

                <div class="section-label">
                    Leaderboard
                </div>

                <div class="padded-container">
                    <div class="table-responsive table-wrapper">

                        {% if not has_no_data_gs|get_value_from_dict:request.GET.task %}
                            {% if not tasks|get_value_from_dict:request.GET.task|length == 0 %}
                                {% with task=tasks|get_value_from_dict:request.GET.task %}
                                    <table class="table table-bordered sde-table">

                                        <thead>

                                        <tr>
                                            <th>#</th>
                                            <th>Participant</th>

                                            {% for head in task.header %}

                                                <th>
                                                    {{ head }}
                                                    <i class="far fa-question-circle info"
                                                       tabindex="0"
                                                       data-toggle="popover"
                                                       data-trigger="focus"
                                                       data-placement="bottom"
                                                       data-scoreName="{{ head }}"
                                                    ></i>
                                                </th>

                                            {% endfor %}

                                            <th>Entries</th>
                                            <th>Last Submission</th>

                                        </tr>

                                        </thead>

                                        <tbody>

                                        {% for row in task.data %}
                                            <tr>
                                                <td class="position">
                                                    {{ forloop.counter }}
                                                </td>

                                                <td class="avatar">
                                                    <img src="{{ row.partecipant.icon.url }}"/>
                                                    {{ row.partecipant.name }}
                                                </td>

                                                {% for score in row.score %}
                                                    <td class="score">
                                                        {{ score | floatformat:3 }}
                                                    </td>
                                                {% endfor %}

                                                <td class="entries">
                                                    {{ row.entries }}
                                                </td>

                                                <td class="last-submission">
                                                    {{ row.last_sub }}
                                                </td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>

                                    </table>

                                {% endwith %}

                            {% endif %}
                        {% else %}

                            <div class="no-data">

                                <div class="main-text">
                                    Nobody has partecipated yet
                                </div>

                                <a href="{% url 'load' %}" class="btn btn-outline-primary btn-lg">
                                    Take the challenge now
                                </a>

                            </div>

                        {% endif %}

                    </div>
                </div>


            </div>

        {% endif %}

    </div>

{% include "app/score/popover_template.html" %}

{% endblock %}

{% block javascript %}
    {{ block.super }}

    <script>
      $(function () {
        setSlimScrollGsCol();
        setTooltipScore();

      });
    </script>

{% endblock %}



