{% extends "app/base-dashboard.html" %}
{% load static %}

{% block title %}
    Upload new annotations |  {{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="uploading-page" >
        <div class="container-fluid">
            <div class="row flex align-center">

                <div class="col col-xs-12 col-md-9">
                    <div class="container-form">

                        <h1>Upload your annotations</h1>

                        <div class="container-form">
                            <form id="annotation-form-id" enctype="multipart/form-data" method="post"
                                  action="{% url 'load' %}">
                                {% csrf_token %}

                                <div class="addSelectOption">

                                    <div id="gs_choice" class="form-group material select">
                                        {{ annotation_form.gs_choice }}
                                        {{ annotation_form.gs_choice.label_tag }}
                                        <div id="{{ annotation_form.gs_choice.auto_id }}-error"
                                             class="form-error-message"></div>
                                    </div>

                                    {% if not challenge or challenge and request.user.is_superuser or request.user.is_staff %}

                                        <a class="add-new-item" title="Add new GS" href="{% url 'load-gs' %}">
                                            <i class=" fas fa-plus-circle"></i>
                                            <span class="text-sm text-nowrap">Add new</span>
                                        </a>

                                    {% endif %}

                                </div>

                                <div class="form-group material input-radio">
                                    <div class="form-label">Select a task *</div>
                                    {{ annotation_form.task_choice }}
                                    <div id="{{ annotation_form.task_choice.auto_id }}-error"
                                         class="form-error-message"></div>

                                </div>

                                <div class="form-group filepond input-file {% if annotation_form.annotation_file.errors %}error{% endif %}">

                                    <div class="form-label">Choose your annotations file *</div>
                                    {{ annotation_form.annotation_file }}
                                    <div id="{{ annotation_form.annotation_file.auto_id }}-error"
                                         class="form-error-message"></div>

                                    <div class="form-hint">Select a GS and a task to display format instructions</div>
                                </div>


                                <div class="btn-wrapper flex align-right align-middle">

                                    {% if challenge %}
                                        <div id="uploads-info" class="info message-uploads"></div>
                                    {% endif %}

                                    <button type="submit" id="submit" class="btn btn-primary loading-animation">
                                        <span class="text">
                                            Submit
                                        </span>
                                        <div class="progress"></div>
                                    </button>
                                </div>

                                <div class="global form-error-message text-center"></div>

                            </form>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}

{% block css %}
    {{ block.super }}
    <!-- include FilePond library -->
    <link rel="stylesheet" href="{% static "/filepond/dist/filepond.min.css" %}">
{% endblock %}

{% block javascript %}
    {{ block.super }}

    <!-- include FilePond library -->
    <script src="{% static "/filepond/dist/filepond.min.js" %}"></script>

    <!-- include FilePond jQuery adapter -->
    <script src="{% static "/jquery-filepond/filepond.jquery.js" %}"></script>

    <script>
      $(function () {

        const $formHint = $('.form-hint');
        const defaultHint = $formHint.text();

        // transform file-input in pond input
        $('.form-group.filepond.input-file input').filepond({
          'labelIdle': 'Drag & Drop your file or <span class="filepond--label-action"> Browse </span>',
        });
        const $filePondInstance = $('.filepond--root');
        $filePondInstance.on('FilePond:updatefiles', function (e) {
          console.log('file changed');
          $(e.target).closest('.form-group').removeClass('error');
          resetGlobalError($(this).closest('form'));
        });

        // form fields
        const annFileItem = $("#{{annotation_form.annotation_file.auto_id}}");
        const gsChoiceItem = $("#{{annotation_form.gs_choice.auto_id}}");
        const taskChoiceItem = $("#{{annotation_form.task_choice.auto_id}}");
        let submissionAvailable = true;

        let gs_list = JSON.parse("{{ gs_list | escapejs }}");

        /*submit annotations form*/
        $('form#annotation-form-id').submit(function (e) {

          e.preventDefault();

          if (submissionAvailable) {

            const form = $(this);

            resetErrorsAndNotifications(form);

            // submit button styling
            const submitButton = $(this).find('.btn.loading-animation');
            $(submitButton).addClass('loading disabled').prop('disabled', true);

            // get form data
            let formData = new FormData(this);

            const uploadedFile = $filePondInstance.filepond('getFile');
            if (uploadedFile) {
              formData.set('{{ annotation_form.annotation_file.html_name }}', uploadedFile.file, uploadedFile.filename);
            }

            const onProgress = function (event) {
              let progress = 0;
              const curr = event.loaded || event.position;
              const total = event.total;
              if (event.lengthComputable) {
                progress = Math.ceil(100 * (curr / total));
              }
              $(submitButton).find('.progress').css('width', progress + '%');
            };

            $.ajax({
              url: form.attr('action'),
              type: 'POST',
              data: formData,
              xhr: function () {  // Cool stuff!!!
                const xhr = $.ajaxSettings.xhr();
                if (xhr.upload) {
                  xhr.upload.addEventListener('progress', onProgress, false);
                }
                return xhr;
              },
              success: function (response) {
                const annID = response[ 'ann_id' ];
                const data = response[ 'message' ];

                if (data) {
                  $('#uploads-info').empty();
                  manageSnackbar(data);

                  const gs = $(gsChoiceItem).find('option:selected').val();
                  const task = $(taskChoiceItem).find(':checked').val();

                  {% if challenge %}
                    gs_list[ gs ][ task ][ 'uploads_left' ] -= 1;
                  {% endif %}
                }

                var evtSub = new EventSubscriber(onclose = function (e) {
                  console.error('Server socket closed unexpectedly');
                });

                evtSub.subscribe('job_complete', function (data) {
                  const ann_id = data[ 'ann_id' ];
                  console.log('job_complete', data[ 'ann_id' ]);
                  if (ann_id == annID) {
                    manageSnackbar('Your annotation has been loaded');
                    console.log('job_complete', ann_id);
                  }
                });

                //reset form
                $filePondInstance.filepond('removeFiles');
                clearAllRadioInput(form);
                form.trigger('reset');
                $formHint.text(defaultHint);

                //button status
                $(submitButton).addClass('success');
                setTimeout(function () {
                  $(submitButton).removeClass('success');
                }, 3000);

              },
              error: function (request) {
                const data = request[ 'responseJSON' ];

                if (data) {
                  if ('annotation_file' in data) {
                    setErrorMessage($(annFileItem), data[ 'annotation_file' ][ 0 ]);
                  }

                  if ('gs_choice' in data) {
                    setErrorMessage($(gsChoiceItem), data[ 'gs_choice' ][ 0 ]);
                  }

                  if ('task_choice' in data) {
                    setErrorMessage($(taskChoiceItem), data[ 'task_choice' ][ 0 ]);
                  }

                } else {
                  $('.form-error-message.global').text('Something went wrong. Your annotations can not be uploaded').show();
                }

                $(submitButton).addClass('error');
              },
              complete: function () {
                // submit button reset styling
                resetSubmitButton(submitButton);

              },
              async: true,
              cache: false,
              contentType: false,
              processData: false
            });
          }
        });

        /* Annotations upload: disable Task if not available in selected GS*/
        let tasks = JSON.parse("{{ tasks_available | escapejs }}");
        $('#gs_choice').change(function (event) {

          const selectedGsOption = $(this).find('option:selected');
          const availableGsTasks = tasks[ selectedGsOption.val() ];
          const formTaskChoice = $('#id_annotation_form-task_choice');

          enableAllRadioInput($(formTaskChoice));

          if (availableGsTasks) {
            $(formTaskChoice).find('input[type="radio"]').each(function () {
              const currentRadioTask = $(this);
              const currentLabelTask = $(currentRadioTask).closest('label');
              if (!availableGsTasks.includes(($(currentRadioTask).val().toLowerCase()))) {
                $(currentRadioTask).prop('checked', false).prop('disabled', true);
                $(currentLabelTask).addClass('disabled').removeClass('selected');
              }

            });
          }
        });

        /*Change helper according to CTA type && set uploads total*/
        $('#gs_choice, #id_annotation_form-task_choice').change(function (event) {
          const $submitButton = $('.btn.loading-animation');

          const gs = $(gsChoiceItem).find('option:selected').val();
          const task = $(taskChoiceItem).find(':checked').val();

          if (gs && task) {
            let message = '<strong>Format</strong>: ';
            const isSimpleCTA = gs_list[ gs ][ 'is_simple_cta' ];
            const isApproximateCTA = gs_list[ gs ][ 'is_approximate_cta' ];

            switch (task) {
              case 'CTA':
                if (isSimpleCTA || isApproximateCTA) {
                  message += `"Table ID","Column ID" and "Annotation URI"<br />`;
                  message += `<strong>Example</strong>: `;
                  message += isSimpleCTA ? `"9206866_1_8114610355671172497","0","http://dbpedia.org/ontology/Country"` : `"KIN0LD6C","0","http://www.wikidata.org/entity/Q8425"`;
                } else {
                  message += `"Table ID","Column ID" and "Annotations URI" (multiple annotations separated by a <u>space</u>) <br />`;
                  message += `<strong>Example</strong>: `;
                  message += `"9206866_1_8114610355671172497","0","http://dbpedia.org/ontology/Country http://dbpedia.org/ontology/Place"`;
                }
                break;
              case 'CPA':
                message += `"Table ID", "Head Column ID", "Tail Column ID", and "Property URI"<br />`;
                message += `<strong>Example</strong>: `;
                message += '"50245608_0_871275842592178099","0","1","http://dbpedia.org/ontology/releaseDate"';
                break;
              case 'CEA':
                message += `"Table ID", "Row ID", "Column ID", and "Entity URI"<br />`;
                message += `<strong>Example</strong>: `;
                message += '"KIN0LD6C","1","0","http://www.wikidata.org/entity/Q2472824"';
                break;
            }

            $formHint.html(message);

            // init submit annotation button state and upload info
            resetSubmitButton($submitButton);

            $('#uploads-info').empty();

            if ('max_uploads_today' in gs_list[ gs ]) {
              let uploadsLeft = gs_list[ gs ][ task ][ 'uploads_left' ];
              let maxUploads = gs_list[ gs ][ 'max_uploads_today' ];

              if (maxUploads === 0) {
                $('#uploads-info').text('No more submissions allowed for this GS');
                submissionAvailable = false;
              } else if (maxUploads !== -1) {
                $('#uploads-info').html(`You have <strong>${uploadsLeft >= 0 ? uploadsLeft : 0}</strong> uploads left today (max: ${maxUploads})`);
                submissionAvailable = uploadsLeft !== 0;
              }

              if (!submissionAvailable) {
                $submitButton.addClass('disabled').prop('disabled', true);
              }

            }

          } else {
            $formHint.text(defaultHint);
            $('#uploads-info').empty();
            resetSubmitButton($submitButton);
          }

        });

      });
    </script>

{% endblock %}


