{% extends "app/login_register_base.html" %}

{% block title %}
    Login |  {{ block.super }}
{% endblock %}

{% block sideColumnMainText %}

    Welcome Back!

    {% if challenge %}
        <span class="small block">Sign in to join the challenge!</span>
    {% endif %}

{% endblock %}

{% block sideColumnCTA %}
    <p>Don't have an account?</p>
    <a class="btn btn-outline-white" href="{% url 'register' %}">Sign Up</a>
{% endblock %}

{% block content %}
    {{ block.super }}

    <h1>
        Sign In
    </h1>

    {% if show_demo %}
        <div class="demo">


            <button type="" class="btn btn-text-primary" id="fillDemoCredential">Try STILTool without registration
            </button>

            <div>or</div>

        </div>

    {% endif %}

    <form id="login-form" method="post" action="{% url 'login' %}">
        {% csrf_token %}

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}


        <div class="form-group material input-text">
            <input type="text" id="{{ login_form.username.id_for_label }}"
                   name="username">
            <label for="{{ login_form.username.id_for_label }}">Username</label>
            <div class="form-error-message">
                {{ login_form.username.errors }}
            </div>
        </div>
        <div class="form-group material input-text trailing-icon">

            <input type="password" class="form-control" id="{{ login_form.password.id_for_label }}"
                   name="password">
            <label for="{{ login_form.password.id_for_label }}">Password</label>
            <i class="show-password fa fa-eye"></i>
            <div class="form-error-message">
                {{ login_form.password.errors }}
            </div>
        </div>

        {% if login_form.non_field_errors %}

            <div class="alert alert-danger" role="alert">
                {% for error in login_form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>

        {% endif %}

        <div>
            <button class="btn btn-primary btn-lg loading-animation" type="submit">Sign in</button>
            <div class="global form-error-message"></div>
        </div>
        <input type="hidden" name="next" value="{{ request.GET.next }}"/>

    </form>



{% endblock %}

{% block javascript %}
    {{ block.super }}

    <script>

      $(document).ready(function () {
        const usernameItem = $("#{{ login_form.username.id_for_label }}");
        const passwordItem = $("#{{login_form.password.id_for_label}}");

        {% if show_demo %}
          $('#fillDemoCredential').on('click', function () {
            $(usernameItem).val('demo').trigger('focusout');
            $(passwordItem).val('demo').trigger('focusout');
            $('form#login-form').submit();
          });
        {% endif %}

        /*submit form*/
        $('form#login-form').submit(function (e) {
          e.preventDefault();

          const form = $(this);

          resetErrorsAndNotifications(form);

          // submit button styling
          const submitButton = $(this).find('.btn.loading-animation');
          $(submitButton).addClass('loading disabled').prop('disabled', true);

          // get form data
          let formData = new FormData(this);

          $.ajax({
            url: form.attr('action'),
            type: 'POST',
            data: formData,
            success: function (response) {

              $(submitButton).addClass('success');

              window.location.href = response[ 'redirect' ];

            },
            error: function (request) {
              const data = request[ 'responseJSON' ];

              if (data) {
                if ('username' in data) {
                  setErrorMessage($(usernameItem), data[ 'username' ][ 0 ]);
                }

                if ('password' in data) {
                  setErrorMessage($(passwordItem), data[ 'password' ][ 0 ]);
                }

                if ('__all__' in data) {
                  $('.global.form-error-message').html(data[ '__all__' ][ 0 ]).show();
                }

              }

              $(submitButton).addClass('error');
            },
            complete: function () {
                // submit button reset styling
              resetSubmitButton(submitButton);
            },
            async: true,
            timeout: 60000,
            cache: false,
            contentType: false,
            processData: false
          });
        });

      });

    </script>

{% endblock %}
