{% extends "app/login_register_base.html" %}
{% load static %}

{% block title %}
    Register |  {{ block.super }}
{% endblock %}

{% block sideColumnMainText %}
    Hello!
    {% if challenge %}
        <span class="small block">Want to join the challenge?</span>
        <span class="small block"> Create an account!</span>
    {% endif %}
{% endblock %}

{% block sideColumnCTA %}

    <p>Already have an account?</p>
    <a class="btn btn-outline-white" href="{% url 'login' %}">Sign IN</a>

{% endblock %}

{% block content %}
    {{ block.super }}

    <h1>
        Sign Up
    </h1>

    <form id="register-form" method="post" enctype="multipart/form-data" action="{% url 'register' %}">
        {% csrf_token %}

        {#TODO: move message below#}
        <div id="message-registration"></div>

        <div class="row">
            <div class="col col-xs-12">
                <div class="form-group filepond input-file {% if image_form.avatar.errors %}error{% endif %}">
                    {{ image_form.avatar }}
                    <div class="form-hint">
                        Only .jpg, .jpeg, or .png. Max file size: 200kb
                    </div>
                    <div class="form-error-message">


                        {#TODO: show error#}
                        {% if image_form.avatar.errors %}
                            <div class="error-message">
                                {% for error in image_form.avatar.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>

            </div>


        </div>

        <div class="form-group material input-text">
            <input type="text" id="{{ registration_form.username.id_for_label }}"
                   name="username">
            <label for="{{ registration_form.username.id_for_label }}">Username</label>

            {#            <div class="form-hint">#}
            {#                {{ registration_form.username.help_text }}#}
            {#            </div>#}
            <div class="form-error-message">
                {{ registration_form.username.errors }}
            </div>

        </div>

        <div class="form-group material input-text">
            <input type="text" id="{{ registration_form.email.id_for_label }}"
                   name="email">
            <label for="{{ registration_form.email.id_for_label }}">Email</label>

            {#            <div class="form-hint">#}
            {#                {{ registration_form.email.help_text }}#}
            {#            </div>#}
            <div class="form-error-message">
                {{ registration_form.email.errors }}
            </div>

        </div>

        {#long-hint#}
        <div class="form-group material input-text trailing-icon">
            <input type="password" id="{{ registration_form.password1.id_for_label }}"
                   name="password1">
            <label for="{{ registration_form.password1.id_for_label }}">Password</label>
            <i class="show-password fa fa-eye"></i>
            <div class="form-error-message">
                {{ registration_form.password1.errors }}
            </div>

        </div>

        <div class="form-group material input-text trailing-icon">
            <input type="password" class="form-control" id="{{ registration_form.password2.id_for_label }}"
                   name="password2">
            <label for="{{ registration_form.password2.id_for_label }}">Password Confirmation</label>
            <i class="show-password fa fa-eye"></i>
            <div class="form-error-message">
                {{ registration_form.password2.errors }}
            </div>
        </div>

        {% if registration_form.non_field_errors %}

            <div class="alert alert-danger" role="alert">
                {% for error in registration_form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>

        {% endif %}

        <button class="btn btn-primary btn-lg loading-animation" type="submit">Sign up</button>
        <div class="global form-error-message"></div>
        <div class="message-registration alert alert-success hide">

            {% if smtp == 'true' %}
                Check your email to complete the registration
            {% else %}
                User has been created. You will be redirect to login page
            {% endif %}
        </div>

    </form>
{% endblock %}

{% block css %}
    {{ block.super }}
    <!-- include FilePond library -->
    <link rel="stylesheet" href="{% static "/filepond/dist/filepond.min.css" %}">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
          rel="stylesheet">

{% endblock %}

{% block javascript %}
    {{ block.super }}
    <!-- include FilePond library -->
    <script src="{% static "/filepond/dist/filepond.min.js" %}"></script>

    <!-- include FilePond plugins -->
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.js"></script>


    <!-- include FilePond jQuery adapter -->
    <script src="{% static "/jquery-filepond/filepond.jquery.js" %}"></script>


    <script>

      $(document).ready(function () {
        // FilePond: First register any plugins
        $.fn.filepond.registerPlugin(FilePondPluginImagePreview);
        // FilePond: transform file-input in pond input
        $('.form-group.filepond.input-file input').filepond({
          labelIdle: 'Drag & Drop your avatar or <span class="filepond--label-action"> Browse </span>',
          stylePanelLayout: 'circle',
          imageCropAspectRatio: '1:1',
          imageResizeTargetWidth: 150,
          imageResizeTargetHeight: 150,
        });
        const $filePondInstance = $('.filepond--root');
        $filePondInstance.on('FilePond:updatefiles', function (e) {
          console.log('file changed');
          $(e.target).closest('.form-group').removeClass('error');
          resetGlobalError($(this).closest('form'));
        });

        let usernameItem = $("#{{ registration_form.username.id_for_label  }}");
        let emailItem = $("#{{ registration_form.email.id_for_label  }}");
        let passwordItem = $("#{{registration_form.password1.id_for_label}}");
        let passwordConfirmItem = $("#{{ registration_form.password2.id_for_label }}");
        let avatarItem = $("#{{ image_form.avatar.auto_id  }}");

        /*submit form*/
        $('form#register-form').submit(function (e) {
          e.preventDefault();

          const form = $(this);

          resetErrorsAndNotifications(form);

          // submit button styling
          const submitButton = $(this).find('.btn.loading-animation');
          $(submitButton).addClass('loading disabled').prop('disabled', true);

          // get form data
          let formData = new FormData(this);

          const uploadedFile = $filePondInstance.filepond('getFile');
          if (uploadedFile) {
            formData.set('{{ image_form.avatar.html_name }}', uploadedFile.file, uploadedFile.filename);
          }

          // find if smtp is config
          let isSmtpRegistration = JSON.parse("{{ smtp | escapejs }}");

          $.ajax({
            url: form.attr('action'),
            type: 'POST',
            data: formData,
            success: function (response) {

              $(submitButton).addClass('success');

              $('.message-registration').removeClass('hide');
              $('.message-registration')[ 0 ].scrollIntoView(true);

              if (!isSmtpRegistration) {
                setTimeout(function () {
                  window.location.href = response[ 'redirect' ];
                }, 3000);

              }

              setTimeout(function () {
                $(submitButton).removeClass('success');
              }, 3000);

            },
            error: function (request) {
              const data = request[ 'responseJSON' ];

              if (data) {
                if ('username' in data) {
                  setErrorMessage($(usernameItem), data[ 'username' ][ 0 ]);
                }

                if ('email' in data) {
                  setErrorMessage($(emailItem), data[ 'email' ][ 0 ]);
                }

                if ('password1' in data) {
                  setErrorMessage($(passwordItem), data[ 'password1' ][ 0 ]);
                }

                if ('password2' in data) {
                  setErrorMessage($(passwordConfirmItem), data[ 'password2' ][ 0 ]);
                }

                if ('avatar' in data) {
                  setErrorMessage($(avatarItem), data[ 'avatar' ][ 0 ]);
                }

                if ('__all__' in data) {
                  $('.global.form-error-message').append(data[ '__all__' ][ 0 ]).show();
                }

              }

              $(submitButton).addClass('error');

            },
            complete: function () {
              // submit button reset styling
              resetSubmitButton(submitButton);
            },
            async: true,
            timeout: 60000,
            cache: false,
            contentType: false,
            processData: false
          });
        });

      });

    </script>

{% endblock %}
