{% extends "app/base-dashboard.html" %}

{% block title %}
    Login |  {{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="container-fluid">
        <section class="content">
            <div class="row">
                <div class="col">
                    <h1>Profile</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="box box-primary">
                        <div class="box-body box-profile text-center">
                            <img class="profile-user-img img-fluid img-circle" id="form-avatar"
                                 src="{{ user.userprofile.avatar.url }}" alt="User profile picture"/>

                            <h3 class="profile-username">{{ user.username }}</h3>
                            {% if user.is_staff %}
                                <p class="text-muted">
                                    {% if user.is_superuser %}
                                        Administrator
                                    {% else %}
                                        Staff
                                    {% endif %}
                                </p>
                            {% endif %}

                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>

                <div class="col-md-9">
                    {% if user == request.user %}
                     {% include "app/under_construction.html" %}
                    {% endif %}
                </div>
            </div>
        </section>

    </div>

{% endblock %}


 
