// buttons
.btn {
  transition: background 0.2s;
  text-transform: uppercase;
  padding: 6px 18px;
  font-weight: 500;

  &.btn-primary {
    background-color: $anchor-color;
    border-color: $anchor-color;

    &:hover {
      background-color: $anchor-color-hover;
    }
  }

  &.btn-secondary {
    color: white;
    background-color: $secondary-color;

    &:hover {
      background-color: $secondary-color-darker;
    }
  }

  &.alert-danger {
    border-color: $danger;
  }

  &.btn-text {
    border: unset;

    &-primary {
      background: transparent;
      border: unset;
      color: $skin-color;

      &:hover {
        color: $skin-color-darker;
      }
    }

    &-secondary {
      background: transparent;
      border: unset;
      color: $secondary-color;

      &:hover {
        color: $secondary-color-darker;
      }
    }

    &-white {
      background: transparent;
      border: unset;
      color: white;

      &:hover {
        color: darken(white, 10%);
      }
    }

    &-danger {
      background: transparent;
      color: $danger;

      &:hover {
        color: darken($danger, 10%);
      }
    }

    &.no-padding {
      padding: 0;
    }
  }

  &.btn-outline {

    &-primary {
      background: transparent;
      border: 1px solid $skin-color;
      color: $skin-color;

      &:hover {
        border-color: $skin-color-darker;
        background-color: $skin-color-darker;
        color: white; //$skin-color-darker;
      }
    }

    &-secondary {
      background: transparent;
      border: 1px solid $secondary-color;
      color: $secondary-color;

      &:hover {
        border-color: $secondary-color-darker;
        background-color: $secondary-color-darker;
        color: white; //$skin-color-darker;
      }
    }

    &-white {
      background: transparent;
      border: 1px solid white;
      color: white;

      &:hover {
        border-color: white;
        background-color: white;
        color: $skin-color;
      }
    }

    &-danger {
      background: transparent;
      border: 1px solid $danger;
      color: $danger;

      &:hover {
        border-color: $danger-darker;
        background-color: $danger-darker;
        color: white; //$skin-color-darker;
      }
    }

  }

  &.disabled {
    cursor: not-allowed !important;
    pointer-events: auto !important;
  }

  &.load {
    position: relative;

    .loading {
      position: absolute;
      margin: 0;
      left: 0;
      top: 0;
      background: rgba(236, 240, 245, 0.75);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: inherit;
    }
  }

  &.tiny {
    padding: 2px 15px;
    vertical-align: text-bottom;
  }

  &.btn-xxs {
    font-size: 10px;
    padding: 2px 4px;

    i {
      font-size: 120%;
      vertical-align: middle;
    }
  }

  .action {
    font-size: 14px;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
  }

  .process {
    font-size: 12px;
    display: block;
  }

  &:active {
    box-shadow: unset !important;
  }
}


//animation effect
.btn.loading-animation {
  padding: 5px 20px;
  position: relative;
  transition: all .3s;

  &:after {
    @extend %FontAwesome900;
    position: absolute;
    opacity: 0;
    transition: all .1s;
    display: inline-block;
    right: 10px;

  }

  .text {
    z-index: 1;
    position: relative;
  }

  .progress {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    background: rgba(black, .25);
    width: 0%;
    height: 100%;

  }

  &.loading {

    padding-left: 5px;
    padding-right: 35px;

    &:after {
      opacity: 1;
      right: 5px;
      content: "\f2f1";
      animation: spin 2s linear infinite;
    }

    .progress {
      transition: width .2s linear;
    }
  }

  &.success {
    padding-left: 5px;
    padding-right: 35px;
    background: $success;
    border-color: $success;

    &:after {
      content: "\f00c";
      opacity: 1;
      right: 5px;
    }
  }

  &.error {
    padding-left: 5px;
    padding-right: 35px;
    background: $danger;
    border-color: $danger;

    &:after {
      content: "\f06a";
      opacity: 1;
      right: 5px;
    }
  }


}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
