body {
  &, * {
    font-family: $font;
  }
}

img {
  max-width: 100%;
}

a {
  color: $skin-color;
  transition: all .2s;

  &:hover,
  &:active,
  &:focus {
    color: $skin-color-darker;
  }
}


h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
  //font-weight: 400;

  text-transform: uppercase;
  //font-size: 16px;
  font-weight: 500;

  @include breakpoint("small") {
    font-size: 28px;
  }

}

h3 {
  text-transform: uppercase;
  font-size: 18px;

  @include breakpoint("small") {
    font-size: 22px;
  }
}

p {
  margin-bottom: 16px;
}

p + ul {
  margin-top: -16px;
}


// alert
.alert-success {
  margin-top: 50px;
  color: #3c763d !important;
  background-color: #bce1b2 !important;
  border-color: #9cc790 !important;
  text-align: center;
}

//modal
.modal {
  .btn {
    text-transform: uppercase;
    font-size: 18px;
    display: inline-block;
  }

  .small {
    font-style: italic;
  }

  .modal-title,
  .modal-content,
  .modal-footer {
    text-align: center;
  }

  .modal-title {
    font-weight: bold;
    font-size: 22px;
  }

  .modal-content {
    font-size: 18px;

    i {
      font-size: 7rem;
      color: rgba(3, 7, 9, 0.46);
      margin-right: 15px;

      &.fa-check {
        font-size: 5rem;
        vertical-align: sub;
      }
    }
  }

  .modal-body {
    padding: 2rem 3rem;

    .flex {
      align-items: center;
      text-align: left;
    }
  }

}

// progress bar
.progress {
  background-color: #bababa;

  &-bar {
    background-color: $skin-color;
    white-space: nowrap;
  }
}

//box
.box {
  &-title {
    font-weight: bold;
  }
}

// info table on header
.tableInfo {
  margin: 0 30px 0 0;
  list-style: none;
  min-height: 50px;
  display: inline-flex;
  align-items: center;
  color: $infoTable-color;
  padding: 0;

  li {
    padding: 0 15px;
    @include breakpoint('medium') {
      padding: 0 20px;

    }
  }

  .name {
    font-size: 12px;
    font-style: italic;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include breakpoint('small') {
      font-size: 16px;
    }

    @include breakpoint('medium') {
      font-size: 18px;
    }
  }

  .stats {
    text-align: center;
  }

  .number,
  .description {
    display: block;
    line-height: 1;
  }

  .number {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 2px;

    @include breakpoint('small') {
      font-size: 20px;
    }

    &.smaller {
      font-size: 80%;
      padding: 3px 0;

    }
  }

  .description {
    font-size: 10px;
    font-weight: 300;
    @include breakpoint('small') {
      font-size: 12px;
    }
  }
}

// accordion
.accordion {
  max-width: 700px;
  margin: auto;

  .panel-heading {
    background: #e6e6e6;
    padding: 0;

    a {
      position: relative;
      padding: 10px 0px 10px 10px;

      &:after {
        @extend %FontAwesome900;
        content: "\f068";
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: $secondary-color;
        font-size: 14px;
      }

      &.collapsed {
        &:after {
          content: "\f067";

        }
      }

      &.disabled {
        &:after {
          content: unset;
        }
      }
    }
  }

  .panel-title a {
    display: block;
    font-size: 20px;
    color: $anchor-color;

    &:hover,
    &:active,
    &:focus {
      color: $anchor-color-hover;
    }

  }
}

//pagination
.pagination {
  margin-top: 5px;

  li.active {
    a {
      background: $skin-color;
      cursor: pointer;
    }

    &:hover {
      a {
        background: $skin-color-darker;
      }

    }
  }
}

//tooltip
.tooltip-inner {
  text-align: left;
}


// pre
pre {
  font-size: 11px;
}

// tables
table {
  th.empty {
    background-color: transparent !important;
    border: none !important;
  }
}

.table.sde-table {
  border: unset;

  th {
    text-transform: uppercase;
    background-color: #f3f3f3;
    text-align: center;
    padding: 4px !important;
    vertical-align: top;
  }

  td {
    background-color: white;

    vertical-align: middle !important;

  }

  &.table-bordered {
    & > thead > tr > th,
    & > tbody > tr > th,
    & > tfoot > tr > th,
    & > thead > tr > td,
    & > tbody > tr > td,
    & > tfoot > tr > td {
      border: 1px solid #b3b2b2;
    }
  }

}


.handsontable .htCheckboxRendererInput {
  margin: 0;
}

//Under construction
.under-construction {
  padding: 30px;
  font-size: 24px;

  i {
    font-size: 150%;
    color: $skin-color;
    opacity: .8;
  }
}


//user profile
.profile-user-img {
  position: relative;
  width: 80px;
  height: 80px;


  &.small {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 0;
    margin-right: 6px;
  }

  &:before {
    content: '';
    width: 100%;
    padding-bottom: 100%;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: inherit;
  }
}






