%bg-image {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/background.jpg");
    width: 100%;
    height: 100%;
    opacity: 0.03;
  }
}

#home {

  font-family: $font;
  //background: $home-up-bg;
  //@extend %bg-image;
  background: $skin-color url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  .header {
    //background-color: $home-up-bg;
    //@extend %bg-image;
    text-align: center;
    padding: 5px 20px 20px;
    position: relative;
    clear: both;

    @include breakpoint("medium") {
      padding: 20px 20px 50px;
    }
  }

  .wrapper {
    z-index: 1;
    position: relative;
    background-color: transparent;
    overflow: visible;
  }

  .logo {
    max-width: 90px;
  }

  .subhead, .title, .head {
    color: $home-title-color;
    line-height: 1.1;
    text-transform: uppercase;

    @include breakpoint("medium") {
      line-height: 1;
    }
  }

  .subhead {
    color: white;
    font-size: 16px;
    position: relative;
    padding-bottom: 20px;

    @include breakpoint("medium") {
      font-size: 24px;
    }

    &:after {
      content: "";
      position: absolute;
      width: 10%;
      min-width: 100px;
      max-width: 200px;
      height: 3px;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      background-color: white;
      z-index: 9;

      @include breakpoint("medium") {
        height: 6px;
      }

    }
  }

  .title {
    font-size: 60px;
    margin: 0;

    .bold {
      font-weight: 700;
    }

    @include breakpoint("medium") {
      font-size: 80px;
    }

  }

  .head {
    display: block;
    font-weight: 300;
    font-size: 22px;
    margin-top: 20px;
  }

  .shadow-wrapper {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    margin: 4px;

    @include breakpoint("medium") {
      box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.4);
      margin: 30px;

    }

  }

  #slider-features {
    @include breakpoint("small") {
      max-width: 90%;
      margin: auto;
    }

    .carousel-control {
      display: none;
      @include breakpoint("small") {
        display: block;
      }

      width: 5%;

      &.left {
        left: -6%;
      }

      &.right {
        right: -6%;
      }
    }
  }

  .preview {
    margin-bottom: 40px;
    @include breakpoint("small") {
      max-width: 85%;
      margin: 0 auto 40px;
    }
  }

  .features-wrapper {
    padding: 20px 0;
    position: relative;
    font-size: 24px;
    text-align: center;
    color: $home-text-color;

    &:before {
      position: absolute;
      content: "";
      background: linear-gradient(-190deg, rgba($home-up-bg, 0) 20%, $home-bottom-bg 0, $home-bottom-bg);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      @include breakpoint("medium") {
        background: linear-gradient(#{$home-bg-deg}deg, rgba($home-up-bg, 0) 24%, $home-bottom-bg 0, $home-bottom-bg);

      }
    }

    p {
      font-weight: 300;
      margin-bottom: 20px;
    }

    .grid-3,
    .grid-4 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 20px;
      padding-bottom: 40px;
      @include breakpoint("medium") {
        padding-bottom: 60px;

      }

      .feature {

        width: 100%;
      }
    }

    .grid-3 {

      .feature {

        @include breakpoint("medium") {
          width: calc((100% / 3) - 60px);
        }

      }
    }

    .grid-4 {
      .feature {

        @include breakpoint("small") {
          width: calc((100% / 2) - 60px);
        }

        @include breakpoint("medium") {
          width: calc((100% / 4) - 60px);
        }
      }
    }

    .feature {
      margin: 20px 0;
      opacity: .4;
      transition: all .2s;
      cursor: pointer;
      display: flex;
      @include breakpoint("small") {
        margin: 30px;
        flex-direction: column;
        align-items: center;
      }

      &.active {
        opacity: 1;

        .feature-title {
          border-color: $skin-color;
          color: $skin-color;

        }
      }


    }

    .feature-title {
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 1.1;

      width: 45px;
      height: 45px;
      border: 4px solid white;
      background: white;
      color: $secondary-color;
      position: relative;
      border-radius: 50%;
      font-size: 30px;
      font-weight: bold;


      transition: all .2s;
      @include breakpoint("small") {
        margin: 0 auto 10px;
      }

      .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      strong {
        font-size: 28px;
      }
    }

    .feature-description {
      font-size: 18px;
      font-weight: 300;
      width: 70%;
      text-align: left;
      margin-left: 10px;

      @include breakpoint("small") {
        text-align: center;
        margin-left: 0;
        font-size: 22px;
        width: 100%;
      }

    }

    .btn {
      font-size: 16px;
      padding: 10px;
      text-decoration: none;
      margin-bottom: 20px;
      @include breakpoint("small") {
        font-size: 30px;
        margin-bottom: 40px;
      }
    }
  }

  .footer {
    @extend %bg-image;
    border-top: 2px solid $home-up-bg;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 11px;
    position: relative;
    background: white;

    @include breakpoint("medium") {
      font-size: 12px;
    }

    .flex {
      align-items: stretch;
    }

    .unimib .lab {
      .title {
        font-size: 22px;
        font-weight: bold;
        line-height: 1;
        color: black;
        display: block;
      }

      .text {
        display: block;
      }
    }

    a {
      color: black;
      text-decoration: none;
    }

    .unimib .disco {
      max-width: 95px;
      margin-right: 15px;

      a {
        display: block;
      }
    }

    .bitbucket {
      align-items: center;
      position: relative;
      //margin-top: 20px;
      //padding: 10px;
      text-align: right;
      //border-left: 1px solid #6b6b6b;
      margin-left: auto;
      //&:before {
      //  content: "";
      //  width: 20%;
      //  height: 1px;
      //  background: #6b6b6b;
      //  top: 0;
      //  left: 50%;
      //  transform: translateX(-50%);
      //  position: absolute;
      //}


      @include breakpoint("xsmall only") {
        text-align: center;
        margin-top: 20px;
        padding-top: 10px;
        &:before {
          content: "";
          width: 20%;
          height: 1px;
          background: #6b6b6b;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          position: absolute;
        }
      }

      .logo-sm {
        max-width: 18px;
        display: inline-block;
      }

      .text {
        font-weight: 400;
        vertical-align: middle;
        font-size: 14px;
        color: #0b4ead;

        @include breakpoint("medium") {
          font-size: 15px;
        }
      }
    }
  }
}
