#login-register {

  margin: 0;

  &,
  .container-fluid,
  .container-fluid > .row {


    @include breakpoint(small) {
      min-height: 100vh;

    }
  }

  .container-fluid > .row {
    @include breakpoint(small) {

      display: flex;
    }
  }

  .container-fluid > .row > .col {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;

    overflow-y: auto;

    @include breakpoint(small) {
      height: 100vh;
      padding-top: 40px;
      padding-bottom: 40px;
    }

  }

  .background {
    background: $skin-color url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    justify-content: space-between;

    * {
      z-index: 1;
    }
  }

  .subhead, .title, .head {
    color: $home-title-color;
    line-height: 1.1;
    text-transform: uppercase;
  }

  .title {
    font-size: 50px;
    margin: 0;

    @include breakpoint(medium) {
      font-size: 70px;
    }

    @include breakpoint(large) {
      font-size: 80px;
    }

    .bold {
      font-weight: 700;
    }

  }

  .subhead {
    color: white;
    font-size: 16px;
    position: relative;
    padding-bottom: 20px;

    @include breakpoint(medium) {
      font-size: 18px;
    }

    @include breakpoint(large) {
      font-size: 16px;

    }
  }

  .head {
    display: block;
    font-weight: 300;
    font-size: 22px;
    margin-top: 20px;
  }

  .logo {
    max-width: 100px;

    @include breakpoint(medium) {
      max-width: 150px;
    }
  }

  .sidecol-main-text {
    font-size: 34px;
    line-height: 1.1;
    margin: 30px 0;

    @include breakpoint(medium) {
      margin: 60px 0;
      font-size: 48px;
    }

    .small {
      font-weight: 300;
      font-size: 14px;

      @include breakpoint(medium) {
        font-size: 20px;
      }
    }

  }

  .sidecol-cta {
    margin-top: 40px;
    padding-top: 20px;
    font-weight: 300;
    font-size: 14px;
    position: relative;
    width: 100%;

    @include breakpoint(medium) {
      margin-top: 60px;
      font-size: 18px;
    }

    &:before {
      content: '';
      height: 1px;
      width: 100%;
      background: rgba(white, 0.2);
      left: 0;
      top: 0;
      position: absolute;
    }
  }

  .profile-user-img {
    margin-bottom: 30px;
  }

  .form-group.filepond.input-file {
    #id_avatar {
      margin-left: auto;
      margin-right: auto;


    }
      .form-hint,
    .form-error-message {
      text-align: center;
      width: 100%;
    }
  }


  form {
    max-width: 400px;
    margin: 0 auto;
    width: 100%;

    .long-hint {
      &.form-group.material {
        margin-bottom: 120px;
      }

      .form-hint {
        ul {
          padding: 0 15px;
        }
      }
    }

  }

  .demo {
    margin-bottom: 20px;

    .btn {
      margin-bottom: 10px;


    }

  }

}


