.snackbar {
  border-radius: 4px;
  padding: 16px 64px 16px 16px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  background: #333;
  color: rgba(white, .87);
  font-size: 16px;
  position: fixed;
  left: 230px;
  transition: all 0.3s ease-in-out;
  z-index: 9;
  line-height: 1;
  visibility: hidden;
  opacity: 0;
  min-width: 100%;
  max-width: 500px;
  transform: translate(20px, 100%);
  bottom: 0;
  //transition: all .3s;
  @media screen and (min-width: 344px) {
    min-width: 344px;
  }

  &.show {
    visibility: visible;
    opacity: 1;
    bottom: 20px;
    transform: translateX(20px);
  }

  .dismiss {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 14px;
    padding: 6px;
    color: rgba(white, .56);
  }
}


.sidebar-collapse .snackbar {
  left: 50px;
}

