%setHeight {


  @include breakpoint("small") {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }

}

%transition {
  transition: all .2s;
}

.box {
  border-radius: 0;
}

.nav {

  &-tabs {
    border: none;
    margin-bottom: 20px;
    text-transform: uppercase;

    & > li {

      & > a {
        color: #404040;
        border: none;
        border-bottom: 2px solid transparent;
        font-weight: 500;

        //&:hover {
        //  border: none !important;
        //}
        //
        //&:focus {
        //  background: unset !important;
        //}
      }

      &.active > a:focus,
      &.active > a:hover,
      &.active > a {
        background: none;
        color: $skin-color;
        border: none;
        border-bottom: 2px solid $skin-color;
      }

      & > a:focus,
      & > a:hover,
      & > a:hover {
        background: none;
        color: $skin-color;
        border-bottom: 2px solid transparent;
      }
    }
  }

}

.tab-content {
  .align-to-tab {
    padding-left: 15px;

  }

  .bigger-text {
    font-size: 18px;
  }

}

i.info {
  font-size: 120%;
  vertical-align: text-bottom;
  cursor: pointer;

  &:focus,
  &:hover {
    color: $skin-color;
  }

  &:focus {
    outline: none;
  }
}

i.section-info {
  cursor: pointer;

}

.tooltip.scoreDescription {
  .tooltip-inner {
    max-width: unset;
  }
}

.popover.scoreDescription {
  max-width: unset;
  width: auto;
  border: 3px solid $skin-color;
}

mjx-container {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.gsCol-layout {
  margin: -10px;
  @include breakpoint(small) {
    margin: -5px;
    display: flex;

  }

  .no-data {
    text-align: center;
    margin: 50px auto;

    .main-text {
      font-size: 40px;
    }

    .btn {
      margin-top: 30px;
    }
  }

  .section-label {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    background: #a7adba; //rgba($secondary-color, .1);
    box-shadow: 0 1px 4px 0 rgba($secondary-color, .4);
    margin-bottom: 20px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    position: sticky;
    top: 0;
    z-index: 9;
  }

  .gs-col {
    background: darken($light-gray, 10%);
    width: auto;
    flex: 0 0 auto;
    @extend %setHeight;

    @include breakpoint("xsmall only") {
      position: relative;
      margin-bottom: 50px;
    }

    @include breakpoint("small") {
      min-width: 200px;
      max-width: 200px;
    }

    .gs-settings {
      display: block;
      margin-bottom: 4px;

      .label {
        background: $secondary-color;
        text-transform: uppercase;
        font-size: 10px;
        padding: 1px 6px;
        font-weight: normal;
      }
    }

    .gs-item {
      display: block;
      margin: 10px 0;
      padding: 0 10px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: rgba($secondary-color, .7);
      position: relative;
      font-size: 16px;

      .gs-settings .label {
        background: rgba($secondary-color, .6);
      }

      @include breakpoint("small") {
        margin: 0;
      }

      &-wrapper {

        @include breakpoint("small") {
          margin-bottom: 20px;
        }
      }

      &.active {
        color: $secondary-color;

        .gs-settings .label {
          background: $secondary-color;
        }

        @include breakpoint("xsmall only") {
          color: $skin-color;
        }
      }

      &.link {
        @extend %transition;

        &:hover {

          color: $skin-color;

          @include breakpoint("small") {
            background: $skin-color;
            color: white;
          }
        }

      }

      @include breakpoint("xsmall only") {

        border-right: 1px solid rgba($secondary-color, .5);


        &:last-child {
          border-right: 0;
        }
      }
    }

    .section-label {
      padding: 0 10px 0 10px;
      margin-bottom: 20px;
      text-align: center;
      @include breakpoint("xsmall only") {
        display: none !important;
      }
    }

    .tasks {

      width: auto;
      flex: 0 0 auto;


      @include breakpoint("xsmall only") {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
      }

      .task-item {
        color: $secondary-color;
        padding: 4px 10px 4px 30px;

        &:before {
          content: "\f111";
          @extend %FontAwesome900;
          font-weight: 400;
          font-size: 10px;
          margin-right: 6px;
        }


        &.link {

          @extend %transition;
          display: flex;
          align-items: center;
          font-size: 16px;

          &.active {
            color: $skin-color;
            font-weight: bold;

            &:before {
              font-weight: 900;

            }
          }

          &:hover {

            color: $skin-color;

            @include breakpoint("small") {
              background: $skin-color;
              color: white;
            }

          }

        }


      }
    }

    .gs-content {

      @include breakpoint("xsmall only") {
        overflow-x: auto;
        margin: 0 auto;
        text-align: center;
        .inner-flex {
          display: inline-flex;
          justify-content: center;
        }
      }

      &.has-sublevel {
        .gs-item {
          @include breakpoint("small") {
            padding: 0 10px 0 30px;

            &:before {
              content: "\f0da";
              font-family: 'Font Awesome 5 Free';
              font-weight: 900;
              font-size: 120%;
              position: absolute;
              left: 12px;
              bottom: 0;
            }

            &.active {
              &:before {
                content: "\f0d7";
              }
            }
          }

        }
      }

    }
  }

  .main-col {
    @extend %setHeight;
    flex: 1 1 0;

    .section-label {
      background: transparent;
      box-shadow: unset;

      padding: 10px 20px;

      &.tab-label {
        padding-top: 0 !important;
      }

      @include breakpoint("xsmall only") {
        text-align: center;
        padding: 0;
      }

    }

    .highlight {
      td {
        background: rgba($skin-color, 0.2);
      }
    }

    .table {
      text-align: center;

      .position,
      .score {

        font-weight: bold;
      }

    }
  }

  .padded-container {
    padding: 0 20px;
  }
}

#leaderboard {
  .table {

    .score {
      font-size: 140%;
    }

    .avatar {
      text-align: left;

      img {
        border-radius: 50%;
        width: 40px;
        margin-right: 10px;
      }
    }
  }
}

#upload-list {

  .main-col {

    .section-label {
      //margin: -20px;


      @include breakpoint("small") {
        padding: 0 !important;
        position: absolute;

      }
    }

    &.padded-container {
      padding-bottom: 20px;
    }

    .tab-content {
      height: 100%;
    }

    .tab-pane.active {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    .flex-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
  }

  .shift-content {
    @include breakpoint("small") {
      margin-top: 70px;
    }
  }

  .pending-item {
    margin-bottom: 15px;
    font-size: 18px;

    i {
      opacity: .8;
    }
  }

  .table-wrapper {

    overflow: auto;

    @include breakpoint("small") {
      min-height: 150px;
    }


    .check {
      padding: 8px 2px;
    }

    .form-group.material {
      margin: 0;

      label {
        margin: 0;
        position: unset;

        &:before {
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }


    td {
      transition: background-color .3s;
      padding: 4px 8px !important;
    }

    th {
      white-space: nowrap;
    }

    .score {
      font-size: 110%;
    }

    .upload-item {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .actions {
      max-width: 250px;
      min-width: 200px;
      width: 200px;
    }

    .progress {
      &-wrapper {
        min-width: 200px;
      }

      &-bar {
        text-align: left;
        padding-left: 5px;
        font-size: 11px;
      }
    }


  }

  .lineChart-wrapper {
    height: 300px;
    min-height: 250px;
    margin-top: 50px;


    .message {
      background: rgba($light-gray, .5);
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-size: 18px;
      text-align: center;
    }

    canvas {
      display: none;
    }
  }

}

#uploading-page {

  .container-form {
    padding: 30px 0;

    form {
      max-width: 480px;
      margin: auto;
    }

    .btn-wrapper {
      margin-bottom: 6px;
      @include breakpoint(small) {
        padding-top: 40px;
      }
    }

    .btn {
      vertical-align: unset;
    }
  }

  .addSelectOption {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $form-v-space;

    @include breakpoint(small) {
      flex-wrap: nowrap;
    }

    .form-group,
    .add-new-item {
      margin: 0;
    }

    .form-group {
      width: 100%;
    }

    .add-new-item {
      font-size: 26px;
      cursor: pointer;
      color: $skin-color;
      display: flex;
      align-items: center;
      margin-top: 14px;
      margin-left: auto;
      @include breakpoint(small) {
        border-left: 1px solid rgba($light-gray, 0.4);
        margin-left: 20px;
        margin-top: 0;
        padding-left: 10px;
      }

      i {
        transition: all .2s;
        margin-right: 4px;
      }

      &.rotate {
        i {
          transform: rotate(45deg);
        }
      }

      &.disabled {
        cursor: not-allowed;
        opacity: 0.4;
      }

      &:not(.disabled):hover {
        color: $skin-color-darker;
      }
    }
  }

  .score-choice {

    @include breakpoint(small) {
      margin-top: -10px;
    }

    li {
      margin: 10px 0;
      @include breakpoint(small) {
        width: calc(100% / 3);
        margin: 0 20px 0 0;
      }

      br:first-child {
        display: none;
      }
    }
  }

  #gs-option {

    @include breakpoint(small) {
      text-align: center;
    }

  }

  .message-uploads {
    margin-right: 20px;
    color: $skin-color;
  }

  .background {
    .nav-tabs {
      margin-top: 20px;
    }

    .accordion {
      margin: 0 0 30px 0;
      max-width: unset;

      .panel-title a {
        font-size: 16px;
      }
    }
  }
}

#annotation-form-id {
  max-width: 600px !important;
}

#scoreExplanations {
  .accordion {
    max-width: unset;
  }

  .modal-dialog {
    width: 85% !important;
    max-width: 1024px !important;
    margin-left: auto;
    margin-right: auto;
  }

  .modal-content {
    text-align: left;
    font-size: 16px;


    p mjx-container {
      margin-bottom: 30px;
    }
  }

}

#evaluation {
  .row.flex {
    flex-wrap: wrap;

  }

  .pieChart-wrapper {
    margin: auto;
    max-width: 350px;
    min-height: 200px;
  }

  .stackedBarChart-wrapper {
    min-height: 600px;
    @include breakpoint(small) {
      min-height: 400px;
    }
  }

  .box.score {

    .box-body {
      display: flex;
      justify-content: space-between;
      max-width: 600px;
      margin: auto;

      //@include breakpoint('small only') {
      //  flex-direction: column;
      //}
    }

    .score-wrapper {
      text-align: center;
      padding: 10px;

    }

    .score-label {
      font-weight: 400;
      font-size: 14px;
      text-transform: uppercase;


      @include breakpoint('medium') {
        font-size: 18px;
      }
    }

    .score-value {
      font-weight: 600;
      font-size: 20px;
      @include breakpoint('medium') {
        font-size: 22px;
      }


      @include breakpoint('large') {
        font-size: 30px;
      }
    }
  }

  #ctaChart {
    margin: 50px auto 80px;
    width: 90%;
    height: 8px;
    background: $light-gray;
    //background: linear-gradient(to right, red, green);
    position: relative;


    .zero {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 180%;
      width: 2px;
      background: $secondary-color;
      color: $secondary-color;

      i {
        position: absolute;
        bottom: 110%;
        transform: translateX(-50%);
      }

      .value {
        position: absolute;
        top: 110%;
        transform: translateX(-50%);
      }

    }

    .user-score {
      position: absolute;
      transform: translate(-50%, -70%);
      color: $skin-color;
      text-align: center;
      transition: all 1s ease-out;
      left: 2%;
      top: 0;
      z-index: 9;

      i {
        font-size: 28px;
        background: $light-gray;
        border-radius: 50%;
      }

      .value {
        font-size: 22px;
        font-weight: bold;
      }

    }


    .min,
    .max {
      i {
        position: absolute;
        font-size: 20px;
        top: 50%;
        transform: translateY(-50%);
      }

      .text {
        position: absolute;
        margin-top: 20px;
      }

      .value {
        font-size: 16px;
        font-weight: 500;
      }

      .description {
        font-size: 12px;

      }
    }

    .min {

      color: #E74C3C;

      i, .text {
        left: -25px;
      }

    }

    .max {
      color: #229954;

      i, .text {
        right: -25px;
      }

      .text {
        text-align: right;
      }

    }

  }

  .comparison {

    .box-tools {

      flex-wrap: wrap;
      align-items: center;
      margin-top: 20px;

      @include breakpoint("xsmall only") {
        float: none;
      }

      @include breakpoint("small") {
        display: flex;
        margin-top: 10px;
      }
    }

    .form-group.material {
      margin: 0;
      width: 300px;
      max-width: 100%;

      label {
        background: white;
      }
    }

    .filter {
      &-wrapper {
        margin-right: 30px;

        @include breakpoint("xsmall only") {
          margin-bottom: 20px;
        }
        @include breakpoint("small") {
          margin-right: 30px;
        }
      }

      text-decoration: line-through;
      display: inline-flex;
      align-items: center;
      margin-left: 10px;
      font-size: 12px;
      cursor: pointer;

      opacity: 0.6;

      &.active {
        text-decoration: none;
        opacity: 1;
      }

      &:before {
        content: '';
        width: 30px;
        height: 15px;
        display: inline-block;
        margin-right: 5px;
      }

      &.wrong {
        &:before {
          background: #E74C3C;
        }
      }

      &.missing {
        &:before {
          background: #95A5A6;
        }
      }
    }

    .loader {
      text-align: center;

      i {
        font-size: 26px;
        opacity: .7;
      }
    }

    .progressive-loading {
      .message {
        margin-bottom: 20px;

        &.error {
          color: $danger;
        }
      }

    }

    .comparison-table-wrapper {

      .search-item {
        background: #ffd85b;
      }

      table {
        tbody td {
          background: transparent;
        }

        td {
          //width: 100px;


          &.numeric {
            text-align: center;
            width: 80px;
            min-width: 80px;
            max-width: 80px;
          }

          &.ann {
            width: 400px;
            max-width: 400px;
            overflow: hidden;
            text-overflow: ellipsis;
            //&.small-col {
            //  width: 32%;
            //}
          }

          .item {
            padding: 4px 6px;
            margin-bottom: 3px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }


        color: $secondary-color;

        a {
          color: inherit;
          //display: inline-block;

        }

        .wrong {
          background: rgba(#E74C3C, .15);

          .ann.my, &.item {
            color: #E74C3C;
          }
        }

        .na,
        .missing {
          background: rgba(#95A5A6, .5);

          .ann.my {
            color: #95A5A6;
          }
        }

        .right {
          background: rgba(#229954, .2);
          color: #229954;


        }

        .mainGsAnn {
          display: inline-block;
          max-width: calc(100% - 40px);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .gsAlt {
          font-size: 95%;
          padding: 0 10px 0 20px;
          opacity: .8;

          a {
            display: block;
            margin: 6px 0;
          }
        }

        .showAlternatives {

          cursor: pointer;
        }
      }
    }
  }
}

#gs-management {

  .gs-item.active {
    color: $skin-color;
    font-weight: bold;
  }

  .row.flex {
    flex-wrap: wrap;
    align-items: stretch;

    & > .col {
      margin-bottom: 30px;
      @include breakpoint("medium") {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        width: auto;
      }
    }

    .box {
      height: 100%;
      margin-bottom: 0;
    }

    .form-group.material {
      margin-bottom: 10px;
    }
  }

  .daily-uploads {
    .box-body {

    }
  }

  .delete-gs {
    margin-top: 80px;

    .box-title {
      font-size: 18px;
    }
  }

}

#board {
  padding-top: 20px;
  padding-bottom: 20px;

  .box {
    border-top: unset;

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:before {
        content: unset;
      }
    }

    &-actions {
      margin-left: auto;
    }
  }

  .btn-xxs {
    vertical-align: text-top;
  }

  trix-toolbar {
    .trix-button-group--file-tools {
      display: none;
    }
  }

  trix-editor {
    min-height: 10em;


  }

  form .btn {
    margin-top: 10px;
  }

  .description {
    h2 {
      font-size: 30px;
    }
  }

  .news {
    h4 {
      font-size: 20px;
    }

    .date {
      margin-top: 6px;
      margin-left: 2px;
      font-size: 12px;
      color: lighten($dark-gray, 40%);
      font-weight: 400;

      i {
        font-size: 85%;
        opacity: .8;
      }

    }

    #add-news {
      .box-title {
        margin-bottom: 20px;
        display: block;
      }
    }

    .box.no-message {
      margin-top: -20px;
    }
  }

  .news, .description {
    @include breakpoint("medium") {
      margin-right: 8px;
    }
  }
}

#membership {
  padding-top: 20px;
  padding-bottom: 20px;

  .list-group-item {
    .username {
      margin-left: 8px;
    }

    .is-staff-switch {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 12px;
      color: $skin-color;

      .switch {
        margin-right: 4px;
      }
    }
  }

  .status-label {
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 10px;
    display: inline-block;
    border-radius: 3px;
    color: white;

    &.pending {
      background: $alert;
    }

    &.success {
      background: $success;
    }
  }
}
