.twoSide-layout {
  margin: -10px;
  @include breakpoint(small) {
    margin: -5px;
  }

  .inner-wrapper {
    padding: 16px;
  }

  .background {
    background-color: #d2d6de;
  }

  .row.flex {
    height: calc(100vh - 50px);

    & > .col {
      overflow-y: auto;

      @include breakpoint(small) {
        height: inherit;
      }
    }

    // small only
    @include breakpoint('small only') {
      display: block;
      height: auto;
    }
  }

  h1 {
    margin-bottom: 20px;
    text-align: center;
  }


}