.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.text-small {
  font-size: 80%;
}

.text-big {
  font-size: 120%;
}

.text-huge {
  font-size: 180%;
}

.block {
  display: block;
}

.flex {
  display: flex;

  &.align-center {
    justify-content: center;
    align-items: center;
  }

  &.align-right {
    justify-content: flex-end;
  }

  &.align-middle {
    align-items: center;
  }

  &.space-between{
    justify-content: space-between;
  }
}

.flex.row {
  flex-wrap: wrap;
}

.table{
  display: table;

  .cell{
    display: table-cell;
  }
}

.overflow-hidden {
  overflow: hidden !important;
}

.w100 {
  width: 100%;
}

.spacer {
  margin-top: 16px !important;
}

.margin-auto {
  margin: 0 auto;
}

.clear:after {
  content: "";
  display: table;
  clear: both;
}

.red {
  color: red;
}

.line-separator {
  position: relative;
  margin-bottom: 30px;

  &:after {
    content: "";
    position: absolute;
    width: 200px;
    height: 1px;
    background: $secondary-color;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    margin: -15px 0;

  }
}

.hiding {
  display: none;
}

%FontAwesome900 {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

