/* ===============
   GENERAL SETTINGS
   =============== */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
/* ===============
   HOME SETTINGS
   =============== */
/* ===============
   TEMPLATE SETTINGS
   =============== */
/* ===============
   BOOTSTRAP DEFAULT
   MEDIA QUERY
   =============== */
.bold {
  font-weight: 700; }

.italic {
  font-style: italic; }

.uppercase {
  text-transform: uppercase; }

.text-small {
  font-size: 80%; }

.text-big {
  font-size: 120%; }

.text-huge {
  font-size: 180%; }

.block {
  display: block; }

.flex {
  display: flex; }
  .flex.align-center {
    justify-content: center;
    align-items: center; }
  .flex.align-right {
    justify-content: flex-end; }
  .flex.align-middle {
    align-items: center; }
  .flex.space-between {
    justify-content: space-between; }

.flex.row {
  flex-wrap: wrap; }

.table {
  display: table; }
  .table .cell {
    display: table-cell; }

.overflow-hidden {
  overflow: hidden !important; }

.w100 {
  width: 100%; }

.spacer {
  margin-top: 16px !important; }

.margin-auto {
  margin: 0 auto; }

.clear:after {
  content: "";
  display: table;
  clear: both; }

.red {
  color: red; }

.line-separator {
  position: relative;
  margin-bottom: 30px; }
  .line-separator:after {
    content: "";
    position: absolute;
    width: 200px;
    height: 1px;
    background: #2b323a;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    margin: -15px 0; }

.hiding {
  display: none; }

.accordion .panel-heading a:after, .btn.loading-animation:after, .form-group.material.select:after, .form-group.material.input-checkbox label::before, .form-group.material.input-checkbox label.selected::before, .gsCol-layout .gs-col .tasks .task-item:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900; }

body, body * {
  font-family: "Roboto", sans-serif; }

img {
  max-width: 100%; }

a {
  color: #4667a3;
  transition: all .2s; }
  a:hover, a:active, a:focus {
    color: #3e5c91; }

h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 500; }
  @media (min-width: 768px) {
    h1 {
      font-size: 28px; } }

h3 {
  text-transform: uppercase;
  font-size: 18px; }
  @media (min-width: 768px) {
    h3 {
      font-size: 22px; } }

p {
  margin-bottom: 16px; }

p + ul {
  margin-top: -16px; }

.alert-success {
  margin-top: 50px;
  color: #3c763d !important;
  background-color: #bce1b2 !important;
  border-color: #9cc790 !important;
  text-align: center; }

.modal .btn {
  text-transform: uppercase;
  font-size: 18px;
  display: inline-block; }
.modal .small {
  font-style: italic; }
.modal .modal-title,
.modal .modal-content,
.modal .modal-footer {
  text-align: center; }
.modal .modal-title {
  font-weight: bold;
  font-size: 22px; }
.modal .modal-content {
  font-size: 18px; }
  .modal .modal-content i {
    font-size: 7rem;
    color: rgba(3, 7, 9, 0.46);
    margin-right: 15px; }
    .modal .modal-content i.fa-check {
      font-size: 5rem;
      vertical-align: sub; }
.modal .modal-body {
  padding: 2rem 3rem; }
  .modal .modal-body .flex {
    align-items: center;
    text-align: left; }

.progress {
  background-color: #bababa; }
  .progress-bar {
    background-color: #4667a3;
    white-space: nowrap; }

.box-title {
  font-weight: bold; }

.tableInfo {
  margin: 0 30px 0 0;
  list-style: none;
  min-height: 50px;
  display: inline-flex;
  align-items: center;
  color: white;
  padding: 0; }
  .tableInfo li {
    padding: 0 15px; }
    @media (min-width: 992px) {
      .tableInfo li {
        padding: 0 20px; } }
  .tableInfo .name {
    font-size: 12px;
    font-style: italic;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    @media (min-width: 768px) {
      .tableInfo .name {
        font-size: 16px; } }
    @media (min-width: 992px) {
      .tableInfo .name {
        font-size: 18px; } }
  .tableInfo .stats {
    text-align: center; }
  .tableInfo .number,
  .tableInfo .description {
    display: block;
    line-height: 1; }
  .tableInfo .number {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 2px; }
    @media (min-width: 768px) {
      .tableInfo .number {
        font-size: 20px; } }
    .tableInfo .number.smaller {
      font-size: 80%;
      padding: 3px 0; }
  .tableInfo .description {
    font-size: 10px;
    font-weight: 300; }
    @media (min-width: 768px) {
      .tableInfo .description {
        font-size: 12px; } }

.accordion {
  max-width: 700px;
  margin: auto; }
  .accordion .panel-heading {
    background: #e6e6e6;
    padding: 0; }
    .accordion .panel-heading a {
      position: relative;
      padding: 10px 0px 10px 10px; }
      .accordion .panel-heading a:after {
        content: "\f068";
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: #2b323a;
        font-size: 14px; }
      .accordion .panel-heading a.collapsed:after {
        content: "\f067"; }
      .accordion .panel-heading a.disabled:after {
        content: unset; }
  .accordion .panel-title a {
    display: block;
    font-size: 20px;
    color: #4667a3; }
    .accordion .panel-title a:hover, .accordion .panel-title a:active, .accordion .panel-title a:focus {
      color: #3e5c91; }

.pagination {
  margin-top: 5px; }
  .pagination li.active a {
    background: #4667a3;
    cursor: pointer; }
  .pagination li.active:hover a {
    background: #3e5c91; }

.tooltip-inner {
  text-align: left; }

pre {
  font-size: 11px; }

table th.empty {
  background-color: transparent !important;
  border: none !important; }

.table.sde-table {
  border: unset; }
  .table.sde-table th {
    text-transform: uppercase;
    background-color: #f3f3f3;
    text-align: center;
    padding: 4px !important;
    vertical-align: top; }
  .table.sde-table td {
    background-color: white;
    vertical-align: middle !important; }
  .table.sde-table.table-bordered > thead > tr > th, .table.sde-table.table-bordered > tbody > tr > th, .table.sde-table.table-bordered > tfoot > tr > th, .table.sde-table.table-bordered > thead > tr > td, .table.sde-table.table-bordered > tbody > tr > td, .table.sde-table.table-bordered > tfoot > tr > td {
    border: 1px solid #b3b2b2; }

.handsontable .htCheckboxRendererInput {
  margin: 0; }

.under-construction {
  padding: 30px;
  font-size: 24px; }
  .under-construction i {
    font-size: 150%;
    color: #4667a3;
    opacity: .8; }

.profile-user-img {
  position: relative;
  width: 80px;
  height: 80px; }
  .profile-user-img.small {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 0;
    margin-right: 6px; }
  .profile-user-img:before {
    content: '';
    width: 100%;
    padding-bottom: 100%; }
  .profile-user-img img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: inherit; }

.btn {
  transition: background 0.2s;
  text-transform: uppercase;
  padding: 6px 18px;
  font-weight: 500; }
  .btn.btn-primary {
    background-color: #4667a3;
    border-color: #4667a3; }
    .btn.btn-primary:hover {
      background-color: #3e5c91; }
  .btn.btn-secondary {
    color: white;
    background-color: #2b323a; }
    .btn.btn-secondary:hover {
      background-color: #272d34; }
  .btn.alert-danger {
    border-color: #b8001d; }
  .btn.btn-text {
    border: unset; }
    .btn.btn-text-primary {
      background: transparent;
      border: unset;
      color: #4667a3; }
      .btn.btn-text-primary:hover {
        color: #3e5c91; }
    .btn.btn-text-secondary {
      background: transparent;
      border: unset;
      color: #2b323a; }
      .btn.btn-text-secondary:hover {
        color: #272d34; }
    .btn.btn-text-white {
      background: transparent;
      border: unset;
      color: white; }
      .btn.btn-text-white:hover {
        color: #e6e6e6; }
    .btn.btn-text-danger {
      background: transparent;
      color: #b8001d; }
      .btn.btn-text-danger:hover {
        color: #850015; }
    .btn.btn-text.no-padding {
      padding: 0; }
  .btn.btn-outline-primary {
    background: transparent;
    border: 1px solid #4667a3;
    color: #4667a3; }
    .btn.btn-outline-primary:hover {
      border-color: #3e5c91;
      background-color: #3e5c91;
      color: white; }
  .btn.btn-outline-secondary {
    background: transparent;
    border: 1px solid #2b323a;
    color: #2b323a; }
    .btn.btn-outline-secondary:hover {
      border-color: #272d34;
      background-color: #272d34;
      color: white; }
  .btn.btn-outline-white {
    background: transparent;
    border: 1px solid white;
    color: white; }
    .btn.btn-outline-white:hover {
      border-color: white;
      background-color: white;
      color: #4667a3; }
  .btn.btn-outline-danger {
    background: transparent;
    border: 1px solid #b8001d;
    color: #b8001d; }
    .btn.btn-outline-danger:hover {
      border-color: #ae001b;
      background-color: #ae001b;
      color: white; }
  .btn.disabled {
    cursor: not-allowed !important;
    pointer-events: auto !important; }
  .btn.load {
    position: relative; }
    .btn.load .loading {
      position: absolute;
      margin: 0;
      left: 0;
      top: 0;
      background: rgba(236, 240, 245, 0.75);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: inherit; }
  .btn.tiny {
    padding: 2px 15px;
    vertical-align: text-bottom; }
  .btn.btn-xxs {
    font-size: 10px;
    padding: 2px 4px; }
    .btn.btn-xxs i {
      font-size: 120%;
      vertical-align: middle; }
  .btn .action {
    font-size: 14px;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1; }
  .btn .process {
    font-size: 12px;
    display: block; }
  .btn:active {
    box-shadow: unset !important; }

.btn.loading-animation {
  padding: 5px 20px;
  position: relative;
  transition: all .3s; }
  .btn.loading-animation:after {
    position: absolute;
    opacity: 0;
    transition: all .1s;
    display: inline-block;
    right: 10px; }
  .btn.loading-animation .text {
    z-index: 1;
    position: relative; }
  .btn.loading-animation .progress {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    width: 0%;
    height: 100%; }
  .btn.loading-animation.loading {
    padding-left: 5px;
    padding-right: 35px; }
    .btn.loading-animation.loading:after {
      opacity: 1;
      right: 5px;
      content: "\f2f1";
      animation: spin 2s linear infinite; }
    .btn.loading-animation.loading .progress {
      transition: width .2s linear; }
  .btn.loading-animation.success {
    padding-left: 5px;
    padding-right: 35px;
    background: #44985e;
    border-color: #44985e; }
    .btn.loading-animation.success:after {
      content: "\f00c";
      opacity: 1;
      right: 5px; }
  .btn.loading-animation.error {
    padding-left: 5px;
    padding-right: 35px;
    background: #b8001d;
    border-color: #b8001d; }
    .btn.loading-animation.error:after {
      content: "\f06a";
      opacity: 1;
      right: 5px; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
.form-group.material.input-text input, .form-group.material.input-number input, .form-group.material.input-file input, .form-group.material.textarea textarea, .form-group.material.select select, .form-group.material.outline:not(.condensed) input, .form-group.material.outline:not(.condensed) textarea, .form-group.material.outline:not(.condensed) select, .form-group.material.outline.condensed input, .form-group.material.outline.condensed textarea, .form-group.material.outline.condensed select {
  box-shadow: unset;
  border: unset;
  outline: unset;
  color: #424242;
  caret-color: #4667a3;
  cursor: pointer;
  width: 100%;
  z-index: 1;
  position: relative;
  font-weight: normal; }

.form-group.material.input-text label, .form-group.material.textarea label, .form-group.material.select label {
  color: #595959;
  font-weight: normal;
  text-transform: initial;
  font-size: 16px;
  position: absolute;
  left: 16px;
  margin: 0;
  top: 16px;
  cursor: pointer; }

.form-group.material.input-text label.label-float, .form-group.material.input-number label, .form-group.material.input-file label, .form-group.material.textarea label.label-float, .form-group.material.select label.label-float {
  color: #595959;
  font-weight: normal;
  text-transform: initial;
  font-size: 12px;
  position: absolute;
  top: 4px;
  left: 16px;
  margin: 0; }

.form-group.material.outline:not(.condensed) .label.label-float, .form-group.material.outline.condensed label.label-float {
  color: #595959;
  font-weight: normal;
  text-transform: initial;
  font-size: 12px;
  position: absolute;
  top: -8px;
  left: 16px;
  padding: 0 2px;
  margin: 0;
  background: #ecf0f5; }

.form-group.material.input-text label.focus, .form-group.material.input-number label.focus, .form-group.material.textarea label.focus, .form-group.material.select label.focus, .form-group.material.outline:not(.condensed) .label.focus, .form-group.material.outline.condensed label.focus {
  color: #4667a3; }

.form-group.material.input-text.error .label-float, .form-group.material.input-number.error .label-float, .form-group.material.input-file.error label, .form-group.material.textarea.error .label-float, .form-group.material.select.error .label-float, .form-group.material.input-radio.error .form-label, .form-group.material.input-checkbox.error .form-label {
  color: #b8001d; }

.form-group.material.input-radio label.disabled, .form-group.material.input-checkbox label.disabled, .form-group.material.input-radio.disabled .form-label, .form-group.material.input-checkbox.disabled .form-label, .form-group.material.disabled label, .form-group.material.disabled .form-hint {
  color: #b5b5b5 !important;
  cursor: default !important; }

.form-group.material.input-text input:focus, .form-group.material.input-number input:focus, .form-group.material.textarea textarea:focus, .form-group.material.select select:focus {
  border-bottom: 2px solid #4667a3; }

.form-group.material.outline:not(.condensed) input:focus, .form-group.material.outline:not(.condensed) textarea:focus, .form-group.material.outline:not(.condensed) select:focus, .form-group.material.outline.condensed input:focus, .form-group.material.outline.condensed textarea:focus, .form-group.material.outline.condensed select:focus {
  border: 2px solid #4667a3; }

.form-group.material.input-text.error input, .form-group.material.input-number.error input, .form-group.material.textarea.error textarea, .form-group.material.select.error select {
  border-bottom: 2px solid #b8001d; }

.form-group.material.disabled input, .form-group.material.disabled select, .form-group.material.disabled textarea {
  border-bottom: 1px solid #b5b5b5 !important;
  cursor: default !important;
  color: #b5b5b5 !important; }

.form-group .form-hint,
.form-group .form-error-message {
  color: #595959;
  font-weight: normal;
  text-transform: initial;
  font-size: 12px;
  position: absolute;
  left: 16px;
  margin-top: 4px;
  text-align: left;
  top: 100%; }
.form-group .form-error-message {
  color: #b8001d;
  display: none; }
.form-group.error .form-hint {
  display: none; }
.form-group.error .form-error-message {
  display: inline-block; }

.form-group.material {
  position: relative;
  margin-bottom: 50px; }
  .form-group.material label {
    z-index: 1;
    cursor: pointer;
    transition: all .2s; }
  .form-group.material.input-text input {
    height: 56px;
    min-height: 56px;
    padding: 20px 16px 6px;
    background: #f6f6f6;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #424242;
    font-size: 16px; }
  .form-group.material.input-number input {
    height: 56px;
    min-height: 56px;
    padding: 20px 16px 6px;
    background: #f6f6f6;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #424242;
    font-size: 16px; }
  .form-group.material.input-file input {
    height: 66px;
    min-height: 56px;
    padding: 20px 16px 6px;
    background: #f6f6f6;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #424242;
    font-size: 16px;
    padding-top: 30px;
    border-bottom: 0; }
  .form-group.material.textarea textarea {
    padding: 20px 16px 6px;
    background: #f6f6f6;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #424242;
    font-size: 16px; }
  .form-group.material.select {
    /*add custom dropdown arrow*/ }
    .form-group.material.select select {
      height: 56px;
      min-height: 56px;
      padding: 20px 16px 6px;
      background: #f6f6f6;
      border-radius: 4px 4px 0 0;
      border-bottom: 1px solid #424242;
      font-size: 16px;
      /*remove dropdown arrow*/
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding-right: 30px;
      outline: unset; }
    .form-group.material.select:after {
      content: '\f0d7';
      position: absolute;
      right: 15px;
      top: 16px;
      color: #424242;
      font-size: 16px;
      z-index: 1; }
    .form-group.material.select label {
      pointer-events: none; }
    .form-group.material.select option.first {
      display: none; }
    .form-group.material.select option[disabled], .form-group.material.select option:disabled {
      color: #b5b5b5; }
    .form-group.material.select.disabled {
      /* custom dropdown arrow*/ }
      .form-group.material.select.disabled:after {
        color: #b5b5b5; }
  .form-group.material.input-radio, .form-group.material.input-checkbox {
    margin-left: 12px; }
    .form-group.material.input-radio ul, .form-group.material.input-checkbox ul {
      list-style: none;
      padding-left: 4px;
      margin: 0; }
    .form-group.material.input-radio .form-label, .form-group.material.input-checkbox .form-label {
      color: #595959;
      font-weight: normal;
      text-transform: initial;
      font-size: 16px;
      margin-bottom: 10px;
      padding: 0 4px; }
    .form-group.material.input-radio input, .form-group.material.input-checkbox input {
      display: none; }
    .form-group.material.input-radio label, .form-group.material.input-checkbox label {
      color: #595959;
      font-weight: normal;
      text-transform: initial;
      font-size: 14px;
      position: relative;
      padding-left: 30px;
      margin-bottom: 8px; }
      .form-group.material.input-radio label.disabled, .form-group.material.input-checkbox label.disabled {
        cursor: not-allowed !important; }
    .form-group.material.input-radio.error .form-error-message, .form-group.material.input-checkbox.error .form-error-message {
      left: 0; }
    @media (min-width: 768px) {
      .form-group.material.input-radio.horizontal ul, .form-group.material.input-checkbox.horizontal ul {
        display: flex;
        justify-content: center; }
        .form-group.material.input-radio.horizontal ul li, .form-group.material.input-checkbox.horizontal ul li {
          margin-right: 20px; }
        .form-group.material.input-radio.horizontal ul label, .form-group.material.input-checkbox.horizontal ul label {
          padding-left: 24px; }
      .form-group.material.input-radio.horizontal .form-hint,
      .form-group.material.input-radio.horizontal .form-error-message, .form-group.material.input-checkbox.horizontal .form-hint,
      .form-group.material.input-checkbox.horizontal .form-error-message {
        width: 100%;
        text-align: center; } }
  .form-group.material.input-radio label::before, .form-group.material.input-radio label::after {
    content: "";
    border-radius: 50%;
    position: absolute;
    left: 2px;
    top: 50%;
    transform: translateY(-50%); }
  .form-group.material.input-radio label::before {
    width: 16px;
    height: 16px;
    border: 2px solid #424242; }
  .form-group.material.input-radio label::after {
    width: 8px;
    height: 8px;
    background: #4667a3;
    transform: translate(50%, -50%);
    display: none; }
  .form-group.material.input-radio label.selected::before {
    border-color: #4667a3; }
  .form-group.material.input-radio label.selected::after {
    display: block; }
  .form-group.material.input-radio label.disabled::before {
    border-color: #b5b5b5; }
  .form-group.material.input-radio.error label::before {
    border-color: #b8001d; }
  .form-group.material.input-radio.disabled label::before {
    border-color: #b5b5b5; }
  .form-group.material.input-radio.disabled label::after {
    background: #b5b5b5; }
  .form-group.material.input-radio.boxed label {
    background: #f6f6f6;
    border: 2px solid rgba(66, 66, 66, 0.5);
    padding: 4px !important;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; }
    .form-group.material.input-radio.boxed label br {
      margin-bottom: 5px; }
      .form-group.material.input-radio.boxed label br:after {
        content: ".";
        visibility: hidden;
        display: block; }
    .form-group.material.input-radio.boxed label::before, .form-group.material.input-radio.boxed label::after {
      content: unset; }
  .form-group.material.input-radio.boxed label.selected:not(.disabled) {
    background: rgba(70, 103, 163, 0.2);
    border: 2px solid #4667a3;
    color: #4667a3; }
  .form-group.material.input-checkbox label::before {
    position: absolute;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    content: "\f0c8";
    font-weight: 500;
    color: #424242;
    font-size: 18px; }
  .form-group.material.input-checkbox label.selected::before {
    content: "\f14a";
    font-weight: 900;
    color: #4667a3; }
  .form-group.material.input-checkbox label.disabled::before {
    color: #b5b5b5; }
  .form-group.material.input-checkbox.error label::before {
    color: #b8001d; }
  .form-group.material.input-checkbox.disabled label::before {
    color: #b5b5b5; }
  .form-group.material.trailing-icon input {
    padding-right: 30px !important; }
  .form-group.material.trailing-icon i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    padding: 10px;
    color: #595959; }
  .form-group.material.trailing-icon .clear {
    display: none; }

.form-group.material.outline:not(.condensed) input, .form-group.material.outline:not(.condensed) textarea, .form-group.material.outline:not(.condensed) select {
  min-height: auto;
  height: 56px;
  background: transparent;
  border-radius: 4px;
  border: 1px solid #424242;
  font-size: 16px;
  padding: 12px 16px 12px; }

.form-group.material.outline.condensed input, .form-group.material.outline.condensed textarea, .form-group.material.outline.condensed select {
  min-height: auto;
  height: 35px;
  background: transparent;
  border-radius: 4px;
  border: 1px solid #424242;
  font-size: 16px;
  padding: 0 12px; }
.form-group.material.outline.condensed label {
  font-size: 14px;
  top: 8px;
  left: 12px; }
  .form-group.material.outline.condensed label.label-float {
    left: 12px; }
.form-group.material.outline.condensed.select {
  /*add custom dropdown arrow*/ }
  .form-group.material.outline.condensed.select:after {
    top: 6px; }

.form-group.filepond.input-file {
  padding: 0 16px;
  position: relative; }
  .form-group.filepond.input-file .form-label {
    color: #595959;
    font-weight: normal;
    text-transform: initial;
    font-size: 16px;
    margin-bottom: 4px; }
  .form-group.filepond.input-file .form-hint,
  .form-group.filepond.input-file .form-error-message {
    padding: 0 16px 0 0; }
  .form-group.filepond.input-file .filepond--root {
    margin-bottom: 50px;
    min-height: 80px; }
  .form-group.filepond.input-file .filepond--root :not(text) {
    font-size: 14px; }
  .form-group.filepond.input-file .filepond--panel-root {
    background: #f6f6f6;
    border: 1px dashed #424242;
    border-radius: 4px;
    color: #424242; }
  .form-group.filepond.input-file .filepond--drop-label {
    min-height: 80px;
    color: #595959;
    font-weight: normal;
    text-transform: initial;
    font-size: 14px; }
  .form-group.filepond.input-file .filepond--label-action {
    color: #4667a3; }
    .form-group.filepond.input-file .filepond--label-action:hover {
      color: #3e5c91; }
  .form-group.filepond.input-file .filepond--file-info {
    color: #424242; }
  .form-group.filepond.input-file .filepond--item-panel {
    background-color: #d2d6de; }
  .form-group.filepond.input-file .filepond--file-action-button {
    background: #2b323a;
    color: white; }
  .form-group.filepond.input-file .filepond--root[data-style-panel-layout="circle"] {
    max-height: 150px;
    max-width: 150px; }
    .form-group.filepond.input-file .filepond--root[data-style-panel-layout="circle"] .filepond--panel-root {
      min-height: auto;
      border-radius: inherit; }

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  /* Hide default HTML checkbox */
  /* The slider */ }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0; }
    .switch input:checked + .slider {
      background-color: #4667a3; }
    .switch input:focus + .slider {
      box-shadow: 0 0 1px #4667a3; }
    .switch input:checked + .slider:before {
      left: calc(100% - 14px - 4px); }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    /* Rounded sliders */ }
    .switch .slider:before {
      position: absolute;
      content: "";
      height: 14px;
      width: 14px;
      left: 4px;
      top: 50%;
      transform: translateY(-50%);
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s; }
    .switch .slider.round {
      border-radius: 34px; }
      .switch .slider.round:before {
        border-radius: 50%; }

.global.form-error-message {
  color: #595959;
  font-weight: normal;
  text-transform: initial;
  font-size: 12px;
  color: #b8001d;
  margin-top: 10px;
  display: none; }

.snackbar {
  border-radius: 4px;
  padding: 16px 64px 16px 16px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  background: #333;
  color: rgba(255, 255, 255, 0.87);
  font-size: 16px;
  position: fixed;
  left: 230px;
  transition: all 0.3s ease-in-out;
  z-index: 9;
  line-height: 1;
  visibility: hidden;
  opacity: 0;
  min-width: 100%;
  max-width: 500px;
  transform: translate(20px, 100%);
  bottom: 0; }
  @media screen and (min-width: 344px) {
    .snackbar {
      min-width: 344px; } }
  .snackbar.show {
    visibility: visible;
    opacity: 1;
    bottom: 20px;
    transform: translateX(20px); }
  .snackbar .dismiss {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 14px;
    padding: 6px;
    color: rgba(255, 255, 255, 0.56); }

.sidebar-collapse .snackbar {
  left: 50px; }

.main-header {
  max-height: unset; }
  .main-header .logo {
    color: white !important;
    background-color: #3e5c91 !important; }
  .main-header .navbar {
    background-color: #4667a3 !important;
    display: flex;
    align-items: center; }
    .main-header .navbar .buttons {
      margin-left: auto;
      margin-right: 20px;
      text-align: center; }
  .main-header .navbar-custom-menu {
    margin-left: auto; }
  .main-header li.user-header {
    background-color: #4667a3 !important; }
  .main-header .profile-dropdown {
    display: flex; }
  .main-header .sidebar-toggle:hover {
    background-color: #3e5c91 !important; }

.sidebar-toggle {
  font-size: 14px;
  border-right: 1px solid rgba(255, 255, 255, 0.6);
  padding: 15px 15px 15px 10px !important;
  z-index: 1001; }
  .sidebar-toggle:before {
    content: "" !important; }
  .sidebar-toggle .panel-icon {
    width: 14px;
    height: 14px;
    border: 2px solid white;
    border-radius: 2px;
    margin-left: 10px;
    position: relative;
    display: block;
    box-sizing: unset; }
    .sidebar-toggle .panel-icon:before {
      content: "";
      height: inherit;
      background: white;
      position: absolute;
      transition: all 0.5s;
      box-sizing: inherit;
      left: 0;
      width: 35%; }
  .sidebar-toggle:hover .panel-icon:before {
    left: -7px;
    width: 2px; }

@media (min-width: 768px) {
  .sidebar-collapse .main-sidebar .pull-right {
    display: none !important; } }
.sidebar-collapse .sidebar-toggle .panel-icon:before {
  left: -7px;
  width: 2px; }
.sidebar-collapse .sidebar-toggle:hover .panel-icon:before {
  left: 0;
  width: 35%; }

.main-sidebar {
  z-index: 1000 !important; }
  .main-sidebar .sidebar-menu > li > a > .fas, .main-sidebar .sidebar-menu > li > a > .far {
    width: 20px; }
  .main-sidebar .sidebar-menu > li.active > a {
    border-left-color: #4667a3 !important; }
  .main-sidebar .sidebar-menu .separator:after {
    content: "";
    width: 90%;
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
    display: block;
    margin: 5px 0;
    left: 50%;
    position: relative;
    transform: translateX(-50%); }
  .main-sidebar .sidebar {
    margin-top: 5px; }
  .main-sidebar .treeview .with-text {
    position: relative;
    left: -10px; }
    .main-sidebar .treeview .with-text span {
      font-size: 9px;
      text-transform: uppercase;
      font-family: sans-serif;
      position: absolute;
      top: 75%;
      left: 60%; }
  .main-sidebar .treeview #download_ann_complete .fa-layers {
    display: inline-block;
    position: relative;
    left: -4px;
    animation: buzz;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: all 0.2s; }
  .main-sidebar .treeview #download_ann_complete .fa-file-download {
    font-size: 17px; }
  .main-sidebar .treeview #download_ann_complete .fa-circle {
    color: tomato;
    font-size: 6px;
    position: absolute;
    left: -1px;
    top: -1px; }
  .main-sidebar .treeview #download_ann_complete .fa-eye {
    font-size: 10px;
    position: absolute;
    right: -5px;
    bottom: -3px;
    text-shadow: -2px 0 #2b323a, 0 2px #2b323a, 2px 0 #2b323a, 0 -2px #2b323a; }

.control-sidebar {
  z-index: 999 !important;
  height: calc(100vh - 50px);
  overflow: hidden; }
  .control-sidebar #infoBox {
    height: calc(100vh - 50px); }
  .control-sidebar-bg {
    z-index: 998 !important; }

.inner-control-sidebar .content {
  overflow-x: hidden; }

.content-wrapper {
  background: #ecf0f5;
  overflow: auto;
  position: relative; }

.content {
  padding: 10px !important;
  position: relative;
  min-height: auto; }
  @media (min-width: 768px) {
    .content {
      padding: 5px !important; } }

#error {
  background: #11181b;
  opacity: 0.8;
  color: white;
  padding: 2px 5px;
  font-size: 13px;
  position: fixed;
  bottom: 15px;
  left: 60px;
  border-radius: 3px;
  z-index: 9999999; }

@keyframes buzz {
  0% {
    transform: rotate(0deg); }
  4% {
    transform: rotate(10deg); }
  8% {
    transform: rotate(-10deg); }
  12% {
    transform: rotate(10deg); }
  16% {
    transform: rotate(-10deg); }
  20% {
    transform: rotate(10deg); }
  24% {
    transform: rotate(-10deg); }
  28% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(0deg); } }
.twoSide-layout {
  margin: -10px; }
  @media (min-width: 768px) {
    .twoSide-layout {
      margin: -5px; } }
  .twoSide-layout .inner-wrapper {
    padding: 16px; }
  .twoSide-layout .background {
    background-color: #d2d6de; }
  .twoSide-layout .row.flex {
    height: calc(100vh - 50px); }
    .twoSide-layout .row.flex > .col {
      overflow-y: auto; }
      @media (min-width: 768px) {
        .twoSide-layout .row.flex > .col {
          height: inherit; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .twoSide-layout .row.flex {
        display: block;
        height: auto; } }
  .twoSide-layout h1 {
    margin-bottom: 20px;
    text-align: center; }

#home .footer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/background.jpg");
  width: 100%;
  height: 100%;
  opacity: 0.03; }

#home {
  font-family: "Roboto", sans-serif;
  background: #4667a3 url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover; }
  #home .header {
    text-align: center;
    padding: 5px 20px 20px;
    position: relative;
    clear: both; }
    @media (min-width: 992px) {
      #home .header {
        padding: 20px 20px 50px; } }
  #home .wrapper {
    z-index: 1;
    position: relative;
    background-color: transparent;
    overflow: visible; }
  #home .logo {
    max-width: 90px; }
  #home .subhead, #home .title, #home .head {
    color: white;
    line-height: 1.1;
    text-transform: uppercase; }
    @media (min-width: 992px) {
      #home .subhead, #home .title, #home .head {
        line-height: 1; } }
  #home .subhead {
    color: white;
    font-size: 16px;
    position: relative;
    padding-bottom: 20px; }
    @media (min-width: 992px) {
      #home .subhead {
        font-size: 24px; } }
    #home .subhead:after {
      content: "";
      position: absolute;
      width: 10%;
      min-width: 100px;
      max-width: 200px;
      height: 3px;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      background-color: white;
      z-index: 9; }
      @media (min-width: 992px) {
        #home .subhead:after {
          height: 6px; } }
  #home .title {
    font-size: 60px;
    margin: 0; }
    #home .title .bold {
      font-weight: 700; }
    @media (min-width: 992px) {
      #home .title {
        font-size: 80px; } }
  #home .head {
    display: block;
    font-weight: 300;
    font-size: 22px;
    margin-top: 20px; }
  #home .shadow-wrapper {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    margin: 4px; }
    @media (min-width: 992px) {
      #home .shadow-wrapper {
        box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.4);
        margin: 30px; } }
  @media (min-width: 768px) {
    #home #slider-features {
      max-width: 90%;
      margin: auto; } }
  #home #slider-features .carousel-control {
    display: none;
    width: 5%; }
    @media (min-width: 768px) {
      #home #slider-features .carousel-control {
        display: block; } }
    #home #slider-features .carousel-control.left {
      left: -6%; }
    #home #slider-features .carousel-control.right {
      right: -6%; }
  #home .preview {
    margin-bottom: 40px; }
    @media (min-width: 768px) {
      #home .preview {
        max-width: 85%;
        margin: 0 auto 40px; } }
  #home .features-wrapper {
    padding: 20px 0;
    position: relative;
    font-size: 24px;
    text-align: center;
    color: white; }
    #home .features-wrapper:before {
      position: absolute;
      content: "";
      background: linear-gradient(-190deg, rgba(70, 103, 163, 0) 20%, #2b323a 0, #2b323a);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
      @media (min-width: 992px) {
        #home .features-wrapper:before {
          background: linear-gradient(-184deg, rgba(70, 103, 163, 0) 24%, #2b323a 0, #2b323a); } }
    #home .features-wrapper p {
      font-weight: 300;
      margin-bottom: 20px; }
    #home .features-wrapper .grid-3,
    #home .features-wrapper .grid-4 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 20px;
      padding-bottom: 40px; }
      @media (min-width: 992px) {
        #home .features-wrapper .grid-3,
        #home .features-wrapper .grid-4 {
          padding-bottom: 60px; } }
      #home .features-wrapper .grid-3 .feature,
      #home .features-wrapper .grid-4 .feature {
        width: 100%; }
    @media (min-width: 992px) {
      #home .features-wrapper .grid-3 .feature {
        width: calc((100% / 3) - 60px); } }
    @media (min-width: 768px) {
      #home .features-wrapper .grid-4 .feature {
        width: calc((100% / 2) - 60px); } }
    @media (min-width: 992px) {
      #home .features-wrapper .grid-4 .feature {
        width: calc((100% / 4) - 60px); } }
    #home .features-wrapper .feature {
      margin: 20px 0;
      opacity: .4;
      transition: all .2s;
      cursor: pointer;
      display: flex; }
      @media (min-width: 768px) {
        #home .features-wrapper .feature {
          margin: 30px;
          flex-direction: column;
          align-items: center; } }
      #home .features-wrapper .feature.active {
        opacity: 1; }
        #home .features-wrapper .feature.active .feature-title {
          border-color: #4667a3;
          color: #4667a3; }
    #home .features-wrapper .feature-title {
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 1.1;
      width: 45px;
      height: 45px;
      border: 4px solid white;
      background: white;
      color: #2b323a;
      position: relative;
      border-radius: 50%;
      font-size: 30px;
      font-weight: bold;
      transition: all .2s; }
      @media (min-width: 768px) {
        #home .features-wrapper .feature-title {
          margin: 0 auto 10px; } }
      #home .features-wrapper .feature-title .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      #home .features-wrapper .feature-title strong {
        font-size: 28px; }
    #home .features-wrapper .feature-description {
      font-size: 18px;
      font-weight: 300;
      width: 70%;
      text-align: left;
      margin-left: 10px; }
      @media (min-width: 768px) {
        #home .features-wrapper .feature-description {
          text-align: center;
          margin-left: 0;
          font-size: 22px;
          width: 100%; } }
    #home .features-wrapper .btn {
      font-size: 16px;
      padding: 10px;
      text-decoration: none;
      margin-bottom: 20px; }
      @media (min-width: 768px) {
        #home .features-wrapper .btn {
          font-size: 30px;
          margin-bottom: 40px; } }
  #home .footer {
    border-top: 2px solid #4667a3;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 11px;
    position: relative;
    background: white; }
    @media (min-width: 992px) {
      #home .footer {
        font-size: 12px; } }
    #home .footer .flex {
      align-items: stretch; }
    #home .footer .unimib .lab .title {
      font-size: 22px;
      font-weight: bold;
      line-height: 1;
      color: black;
      display: block; }
    #home .footer .unimib .lab .text {
      display: block; }
    #home .footer a {
      color: black;
      text-decoration: none; }
    #home .footer .unimib .disco {
      max-width: 95px;
      margin-right: 15px; }
      #home .footer .unimib .disco a {
        display: block; }
    #home .footer .bitbucket {
      align-items: center;
      position: relative;
      text-align: right;
      margin-left: auto; }
      @media (max-width: 767px) {
        #home .footer .bitbucket {
          text-align: center;
          margin-top: 20px;
          padding-top: 10px; }
          #home .footer .bitbucket:before {
            content: "";
            width: 20%;
            height: 1px;
            background: #6b6b6b;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            position: absolute; } }
      #home .footer .bitbucket .logo-sm {
        max-width: 18px;
        display: inline-block; }
      #home .footer .bitbucket .text {
        font-weight: 400;
        vertical-align: middle;
        font-size: 14px;
        color: #0b4ead; }
        @media (min-width: 992px) {
          #home .footer .bitbucket .text {
            font-size: 15px; } }

#login-register {
  margin: 0; }
  @media (min-width: 768px) {
    #login-register,
    #login-register .container-fluid,
    #login-register .container-fluid > .row {
      min-height: 100vh; } }
  @media (min-width: 768px) {
    #login-register .container-fluid > .row {
      display: flex; } }
  #login-register .container-fluid > .row > .col {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow-y: auto; }
    @media (min-width: 768px) {
      #login-register .container-fluid > .row > .col {
        height: 100vh;
        padding-top: 40px;
        padding-bottom: 40px; } }
  #login-register .background {
    background: #4667a3 url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    justify-content: space-between; }
    #login-register .background * {
      z-index: 1; }
  #login-register .subhead, #login-register .title, #login-register .head {
    color: white;
    line-height: 1.1;
    text-transform: uppercase; }
  #login-register .title {
    font-size: 50px;
    margin: 0; }
    @media (min-width: 992px) {
      #login-register .title {
        font-size: 70px; } }
    @media (min-width: 1200px) {
      #login-register .title {
        font-size: 80px; } }
    #login-register .title .bold {
      font-weight: 700; }
  #login-register .subhead {
    color: white;
    font-size: 16px;
    position: relative;
    padding-bottom: 20px; }
    @media (min-width: 992px) {
      #login-register .subhead {
        font-size: 18px; } }
    @media (min-width: 1200px) {
      #login-register .subhead {
        font-size: 16px; } }
  #login-register .head {
    display: block;
    font-weight: 300;
    font-size: 22px;
    margin-top: 20px; }
  #login-register .logo {
    max-width: 100px; }
    @media (min-width: 992px) {
      #login-register .logo {
        max-width: 150px; } }
  #login-register .sidecol-main-text {
    font-size: 34px;
    line-height: 1.1;
    margin: 30px 0; }
    @media (min-width: 992px) {
      #login-register .sidecol-main-text {
        margin: 60px 0;
        font-size: 48px; } }
    #login-register .sidecol-main-text .small {
      font-weight: 300;
      font-size: 14px; }
      @media (min-width: 992px) {
        #login-register .sidecol-main-text .small {
          font-size: 20px; } }
  #login-register .sidecol-cta {
    margin-top: 40px;
    padding-top: 20px;
    font-weight: 300;
    font-size: 14px;
    position: relative;
    width: 100%; }
    @media (min-width: 992px) {
      #login-register .sidecol-cta {
        margin-top: 60px;
        font-size: 18px; } }
    #login-register .sidecol-cta:before {
      content: '';
      height: 1px;
      width: 100%;
      background: rgba(255, 255, 255, 0.2);
      left: 0;
      top: 0;
      position: absolute; }
  #login-register .profile-user-img {
    margin-bottom: 30px; }
  #login-register .form-group.filepond.input-file #id_avatar {
    margin-left: auto;
    margin-right: auto; }
  #login-register .form-group.filepond.input-file .form-hint,
  #login-register .form-group.filepond.input-file .form-error-message {
    text-align: center;
    width: 100%; }
  #login-register form {
    max-width: 400px;
    margin: 0 auto;
    width: 100%; }
    #login-register form .long-hint.form-group.material {
      margin-bottom: 120px; }
    #login-register form .long-hint .form-hint ul {
      padding: 0 15px; }
  #login-register .demo {
    margin-bottom: 20px; }
    #login-register .demo .btn {
      margin-bottom: 10px; }

@media (min-width: 768px) {
  .gsCol-layout .gs-col, .gsCol-layout .main-col {
    height: calc(100vh - 50px);
    overflow-y: auto; } }

.gsCol-layout .gs-col .gs-item.link, .gsCol-layout .gs-col .tasks .task-item.link {
  transition: all .2s; }

.box {
  border-radius: 0; }

.nav-tabs {
  border: none;
  margin-bottom: 20px;
  text-transform: uppercase; }
  .nav-tabs > li > a {
    color: #404040;
    border: none;
    border-bottom: 2px solid transparent;
    font-weight: 500; }
  .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a {
    background: none;
    color: #4667a3;
    border: none;
    border-bottom: 2px solid #4667a3; }
  .nav-tabs > li > a:focus, .nav-tabs > li > a:hover, .nav-tabs > li > a:hover {
    background: none;
    color: #4667a3;
    border-bottom: 2px solid transparent; }

.tab-content .align-to-tab {
  padding-left: 15px; }
.tab-content .bigger-text {
  font-size: 18px; }

i.info {
  font-size: 120%;
  vertical-align: text-bottom;
  cursor: pointer; }
  i.info:focus, i.info:hover {
    color: #4667a3; }
  i.info:focus {
    outline: none; }

i.section-info {
  cursor: pointer; }

.tooltip.scoreDescription .tooltip-inner {
  max-width: unset; }

.popover.scoreDescription {
  max-width: unset;
  width: auto;
  border: 3px solid #4667a3; }

mjx-container {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden; }

.gsCol-layout {
  margin: -10px; }
  @media (min-width: 768px) {
    .gsCol-layout {
      margin: -5px;
      display: flex; } }
  .gsCol-layout .no-data {
    text-align: center;
    margin: 50px auto; }
    .gsCol-layout .no-data .main-text {
      font-size: 40px; }
    .gsCol-layout .no-data .btn {
      margin-top: 30px; }
  .gsCol-layout .section-label {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    background: #a7adba;
    box-shadow: 0 1px 4px 0 rgba(43, 50, 58, 0.4);
    margin-bottom: 20px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    position: sticky;
    top: 0;
    z-index: 9; }
  .gsCol-layout .gs-col {
    background: #b5bbc8;
    width: auto;
    flex: 0 0 auto; }
    @media (max-width: 767px) {
      .gsCol-layout .gs-col {
        position: relative;
        margin-bottom: 50px; } }
    @media (min-width: 768px) {
      .gsCol-layout .gs-col {
        min-width: 200px;
        max-width: 200px; } }
    .gsCol-layout .gs-col .gs-settings {
      display: block;
      margin-bottom: 4px; }
      .gsCol-layout .gs-col .gs-settings .label {
        background: #2b323a;
        text-transform: uppercase;
        font-size: 10px;
        padding: 1px 6px;
        font-weight: normal; }
    .gsCol-layout .gs-col .gs-item {
      display: block;
      margin: 10px 0;
      padding: 0 10px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: rgba(43, 50, 58, 0.7);
      position: relative;
      font-size: 16px; }
      .gsCol-layout .gs-col .gs-item .gs-settings .label {
        background: rgba(43, 50, 58, 0.6); }
      @media (min-width: 768px) {
        .gsCol-layout .gs-col .gs-item {
          margin: 0; } }
      @media (min-width: 768px) {
        .gsCol-layout .gs-col .gs-item-wrapper {
          margin-bottom: 20px; } }
      .gsCol-layout .gs-col .gs-item.active {
        color: #2b323a; }
        .gsCol-layout .gs-col .gs-item.active .gs-settings .label {
          background: #2b323a; }
        @media (max-width: 767px) {
          .gsCol-layout .gs-col .gs-item.active {
            color: #4667a3; } }
      .gsCol-layout .gs-col .gs-item.link:hover {
        color: #4667a3; }
        @media (min-width: 768px) {
          .gsCol-layout .gs-col .gs-item.link:hover {
            background: #4667a3;
            color: white; } }
      @media (max-width: 767px) {
        .gsCol-layout .gs-col .gs-item {
          border-right: 1px solid rgba(43, 50, 58, 0.5); }
          .gsCol-layout .gs-col .gs-item:last-child {
            border-right: 0; } }
    .gsCol-layout .gs-col .section-label {
      padding: 0 10px 0 10px;
      margin-bottom: 20px;
      text-align: center; }
      @media (max-width: 767px) {
        .gsCol-layout .gs-col .section-label {
          display: none !important; } }
    .gsCol-layout .gs-col .tasks {
      width: auto;
      flex: 0 0 auto; }
      @media (max-width: 767px) {
        .gsCol-layout .gs-col .tasks {
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          display: flex; } }
      .gsCol-layout .gs-col .tasks .task-item {
        color: #2b323a;
        padding: 4px 10px 4px 30px; }
        .gsCol-layout .gs-col .tasks .task-item:before {
          content: "\f111";
          font-weight: 400;
          font-size: 10px;
          margin-right: 6px; }
        .gsCol-layout .gs-col .tasks .task-item.link {
          display: flex;
          align-items: center;
          font-size: 16px; }
          .gsCol-layout .gs-col .tasks .task-item.link.active {
            color: #4667a3;
            font-weight: bold; }
            .gsCol-layout .gs-col .tasks .task-item.link.active:before {
              font-weight: 900; }
          .gsCol-layout .gs-col .tasks .task-item.link:hover {
            color: #4667a3; }
            @media (min-width: 768px) {
              .gsCol-layout .gs-col .tasks .task-item.link:hover {
                background: #4667a3;
                color: white; } }
    @media (max-width: 767px) {
      .gsCol-layout .gs-col .gs-content {
        overflow-x: auto;
        margin: 0 auto;
        text-align: center; }
        .gsCol-layout .gs-col .gs-content .inner-flex {
          display: inline-flex;
          justify-content: center; } }
    @media (min-width: 768px) {
      .gsCol-layout .gs-col .gs-content.has-sublevel .gs-item {
        padding: 0 10px 0 30px; }
        .gsCol-layout .gs-col .gs-content.has-sublevel .gs-item:before {
          content: "\f0da";
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          font-size: 120%;
          position: absolute;
          left: 12px;
          bottom: 0; }
        .gsCol-layout .gs-col .gs-content.has-sublevel .gs-item.active:before {
          content: "\f0d7"; } }
  .gsCol-layout .main-col {
    flex: 1 1 0; }
    .gsCol-layout .main-col .section-label {
      background: transparent;
      box-shadow: unset;
      padding: 10px 20px; }
      .gsCol-layout .main-col .section-label.tab-label {
        padding-top: 0 !important; }
      @media (max-width: 767px) {
        .gsCol-layout .main-col .section-label {
          text-align: center;
          padding: 0; } }
    .gsCol-layout .main-col .highlight td {
      background: rgba(70, 103, 163, 0.2); }
    .gsCol-layout .main-col .table {
      text-align: center; }
      .gsCol-layout .main-col .table .position,
      .gsCol-layout .main-col .table .score {
        font-weight: bold; }
  .gsCol-layout .padded-container {
    padding: 0 20px; }

#leaderboard .table .score {
  font-size: 140%; }
#leaderboard .table .avatar {
  text-align: left; }
  #leaderboard .table .avatar img {
    border-radius: 50%;
    width: 40px;
    margin-right: 10px; }

@media (min-width: 768px) {
  #upload-list .main-col .section-label {
    padding: 0 !important;
    position: absolute; } }
#upload-list .main-col.padded-container {
  padding-bottom: 20px; }
#upload-list .main-col .tab-content {
  height: 100%; }
#upload-list .main-col .tab-pane.active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; }
#upload-list .main-col .flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; }
@media (min-width: 768px) {
  #upload-list .shift-content {
    margin-top: 70px; } }
#upload-list .pending-item {
  margin-bottom: 15px;
  font-size: 18px; }
  #upload-list .pending-item i {
    opacity: .8; }
#upload-list .table-wrapper {
  overflow: auto; }
  @media (min-width: 768px) {
    #upload-list .table-wrapper {
      min-height: 150px; } }
  #upload-list .table-wrapper .check {
    padding: 8px 2px; }
  #upload-list .table-wrapper .form-group.material {
    margin: 0; }
    #upload-list .table-wrapper .form-group.material label {
      margin: 0;
      position: unset; }
      #upload-list .table-wrapper .form-group.material label:before {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }
  #upload-list .table-wrapper td {
    transition: background-color .3s;
    padding: 4px 8px !important; }
  #upload-list .table-wrapper th {
    white-space: nowrap; }
  #upload-list .table-wrapper .score {
    font-size: 110%; }
  #upload-list .table-wrapper .upload-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  #upload-list .table-wrapper .actions {
    max-width: 250px;
    min-width: 200px;
    width: 200px; }
  #upload-list .table-wrapper .progress-wrapper {
    min-width: 200px; }
  #upload-list .table-wrapper .progress-bar {
    text-align: left;
    padding-left: 5px;
    font-size: 11px; }
#upload-list .lineChart-wrapper {
  height: 300px;
  min-height: 250px;
  margin-top: 50px; }
  #upload-list .lineChart-wrapper .message {
    background: rgba(210, 214, 222, 0.5);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 18px;
    text-align: center; }
  #upload-list .lineChart-wrapper canvas {
    display: none; }

#uploading-page .container-form {
  padding: 30px 0; }
  #uploading-page .container-form form {
    max-width: 480px;
    margin: auto; }
  #uploading-page .container-form .btn-wrapper {
    margin-bottom: 6px; }
    @media (min-width: 768px) {
      #uploading-page .container-form .btn-wrapper {
        padding-top: 40px; } }
  #uploading-page .container-form .btn {
    vertical-align: unset; }
#uploading-page .addSelectOption {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px; }
  @media (min-width: 768px) {
    #uploading-page .addSelectOption {
      flex-wrap: nowrap; } }
  #uploading-page .addSelectOption .form-group,
  #uploading-page .addSelectOption .add-new-item {
    margin: 0; }
  #uploading-page .addSelectOption .form-group {
    width: 100%; }
  #uploading-page .addSelectOption .add-new-item {
    font-size: 26px;
    cursor: pointer;
    color: #4667a3;
    display: flex;
    align-items: center;
    margin-top: 14px;
    margin-left: auto; }
    @media (min-width: 768px) {
      #uploading-page .addSelectOption .add-new-item {
        border-left: 1px solid rgba(210, 214, 222, 0.4);
        margin-left: 20px;
        margin-top: 0;
        padding-left: 10px; } }
    #uploading-page .addSelectOption .add-new-item i {
      transition: all .2s;
      margin-right: 4px; }
    #uploading-page .addSelectOption .add-new-item.rotate i {
      transform: rotate(45deg); }
    #uploading-page .addSelectOption .add-new-item.disabled {
      cursor: not-allowed;
      opacity: 0.4; }
    #uploading-page .addSelectOption .add-new-item:not(.disabled):hover {
      color: #3e5c91; }
@media (min-width: 768px) {
  #uploading-page .score-choice {
    margin-top: -10px; } }
#uploading-page .score-choice li {
  margin: 10px 0; }
  @media (min-width: 768px) {
    #uploading-page .score-choice li {
      width: calc(100% / 3);
      margin: 0 20px 0 0; } }
  #uploading-page .score-choice li br:first-child {
    display: none; }
@media (min-width: 768px) {
  #uploading-page #gs-option {
    text-align: center; } }
#uploading-page .message-uploads {
  margin-right: 20px;
  color: #4667a3; }
#uploading-page .background .nav-tabs {
  margin-top: 20px; }
#uploading-page .background .accordion {
  margin: 0 0 30px 0;
  max-width: unset; }
  #uploading-page .background .accordion .panel-title a {
    font-size: 16px; }

#annotation-form-id {
  max-width: 600px !important; }

#scoreExplanations .accordion {
  max-width: unset; }
#scoreExplanations .modal-dialog {
  width: 85% !important;
  max-width: 1024px !important;
  margin-left: auto;
  margin-right: auto; }
#scoreExplanations .modal-content {
  text-align: left;
  font-size: 16px; }
  #scoreExplanations .modal-content p mjx-container {
    margin-bottom: 30px; }

#evaluation .row.flex {
  flex-wrap: wrap; }
#evaluation .pieChart-wrapper {
  margin: auto;
  max-width: 350px;
  min-height: 200px; }
#evaluation .stackedBarChart-wrapper {
  min-height: 600px; }
  @media (min-width: 768px) {
    #evaluation .stackedBarChart-wrapper {
      min-height: 400px; } }
#evaluation .box.score .box-body {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: auto; }
#evaluation .box.score .score-wrapper {
  text-align: center;
  padding: 10px; }
#evaluation .box.score .score-label {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase; }
  @media (min-width: 992px) {
    #evaluation .box.score .score-label {
      font-size: 18px; } }
#evaluation .box.score .score-value {
  font-weight: 600;
  font-size: 20px; }
  @media (min-width: 992px) {
    #evaluation .box.score .score-value {
      font-size: 22px; } }
  @media (min-width: 1200px) {
    #evaluation .box.score .score-value {
      font-size: 30px; } }
#evaluation #ctaChart {
  margin: 50px auto 80px;
  width: 90%;
  height: 8px;
  background: #d2d6de;
  position: relative; }
  #evaluation #ctaChart .zero {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 180%;
    width: 2px;
    background: #2b323a;
    color: #2b323a; }
    #evaluation #ctaChart .zero i {
      position: absolute;
      bottom: 110%;
      transform: translateX(-50%); }
    #evaluation #ctaChart .zero .value {
      position: absolute;
      top: 110%;
      transform: translateX(-50%); }
  #evaluation #ctaChart .user-score {
    position: absolute;
    transform: translate(-50%, -70%);
    color: #4667a3;
    text-align: center;
    transition: all 1s ease-out;
    left: 2%;
    top: 0;
    z-index: 9; }
    #evaluation #ctaChart .user-score i {
      font-size: 28px;
      background: #d2d6de;
      border-radius: 50%; }
    #evaluation #ctaChart .user-score .value {
      font-size: 22px;
      font-weight: bold; }
  #evaluation #ctaChart .min i,
  #evaluation #ctaChart .max i {
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%); }
  #evaluation #ctaChart .min .text,
  #evaluation #ctaChart .max .text {
    position: absolute;
    margin-top: 20px; }
  #evaluation #ctaChart .min .value,
  #evaluation #ctaChart .max .value {
    font-size: 16px;
    font-weight: 500; }
  #evaluation #ctaChart .min .description,
  #evaluation #ctaChart .max .description {
    font-size: 12px; }
  #evaluation #ctaChart .min {
    color: #E74C3C; }
    #evaluation #ctaChart .min i, #evaluation #ctaChart .min .text {
      left: -25px; }
  #evaluation #ctaChart .max {
    color: #229954; }
    #evaluation #ctaChart .max i, #evaluation #ctaChart .max .text {
      right: -25px; }
    #evaluation #ctaChart .max .text {
      text-align: right; }
#evaluation .comparison .box-tools {
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px; }
  @media (max-width: 767px) {
    #evaluation .comparison .box-tools {
      float: none; } }
  @media (min-width: 768px) {
    #evaluation .comparison .box-tools {
      display: flex;
      margin-top: 10px; } }
#evaluation .comparison .form-group.material {
  margin: 0;
  width: 300px;
  max-width: 100%; }
  #evaluation .comparison .form-group.material label {
    background: white; }
#evaluation .comparison .filter {
  text-decoration: line-through;
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
  font-size: 12px;
  cursor: pointer;
  opacity: 0.6; }
  #evaluation .comparison .filter-wrapper {
    margin-right: 30px; }
    @media (max-width: 767px) {
      #evaluation .comparison .filter-wrapper {
        margin-bottom: 20px; } }
    @media (min-width: 768px) {
      #evaluation .comparison .filter-wrapper {
        margin-right: 30px; } }
  #evaluation .comparison .filter.active {
    text-decoration: none;
    opacity: 1; }
  #evaluation .comparison .filter:before {
    content: '';
    width: 30px;
    height: 15px;
    display: inline-block;
    margin-right: 5px; }
  #evaluation .comparison .filter.wrong:before {
    background: #E74C3C; }
  #evaluation .comparison .filter.missing:before {
    background: #95A5A6; }
#evaluation .comparison .loader {
  text-align: center; }
  #evaluation .comparison .loader i {
    font-size: 26px;
    opacity: .7; }
#evaluation .comparison .progressive-loading .message {
  margin-bottom: 20px; }
  #evaluation .comparison .progressive-loading .message.error {
    color: #b8001d; }
#evaluation .comparison .comparison-table-wrapper .search-item {
  background: #ffd85b; }
#evaluation .comparison .comparison-table-wrapper table {
  color: #2b323a; }
  #evaluation .comparison .comparison-table-wrapper table tbody td {
    background: transparent; }
  #evaluation .comparison .comparison-table-wrapper table td.numeric {
    text-align: center;
    width: 80px;
    min-width: 80px;
    max-width: 80px; }
  #evaluation .comparison .comparison-table-wrapper table td.ann {
    width: 400px;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis; }
  #evaluation .comparison .comparison-table-wrapper table td .item {
    padding: 4px 6px;
    margin-bottom: 3px; }
    #evaluation .comparison .comparison-table-wrapper table td .item:last-child {
      margin-bottom: 0; }
  #evaluation .comparison .comparison-table-wrapper table a {
    color: inherit; }
  #evaluation .comparison .comparison-table-wrapper table .wrong {
    background: rgba(231, 76, 60, 0.15); }
    #evaluation .comparison .comparison-table-wrapper table .wrong .ann.my, #evaluation .comparison .comparison-table-wrapper table .wrong.item {
      color: #E74C3C; }
  #evaluation .comparison .comparison-table-wrapper table .na,
  #evaluation .comparison .comparison-table-wrapper table .missing {
    background: rgba(149, 165, 166, 0.5); }
    #evaluation .comparison .comparison-table-wrapper table .na .ann.my,
    #evaluation .comparison .comparison-table-wrapper table .missing .ann.my {
      color: #95A5A6; }
  #evaluation .comparison .comparison-table-wrapper table .right {
    background: rgba(34, 153, 84, 0.2);
    color: #229954; }
  #evaluation .comparison .comparison-table-wrapper table .mainGsAnn {
    display: inline-block;
    max-width: calc(100% - 40px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  #evaluation .comparison .comparison-table-wrapper table .gsAlt {
    font-size: 95%;
    padding: 0 10px 0 20px;
    opacity: .8; }
    #evaluation .comparison .comparison-table-wrapper table .gsAlt a {
      display: block;
      margin: 6px 0; }
  #evaluation .comparison .comparison-table-wrapper table .showAlternatives {
    cursor: pointer; }

#gs-management .gs-item.active {
  color: #4667a3;
  font-weight: bold; }
#gs-management .row.flex {
  flex-wrap: wrap;
  align-items: stretch; }
  #gs-management .row.flex > .col {
    margin-bottom: 30px; }
    @media (min-width: 992px) {
      #gs-management .row.flex > .col {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        width: auto; } }
  #gs-management .row.flex .box {
    height: 100%;
    margin-bottom: 0; }
  #gs-management .row.flex .form-group.material {
    margin-bottom: 10px; }
#gs-management .delete-gs {
  margin-top: 80px; }
  #gs-management .delete-gs .box-title {
    font-size: 18px; }

#board {
  padding-top: 20px;
  padding-bottom: 20px; }
  #board .box {
    border-top: unset; }
    #board .box-header {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      #board .box-header:before {
        content: unset; }
    #board .box-actions {
      margin-left: auto; }
  #board .btn-xxs {
    vertical-align: text-top; }
  #board trix-toolbar .trix-button-group--file-tools {
    display: none; }
  #board trix-editor {
    min-height: 10em; }
  #board form .btn {
    margin-top: 10px; }
  #board .description h2 {
    font-size: 30px; }
  #board .news h4 {
    font-size: 20px; }
  #board .news .date {
    margin-top: 6px;
    margin-left: 2px;
    font-size: 12px;
    color: #878787;
    font-weight: 400; }
    #board .news .date i {
      font-size: 85%;
      opacity: .8; }
  #board .news #add-news .box-title {
    margin-bottom: 20px;
    display: block; }
  #board .news .box.no-message {
    margin-top: -20px; }
  @media (min-width: 992px) {
    #board .news, #board .description {
      margin-right: 8px; } }

#membership {
  padding-top: 20px;
  padding-bottom: 20px; }
  #membership .list-group-item .username {
    margin-left: 8px; }
  #membership .list-group-item .is-staff-switch {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    color: #4667a3; }
    #membership .list-group-item .is-staff-switch .switch {
      margin-right: 4px; }
  #membership .status-label {
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 10px;
    display: inline-block;
    border-radius: 3px;
    color: white; }
    #membership .status-label.pending {
      background: #eaa035; }
    #membership .status-label.success {
      background: #44985e; }

/*# sourceMappingURL=style.css.map */
